<div id="contentwrapper">
  <div id="content">
    <div id="header" class="wrapper">
      <a href="/"><img ng-src="((assets_url))/assets/weblight/images/logo.png"></a>
    </div>
    <div ng-include src="'videoplayer.html'"></div>
  </div>
</div>
<div id="aside" ng-controller="ChannelCtrl">
  <div id="cover" ng-style="{'background-image': 'url(' + channel.cover.thumbnail_url + ')' }">
    <div id="channelTitle">((channel.title))</div>
  </div>
  <div id="videos">
    <div id="videoheader"><img ng-src="((channel.owner.avatar))"> <span class="text">This pack was made with love by <a href="/channel/((channel.owner.id))/((channel.id))/#" class="highlight">((channel.owner.display_name | truncate : 30))</a></span></div>
    <div id="videolistContaienr" ng-style="{'height': channelHeight+'px'}">
      <ul id="videoslist" infinite-scroll='load_videos()' infinite-scroll-distance='2'>
        <li ng-repeat="video in channel.videos.items" ng-click="showVideo(video, $index)" ng-class="{active: videoPosition == $index}">
          ((video.title | truncate : 30))
        </li>
      </ul>
    </div>
  </div>
</div>
