<div ng-controller="VideoCtrl" id="lightbox" ng-show="videoVisible">
  <div id="playercontainer" ng-mouseover="mouseOver()" ng-mouseout="mouseOut()">
    <div id="closeVideo" ng-click="closeVideo()"></div>
    <div id="playerheader">
      <img ng-src="((ChannelAvatar))">
      <div id="desc">
        <div class="name">
          ((channel.title))
        </div>
        <div class="user">
          ((channel.owner.display_name))
        </div>
      </div>
    </div>
    <div id="player"></div>
    <div class="visible-desktop" id="pause" ng-class="{play: playerState=='2', 'hideOverlay': hideOverlay && playerState=='1'}" ng-click="pausePlay()"></div>
    <div class="visible-desktop" id="scrubber" ng-click="seekTo($event)" ng-mouseover="mouseOver()" ng-class="{'hideOverlay': hideOverlay && playerState=='1'}">
      <div id="currentPosition" ng-style="{'width': currentPosition*100 +'%'}"></div>
      <div id="loadedData"></div>
    </div>
    <div id="playerfooter">
      ((videodata.title))
    </div>
  </div>
</div>