

  <footer>
    <div class="inner">
      <div class="top">
        <div class="col col-1">
          <ul>
            <li><a href="/#/our-content">Our Content</a></li>
            <li><a href="/#/our-categories">Our Categories</a></li>
            <!--<li><a href="/#/upload">Content Providers</a></li>-->
            <li><a href="/#/partners">Partners</a></li>
            <li><a href="/#/about-us">About Us</li>
          </ul>
        </div><!--
        --><div class="col col-2">
          <ul>
            <li><a class="footer-link" data-anchor="team" href="/#/about-us#team">Team</a></li>
            <li><a class="footer-link" data-anchor="partners" href="/#/about-us#partners">Partners</a></li>
            <!-- <li><a class="footer-link" data-anchor="press" href="/#/about-us#press">Press</a></li> -->
            <li><a class="footer-link" data-anchor="logos" href="/#/about-us#logos">Logos</a></li>
            <li><a class="footer-link" data-anchor="contact-us" href="/#/about-us#contact-us">Contact Us</a></li>
            <li><a class="footer-link" data-anchor="careers" href="/#/about-us#careerss">Careers</a></li>
          </ul>
        </div><!--
     --><div class="col col-3">
            <a href="http://www.universalstudios.com/" target="_blank"><img src="{{config.ASSETS_URL}}/assets/dolly/img/footer-logos-universal.png" /></a>
            <a href="http://epidemicsound.com/" target="_blank"><img src="{{config.ASSETS_URL}}/assets/dolly/img/footer-logos-epidemic.png" /></a>
        </div><!--
     --><div class="col col-4">
          <a href="http://ooyala.com/" target="_blank" class="ooyala"><img src="{{config.ASSETS_URL}}/assets/dolly/img/footer-logos-ooyala.png" /></a>
          <div class="clear"></div>
          <a href="{{ config.ITUNES_APP_LINK }}&amp;ct=home" target="_blank" class="app-store-link"></a>
        </div>
      </div>  
    </div>
    
    <div class="trim">
      <div class="inner">
        <div class="left">
          Made with love in London, England.<br/>
          &copy; Wonder Place Ltd.
        </div><!--
        --><div class="middle"><a href="/privacy">Privacy Policy</a> | <a href="/tos">Terms</a> | <a href="#">Copyright</a></div><!--
        --><div class="right"><a href="#" class="social wonder-icon-facebook"></a>
            <a href="#" class="social wonder-icon-twitter"></a>
            <a href="#" class="social wonder-icon-linkedin"></a>
            <a href="#" class="social wonder-icon-instagram"></a></div>
      </div>
    </div>
  </footer>
