

  <footer>
    <div class="inner">
      <div class="top">
        <div class="col col-1">
          <ul>
            <li><a href="/#/our-content">Our Content</a></li>
            <li><a href="/#/our-categories">Our Categories</a></li>
            <li><a href="/#/upload">Content Providers</a></li>
            <li><a href="/#/partners">Partners</a></li>
            <li><a href="/#/about-us">About Us
              <ul>
                <li><a href="#">Team</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </li>
          </ul>
        </div><!--
        --><div class="col col-2">
          <ul>
            <li><a href="/#/our-content">Our Content</a></li>
            <li><a href="/#/our-categories">Our Categories</a></li>
            <li><a href="/#/upload">Content Providers</a></li>
            <li><a href="/#/partners">Partners</a></li>
            <li><a href="/#/about-us">About Us
              <ul>
                <li><a href="#">Team</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </li>
          </ul>
        </div><!--
     --><div class="col col-3">
            <a href="#"><img src="{{config.ASSETS_URL}}/assets/dolly/img/footer-logos-universal.png" /></a>
            <a href="#"><img src="{{config.ASSETS_URL}}/assets/dolly/img/footer-logos-ooyala.png" /></a>
            <a href="#"><img src="{{config.ASSETS_URL}}/assets/dolly/img/footer-logos-epidemic.png" /></a>
        </div><!--
     --><div class="col col-4">
          <span class="row top">
            <a href="#" class="social icon-facebook"></a>
            <a href="#" class="social icon-twitter"></a>
            <a href="#" class="social icon-linkedin"></a>
          </span>
          <span class="row bottom">
            <a href="#" class="social icon-pinterest"></a>
            <a href="#" class="social icon-instagram"></a>
          </span>
          <div class="clear"></div>
          <a href="#" class="app-store-link"></a>
        </div>
      </div>  
    </div>
    
    <div class="trim">
      <div class="inner">
        <div class="left">
          Made with love in London, England.
        </div><!--
        --><div class="middle"><a href="/privacy">Privacy Policy</a> | <a href="/tos">Terms</a> | <a href="#">Copyright</div><!--
        --><div class="right">&copy; Wonder Place Ltd.</div>
      </div>
    </div>
  </footer>
