

  <footer>
    <div class="inner">
      <div class="top">
        <div class="col col-1">
          <ul>
            <li><a href="/#/our-content">Our Content</a></li>
            <li><a href="/#/our-categories">Our Categories</a></li>
            <li><a href="/#/upload">Upload</a></li>
            <li><a href="/#/about-us">About Us</li>
            <li><a class="footer-link" data-anchor="team" href="/#/about-us">Team</a></li>
          </ul>
        </div><!--
        --><div class="col col-2">
          <ul>
            <li><a class="footer-link" data-anchor="partners" href="/#/about-us">Partners</a></li>
            <!-- <li><a class="footer-link" data-anchor="press" href="/#/about-us#press">Press</a></li> -->
            <li><a class="footer-link" data-anchor="logos" href="/#/about-us">Logos</a></li>
            <li><a class="footer-link" data-anchor="contact-us" href="/#/about-us">Contact Us</a></li>
            <li><a class="footer-link" data-anchor="careers" href="/#/about-us">Careers</a></li>
            <li><a href="/#/faq">FAQs</a></li>
          </ul>
        </div><!--
     --><div class="col col-4">
          <h3>Get the app</h3>
          <a href="{{ config.ITUNES_APP_LINK }}&amp;ct=home" target="_blank" class="app-store-link"></a>
        </div><!--
        --><div class="col col-3">
            <a href="http://ooyala.com/" target="_blank" class="ooyala"><img lazyload data-src="{{config.ASSETS_URL}}/assets/dolly/img/footer-logos-ooyala.png" /></a>
            <!-- <a href="http://www.universalstudios.com/" target="_blank"><img lazyload data-src="{{config.ASSETS_URL}}/assets/dolly/img/footer-logos-universal.png" /></a> -->
            <a href="http://epidemicsound.com/" target="_blank"><img lazyload data-src="{{config.ASSETS_URL}}/assets/dolly/img/footer-logos-epidemic.png" /></a>
        </div>
      </div>  
    </div>
    <div class="trademark">
      <div class="inner">
        <p>Apple, the Apple logo, iPhone and iPad are trademarks of Apple Inc., registered in the U.S and other countries.  App Store is a service mark of Apple Inc.</p>
      </div>
    </div>
    <div class="trim">
      <div class="inner">
        <div class="left">
          Made with love in London, England.<br/>
          &copy; Wonder Place Ltd.
        </div><!--
        --><div class="middle"><a href="/privacy">Privacy Policy</a> | <a href="/tos">Terms</a> | <a href="#">Copyright</a></div><!--
        --><div class="right"><a href="http://www.facebook.com/WonderPL" target="_blank" class="social wonder-icon-facebook"></a>
            <a href="http://twitter.com/wearewonderpl" target="_blank" class="social wonder-icon-twitter"></a>
            <a href="http://www.linkedin.com/company/wonder-pl" target="_blank" class="social wonder-icon-linkedin"></a>
            <a href="http://instagram.com/wearewonderpl" target="_blank" class="social wonder-icon-instagram"></a></div>
      </div>
    </div>
  </footer>
