

  <footer>
    <div class="trademark">
      <div class="inner">
        <p>Apple, the Apple logo, iPhone and iPad are trademarks of Apple Inc., registered in the U.S and other countries.  App Store is a service mark of Apple Inc.</p>
      </div>
    </div>
    <div class="trim">
      <div class="inner">
        <div class="left">
          Made with love in London, England.<br/>
          &copy; Wonder Place Ltd.
        </div><!--
        --><div class="middle"><a href="/privacy">Privacy Policy</a> | <a href="/tos">Terms</a> | <a href="#">Copyright</a></div><!--
        --><div class="right"><a href="#" class="social wonder-icon-facebook"></a>
            <a href="#" class="social wonder-icon-twitter"></a>
            <a href="#" class="social wonder-icon-linkedin"></a>
            <a href="#" class="social wonder-icon-instagram"></a></div>
      </div>
    </div>
  </footer>
