
<header id="header">
  <div class="inner">
    <a href="/#/" class="logo"></a>
    <nav>
      <ul class="f-sans">
        <li><a href="/#/our-content">Our Content</a></li><!--
        --><li><a href="/#/our-categories">Our Categories</a></li><!--
        --><li><a href="/#/upload">Upload</a></li><!--
        --><li><a href="/#/partners">Partners</a></li><!--
        --><li><a href="/#/about-us">About Us</a></li>
      </ul>
    </nav>
    <a href="{{ config.ITUNES_APP_LINK }}&amp;ct=home" target="_blank" class="app-store-link"></a>
    <a class="nav-toggle wonder-icon-reorder desktop-hidden"></a>
  </div>
</header>
