
/* 	Tablet styles
/* ======================================= */

#wonder-wrapper {

	#wonder-poster {
		span {
			top: -46px;
			font-size: 40px;
			line-height: 57px;
			
			&:after {
				padding: 12px 0;
				font-size: 13px;
			}
		}
	}

	#wonder-controls {
		height: 50px;

		a {
			font-size: 20px;

			&:hover, &:focus, &:active {
				color: @lavender;
			}

			&.hidden {
				display: none;
			}

			&.wonder-play {
				width: 10%;
				max-width: 60px;
				height: 50px;
			}

			&.wonder-pause {
				width: 10%;
				max-width: 60px;
				height: 50px;
			}

			&.wonder-volume {
				left: auto;
				right: 33.5%;
			}

			&.wonder-rewind {
				left: 62px;
				top: 14px;
			}

			&.wonder-logo {
				right: 10%;
				left: auto;
				top: 6px;
				width: 20%;
				background-size: 100% auto;
			}

			&.wonder-fullscreen {
				right: 0px;
				top: 0px;
				width: 10%;
				max-width: 60px;
				height: 48px;
			}
		}
	
		span.wonder-timer {
			right: 32%;
			left: auto;
			padding-top: 16px;
			font-size: 13px;
			width: 10%;
			display: none;

		}

		// The wrappers for the scrubber bars
		.scrubber, .scrubber-progress {

			&.vid {
				top: 21px;
				width: 48%;
				left: 10%;
			}

			&.vol {
				left: auto;
				right: 33.5%;
			}
			
		}

		.scrubber-progress {
			&.vid{
				left: 0;
				top: 0;
				width: 0%;
			}

			&.vol {
				left: 0;
				right: 0;
			}
		}

		.scrubber-target {
			&.vid {
				width: 52%;
				left: 8%;
			}

			&.vol {
				left: auto;
				right: 33.5%;
			}
		}

		.scrubber-progress {
			&.vol {
				
			}
		}
		.scrubber-handle {

			&.vid {
				top: -8px;
				left: 0%;
			}

			&.vol {
			}
		}
	}
}