
/* 	Global styles
/* ======================================= */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clear {
  clear: both;
  height: 0px;
  overflow: hidden;
}

html, body {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	color: @grey;
	font-family: 'proxima-nova', sans-serif;
	font-style: normal;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

.view-animate {
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
  opacity: 1;
  position: relative;
  z-index: 50;
}
.view-animate.ng-enter, .view-animate.ng-leave {
  opacity: 1;
}
.view-animate.ng-enter {
  opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  margin: 0 auto;
}

a {
	color: @lilac;
	text-decoration: none;
	-webkit-transition: color .1s ease-out, background .1s ease-out;
	-moz-transition: color .1s ease-out, background .1s ease-out;
	-o-transition: color .1s ease-out, background .1s ease-out;
	transition: color .1s ease-out, background .1s ease-out;

	&:hover, &:active, &:focus {
		outline: none;
		color: inherit;
	}
}

.section {
	display: block;
	width: 100%;
	position: relative;

	&.base {
		h1 {
			text-align: center;
			margin: 0 0 32px 0;
		}

		h2, h3, p, li {
			text-align: left;
			font-family: 'Lato', sans-serif;
			font-style: normal;
			font-weight: 400;
			width: 90%;
			display: block;
			margin: 0 auto 12px auto;
		}

		p {
			
		}

		ul, ol {
			padding: 0 0 0 22px;
			width: 90%;
			display: block;
			margin: 0 auto 12px auto;

			p, h3, li, ul, ol {
				margin: 0 0 12px 0;
			}

			ol, ul {
				li {
					list-style-type: upper-roman;
				}
			}
		}

		li {
			display: list-item;
			list-style-type: disc;
			margin: 0 0 12px 0;
			line-height: 26px;
		}

		ol li {
			list-style-type: lower-alpha;
		}

		table {
			display: block;
			width: 90%;
			margin: 0 auto 22px auto;
			text-align: center;
			text-align: left;
			font-family: 'Lato', sans-serif;
			font-style: normal;
			font-weight: 400;

			tbody, tr {
				// display: block;
				width: 100%;
			}
		}
	}
}

.inner {
	display: block;
	max-width: 1024px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	text-align: center;

	&.half-width {
		width: 50%;
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;
		*vertical-align: auto;
		zoom: 1;
		*display: inline;
		vertical-align: top;
	}

	img {
		display: block;
		margin: 0 auto;
	}
}

.padding {
	&.bottom {
		padding-bottom: 32px;
	}
	&.top {
		padding-top: 32px;
	}
}

.margin {
	&.bottom {
		margin-bottom: 32px;
	}
	&.top {
		margin-top: 32px;
	}
}

ul.anchor-nav {
	displas: block;
	margin: 0 0 52px 0;

	// li {
	// 	display: inline;
	// 	border-left: 1px solid @darkgrey;

	// 	&:first-child {
	// 		padding: 0;
	// 		border: none;
	// 	}

	// 	a {
	// 		font-size: 20px;
	// 		padding: 0 13px;
	// 		color: @headinggrey;
	// 		text-decoration: none;
	// 		-webkit-transition: color .1s ease-out;

	// 		&:hover, &:focus, &:active {
		// outline: none;
	// 			color: @lilac;
	// 		}
	// 	}
	// }
}

.inner-full {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;
	text-align: center;

	img {
		display: block;
		width: 100%;
	}
}

header {
	display: block;
	position: relative;
	height: 100px;
	text-align: center;

	a.logo {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 145px;
		z-index: 101;
		background: transparent url('/static/assets/dolly/img/header-logo-grey-bars-retina.png') center center no-repeat;
		background-size: 100% auto;
	}

	nav {
		display: block;
		padding: 0 125px;
		height: 100%;

		ul {
			
		}

		li {
		}

		a {
			color: @grey;
			font-size: 18px;
			text-decoration: none;
			-webkit-transition: all .1s ease-out;
			-moz-transition: all .1s ease-out;
			-o-transition: all .1s ease-out;

			&:hover, &:focus, &:active {
				outline: none;
				color: @lilac;
			}
		}
	}

	a.app-store-link {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 125px;
		background: transparent url('/static/assets/dolly/img/header-download-button.png') center center no-repeat;
	}
}






/* 	Home page
/* ======================================= */

#home-splash {
	display: block;
	background: transparent url('/static/assets/dolly/img/home-wood-big.jpg') center top no-repeat;
	background-size: auto 100%;
	margin: 0 0 32px 0;

	img {
		display: block;
		width: 100%;
	}
}

#home-sponsors {

}

#home-description {
	display: block;
	text-align: center;
	padding:  40px 0 90px 0;

	p {
		font-size: 26px;
		line-height: 32px;
		padding: 0 15%;
	}
}

#home-partners, #content-partners {
	display: block;
	margin: 0 0 62px 0;

	h2 {
		color: @darkgrey;
		font-size: 36px;
		line-height: 44px;
		margin: 0 0 42px 0;
	}

	ul {
		display: block;
		width: 100%;

		li {
			position: relative;
			display: block;
			width: 33.3333%;
			display: -moz-inline-stack;
			display: inline-block;
			vertical-align: middle;
			*vertical-align: auto;
			zoom: 1;
			*display: inline;
			vertical-align: top;

			&:before {
				content: '';
				display: block;
				padding-top: 82%;
			}

			img {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				display: block;
				width: 75%;
				margin: auto;
			}

			h3 {
				font-size: 32px;
				color: @headinggrey;
			}

			p {
				padding: 0 12%;
				font-size: 20px;
				line-height: 24px;
			}
		}
	}
}

#content-partners {
	margin: 0 0 32px 0;
}

#home-ipad {
	display: block;
	position: relative;

	img {
		display: block;
		width: 100%;
		margin: 0 auto 62px auto;
	}
}

#home-mood-minder {		

	.iphone {
		display: block;
		position: relative;
		float: left;
		width: 35%;

		img {
			display: block;
			width: 100%;
		}
	}

	.centered {
		display: block;
		position: relative;
		float: right;
		width: 65%;
		text-align: left;
		padding: 6% 6% 0 0;
	}

	h3 {
		color: @darkgrey;
		font-size: 26px;
	}

	p {
		color: @grey;
		font-size: 22px;
		line-height: 26px;
		font-family: serif;
	}
}



/* 	Our Categories page
/* ======================================= */

.category {
	display: block;
	margin: 0 0 32px 0;

	.icon {
		max-width: 170px;
		width: 100%;
		display: block;
		margin: 0 auto 24px auto;

		img {
			display: block;
			width: 100%;
		}
	}

	h3 {
		font-size: 28px;
		color: @headinggrey;
		padding: 0 12%;
	}

	p {
		font-size: 20px;
		line-height: 26px;
		padding: 0 12%;
	}
}



/* 	Our content page
/* ======================================= */

.page-intro {
	margin: 0 auto 32px auto;

	h2 {
		font-size: 22px;
		line-height: 28px;
		padding: 0 16%;
	}
}



/* 	Partners page
/* ======================================= */

.section {

	&.partner {
		display: block;
		margin: 0 0 42px 0;

		.icon {
			display: block;
			margin: 0 16px;
		}

		p.standout {
			font-size: 20px;
			line-height: 26px;
			padding: 0 18%;
		}
	}
}



/* 	Upload page
/* ======================================= */

#upload-page, #about-us-page {
	.section {
		h2 {
			color: @headinggrey;
		}
		p.standout {
			font-size: 20px;
			line-height: 26px;
			padding: 0 18%;
		}
		.wonder-box {
			display: block;
			margin: 32px auto;
			max-width: 420px;
			width: 80%;
		}
		.inner.phones {
			max-width: 960px;

			img {
				width: 38%;
				margin: 0 6%;
				display: -moz-inline-stack;
				display: inline-block;
				vertical-align: middle;
				*vertical-align: auto;
				zoom: 1;
				*display: inline;
				vertical-align: top;
			}
		}
	}
}



/* 	About us page
/* ======================================= */

.inner {
	img.logo {
		display: block;
		margin: 22px auto;
		max-width: 60%;
	}
}

.google-maps-directive {
	width: 100%;
	height: 420px;
	position: relative;
	display: block;
}

.gradient {
	padding: 22px 0;
	margin: 0 auto 42px auto;

	&.pink {
		background: #bdbbd5; /* Old browsers */
		background: -moz-linear-gradient(top,  #bdbbd5 1%, #e3e2ed 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#bdbbd5), color-stop(100%,#e3e2ed)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #bdbbd5 1%,#e3e2ed 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #bdbbd5 1%,#e3e2ed 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #bdbbd5 1%,#e3e2ed 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #bdbbd5 1%,#e3e2ed 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdbbd5', endColorstr='#e3e2ed',GradientType=0 ); /* IE6-9 */
	}
}



/* 	Hints WebUIView
/* ======================================= */

#hints-wrapper {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: black;
	background: rgba(0,0,0,0.75);
	color: #fff;
	font-family: 'proxima-nova', sans-serif;
	font-weight: 300;

	ul {
		display: block;
		max-width: 640px;
		width: 88%;
		margin: auto;
		padding: 32px 0;
		height: 500px;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	li {
		font-size: 22px;
		line-height: 28px;
		display: block;
		position: relative;
		margin: 0 0 20px 0;
		padding: 0 0 0 80px;

		&.item-1 {
			background: transparent url('/static/assets/dolly/img/hints/item-1.png') left top no-repeat;			
		}

		&.item-2 {
			background: transparent url('/static/assets/dolly/img/hints/item-2.png') left top no-repeat;
		}

		&.item-3 {
			background: transparent url('/static/assets/dolly/img/hints/item-2.png') left top no-repeat;
		}

		&.item-4 {
			background: transparent url('/static/assets/dolly/img/hints/item-4.png') left top no-repeat;			
		}

		&.item-5 {
			background: transparent url('/static/assets/dolly/img/hints/item-6.png') left top no-repeat;
		}

		&.item-6 {
			background: transparent url('/static/assets/dolly/img/hints/item-6.png') left top no-repeat;			
		}

		&.item-7 {
			background: transparent url('/static/assets/dolly/img/hints/item-7.png') left top no-repeat;
		}
	}
	
	a.cancel {
		display: block;
		position: absolute;
		left: 22px;
		top: 22px;
	}

}
