
/* 	Mobile styles
/* ======================================= */

body.dolly {
	padding-top: 60px;
	-webkit-transition: padding .2s ease-out;

	&.toggled {
		padding-top: 220px;
	}
}

.mobile-hidden {
	display: none !important;
}

.mobile-break {
	display: block;
}

.tablet-only {
	display: none;
}

.desktop-break {
	display: inline;
}

.section {
	width: 100%;
	max-width: 100%;
}

.inner {
	width: 100%;
	max-width: 100%;
	
	&.half-width, &.third-width {
		width: 100%;
		display: block;
	}

	img {
		max-width: 90%;
	}
}

header {
	display: block;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 60px;
	background: @lilac;
	color: #fff;
	overflow: hidden;
	-webkit-transition: height .2s ease-out;

	a {
		color: #fff;
	}

	a.logo {
		background: transparent url('/static/assets/dolly/img/header-logo-white-bars-retina.png') center center no-repeat;
		background-size: 100% auto;
		width: 140px;
		height: 50px;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 6px;
	}

	a.app-store-link {
		display: none;
	}
	
	a.nav-toggle {
		display: block;
		position: absolute;
		right: 16px;
		top: 16px;
		font-size: 32px;
		-webkit-transition: all .2s ease-out;
		user-select: none;
		z-index: 101;
	}

	nav {
		position: relative;
		width: 100%;
		margin: 0;
		padding: 0;
		padding-top: 66px;

		ul {
			margin: 0;
			padding: 0;
		}
		
		li {
			display: block;
			// display: inline-block;
			// width: 50%;
			margin: 0 0 6px 0;
		}

		a {
			color: #fff;

			&:hover, &:active, &:focus {
				color: @grey;
			}
		}
	}


	&.toggled {
		height: 220px;

		a.nav-toggle {
			-webkit-transform: rotate( 90deg );
		}
	}

}

footer {
	display: block;
	width: 100%;
	background: @lilac;
	color: #fff;
	position: relative;
	z-index: 1000;

	h3 {
		color: @grey;
	}

	a {
		color: #fff;
		-webkit-transition: color .1s ease-out;

		&:hover, &:active, &:focus {
			color: @grey;
		}
	}

	div.top {
		// border-top: 1px solid #e2e2e2;
		background: #fcfcfc;
		display: block;
		width: 100%;
	}

	.col-1, .col-2, .col-3, .col-4 {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		padding: 0 0 0 12px;
		
		a {
			color: @grey;
		}
		
		ul {
			padding: 16px 0 16px 6px;
		}

		li {
			text-align: center;
			font-family: 'proxima-nova', sans-serif;
			font-style: normal;
			font-weight: 300;
			font-size: 17px;
			line-height: 26px;

			ul {
				padding: 0 0 0 10px;
				li {
					font-size: 13px;
					line-height: 20px;
					// padding: 0 0 0 12px;
				}
			}
		}
	}

	.col-3, .col-4 {
		padding: 0;

		img {
			display: block;
			width: 50%;
			margin: 0 auto 12px auto;
		}

		a {
			display: block;
			&.ooyala {

				img {
					margin: 0 auto 34px auto;
				}		
			}
		}
		a.app-store-link {
			display: block;
			position: relative;
			width: 125px;
			margin: 0 auto;
			background: transparent url('/static/assets/dolly/img/header-download-button-retina-v1.png') center center no-repeat;
			background-size: 100% auto;
			&:before {
				content: '';
				display: block;
				padding-top: 50%;
			}
		}
	}

	.col-4 {
		padding-top: 18px;
	}
	.trademark {
		p {
			margin: 10px 0 5px 0;
			padding: 0 20px;
		}
	}
	.trim {
		display: block;
		
		.left {
			display: block;
			width: 100%;
			font-size: 15px;
			line-height: 23px;
			padding: 6px;
		}
		.middle{
			padding: 3px;
			display: block;
			vertical-align: middle;
			font-size: 11px;
			margin: 0 0 12px 0;
		}
		.right {
			display: block;
			padding-bottom: 12px;
			a.social {
				display: inline-block;
				width: 20px;
				height: 20px;
				background: #999999;
				text-align: center;
				color: #fff;
				padding: 4px 0 0 0;
				font-size: 12px;
				-webkit-border-radius: 100px;
				-moz-border-radius: 100px;
				border-radius: 100px;
				margin: 3;
				-webkit-transition: background .1s ease-out;

				&:hover, &:active, &:focus {
					color: #fff;
					background: @lilac;
				}
			}
		}
	}
}

#home-splash {
	height: 200px;
}

#home-description {
	padding: 10px 0 50px 0;

	p {
		font-size: 20px;
		line-height: 26px;
		padding: 0 6%;
	}
}

#home-ipad {
	img {
		margin: 0 auto 32px auto;
	}
}

#home-mood-minder {
	display: block;
	padding: 0 0 32px 0;

	.iphone {
		position: absolute;
		left: 6%;
		top: 0;
	}

	.centered {
		width: 100%;
		padding: 0;
		margin: 0 0 22px 0;
	}
	h3 {
		padding: 0 6% 0 42%;
		font-size: 19px;
	}

	p {
		font-size: 13px;
		line-height: 21px;
		padding: 0 6% 0 42%;

		&:last-child {
			// padding: 0 6%;
		}
	}
}

#home-partners, #content-partners, .content-partners {
	h2 {
		font-size: 20px;
		line-height: 26px;
	}
	ul {
		li {
			width: 50%;
			max-width: 420px;
			margin: 0 auto 60px auto;

			h3 {
				font-size: 20px;
				line-height: 26px;
				margin: 0 0 8px 0;
			}

			p {
				margin: 0;
				font-size: 18px;
				line-height: 25px;
			}
		}	
	}
}

#home-partners ul li {
	margin: 0 0 62px 0;

	&:before {
		padding-top: 72%;
	}
}

h1 {
	padding: 22px 12px 0px 12px;
	font-size: 30px;
}

h3 {
	padding: 0 6%;
	line-height: 26px;
}

.page-intro {
	h2 {
		font-size: 17px;
		line-height: 26px;
		padding: 0 6% 10px 6%;
	}
}

ul.anchor-nav {
	display: block;
	margin: 0 0 10px 0;
	padding: 0 20px;
	li {
		display: inline-block;
		margin: 0 5px 8px 5px;

		a {
			display: block;
			font-size: 15px;
			line-height: 21px;
			background: @lilac;
			color: #fff;
			padding: 2px 6px;
			-webkit-border-radius: 3px;
			-webkit-transition: background .1s ease-out;

			&:hover, &:focus, &:active {
				background: @grey;
			}
		}
	}
}

.category {

	p {
		padding: 0 6%;
	}
}



/* 	Upload page
/* ======================================= */


#upload-page .section .inner.page-intro, #upload-page .section:first-child {
	margin-bottom: 0px !important;
}

#upload-page, #about-us-page {
	.section {
		
		h2 {
			color: @headinggrey;

			&.standout {
				font-size: 22px;
				line-height: 32px;
			}
		}

		p.standout {
			font-size: 17px;
			line-height: 25px;
			padding: 0 6%;
		}

		&.upload, &.about-us {
			margin-bottom: 32px;
		}

		.break {
			display: block;
			width: 15%;
			margin: 22px auto;
			height: 1px;

			&.blue {
				border-top: 2px solid @lilac;	
			}
		}

		.inner.upload-intro-left-top {
			display: block;
			width: 100%;
			padding: 0 20px;

			img {
				display: block;
				width: 100%;
			}
		}
		
		.inner.upload-intro-right-top {
			display: block;
			width: 100%;
			padding: 20px 20px 0 20px;

			h3 {
				padding: 0;
				text-align: center;
				font-size: 18px;
			}
		}

		.inner.upload-intro-left-bottom {
			display: block;
			width: 100%;
			padding: 0 20px;

			img {
				display: block;
				width: 40%;
				margin: 0 auto 22px auto;
			}
		}
		
		.inner.upload-intro-right-bottom {
			display: block;
			width: 100%;
			padding: 0 20px;

			h2 {
				padding: 0;
				font-size: 18px;
				line-height: 28px;
				text-align: center;
			}
		}

		.inner.phones {
			padding-bottom: 0px !important;
			.inline {
				display: block;
				width: 100%;
				margin: 0 0 22px 0;
			}
		}
	}
}

.google-maps-directive {
	// margin: 0 !important;
}


/* 	Partners page
/* ======================================= */

.section {

	&.partner {
		display: block;
		margin: 0 0 42px 0;

		.icon {
			display: block;
			margin: 0 16px;
		}

		p.standout {
			font-size: 17px;
			line-height: 26px;
			padding: 0 6%;
		}
	}
}



#upload-page, #about-us-page {
	.section {
		.inner {
			&.upload-intro-right, &.upload-intro-left {
				display: block;
				padding: 0;
				width: 100%;
			}
			&.upload-intro-right {
				padding-bottom: 0px !important;

				h2, h3, p {
					padding: 0 18px;
					text-align: center;
				}

				h2 {
					font-size: 24px;
					line-height: 32px;
				}

				h3 {
					font-size: 24px;
					line-height: 32px;
				}

				p {
					font-size: 20px;
					line-height: 28px;
				}
			}
			&.upload-intro-left {
				img {
					width: 50%;
					margin: 0 auto 32px auto;
				}	
			}
			&.call-to-action {
				padding: 0 0 20px 0;
				h2 {
					font-size: 20px;
					line-height: 28px;
					color: black;	
					padding: 0 18px;			
				}
			}
			&.padding-bottom {
				padding-bottom: 0px;
			}
			&.phones {
				.inline {
					img {
						width: 50%;
					}
				}
			}
		}
	}
}

.faq-help h2 {
	padding: 0 20px;	
}
