.press {

}

.press__quote {
  font-size: 17px;
  line-height: 25px;
  padding: 0 14%;
  .as-tablet({
    padding: 0 14%;
    font-size: 20px;
    line-height: 26px;
  });
  .as-desktop({
    padding: 0 14%;
    font-size: 20px;
    line-height: 26px;
  });
}