.upload {

}

.upload__features-list {
    font-size: 15px;
    line-height: 23px;
    margin: 0 auto;
    text-align: left;
    width: 70%;
    padding: 0;
    @media screen and (min-width: 960px) {
        padding: 0 6%;
    }
}

.upload__features-list-item {
    list-style-type: decimal;
}

.upload__benefits-list {
    font-size: 15px;
    line-height: 23px;
    margin: 0 auto;
    text-align: left;
    width: 70%;
    padding: 0;
    @media screen and (min-width: 960px) {
        padding: 0 6%;
    }
}

.upload__benefits-list-item {
    list-style-type: disc;
}

.upload__text  {

}