{% extends "web/layout_static.html" %}
{% block itunes_app_data %}{% endblock %}
{% block body_attributes %}{% endblock %}
{% block header_static %}
{% endblock %}
{% block content %}
  
  <div id="home-splash" class="holding-page">
    <div class="inner">
      <img src="/static/assets/dolly/img/home-splash.png" />
    </div>
  </div>

  <div id="home-description" class="holding-page">
    <div class="inner">
      <p class="standout f-serif">We think people are looking for simplicity, authenticity, inspiration and real community. So we are creating a home for the world's best video content to share with a discerning audience. One that cares about quality and deserves a viewing experience free from clutter.</p>
    </div>
  </div>

{% endblock %}
{% block footer_static %}
{% endblock %}

