{% extends "web/layout.html" %}

{% block title %}{{ video_data.title }}{% endblock %}
{# start un-needed blocks #}
{% block itunes_app_data %}{% endblock %}
{% block ie_polyfills %}{% endblock %}
{% block typekit_fonts %}{% endblock %}
{% block dolly_css %}{% endblock %}
{% block google_maps_api %}{% endblock %}
{% block dolly_angular_lib %}{% endblock %}
{# end un-needed blocks #}

{% block page_css %}
  {% assets filters="less,cssmin", output="gen/wonderplayer_css.%(version)s.css", 
  	depends="assets/wonderplayer/partials/_*.less", 
  	"assets/wonderplayer/main.less" 
  %}
  <style>
  {{ include_static_inline(ASSET_URL) }}
  </style>
  {% endassets %}

  {# Conditional stylesheet for IE8 and below #}
  <!--[if lte IE 10]>
  {% assets filters="less,cssmin", output="gen/wonderplayer_ie_css.%(version)s.css", 
    depends="assets/wonderplayer/partials/_*.less", 
    "assets/wonderplayer/ie.less" 
  %}
  <style>
  {{ include_static_inline(ASSET_URL) }}
  </style>
  {% endassets %}
  <![endif]-->
{% endblock %}

{% block app_data %}
  <script type="text/javascript">
  	var videoData = {{ video_data|tojson }},
  	    ooyalaPlayerId = "{{ config.OOYALA_PLAYER_ID }}";
  </script>
{% endblock %}

{% block body_attributes %}class="embedded"{% endblock %}>

{% block body %}
 
 <div id='ooyalaplayer'></div>

  {% block scripts_footer %}
  
    <script type="text/javascript">
      var operacheck = window.navigator.userAgent.toLowerCase().indexOf('opera');
      document.write('<scr'+'ipt type="text/javascript" src="//player.ooyala.com/v3/{{ config.OOYALA_PLAYER_ID }}"' + ( operacheck !== -1 ? '?platform=html5-priority' : "" ) + '><\/sc'+'ript>');
    </script>

    {% assets filters="rjsmin", output="gen/video-module.%(version)s.js",
      "web-lite/conduit.js",
      "web-lite/video-module.js"
    %}<script type="text/javascript">{{ include_static_inline(ASSET_URL) }}</script>{% endassets %}

  	<script type="text/javascript">
  		OO.ready(function() { 
  			window.wonder = OO.Player.create(
  				'ooyalaplayer', videoData.video.source_id,
  				{
  					flashParams: { hide: 'all' },
  					wmode: 'opaque',
  					autoplay: false,
  					layout: 'chromeless'
  				} 
  			); 
  		});
  	</script>
  {% endblock %}
{% endblock %}

{% block google_analytics %}
  {{ super() }}
  <script>ga('send', 'pageview');</script>
{% endblock %}
