{% extends "web/layout.html" %}

{% macro inline_script(url) %}
{% if use_inline_scripts %}
  <script type="text/javascript">
  {{ include_static_inline(url) }}
  </script>
{% else %}
  <script type="text/javascript" src="{{ url }}"></script>
{% endif %}
{% endmacro %}

{% macro inline_style(url) %}
{% if use_inline_scripts %}
  <style>
  {{ include_static_inline(url) }}
  </style>
{% else %}
  <link rel="stylesheet" href="{{ url }}"/>
{% endif %}
{% endmacro %}

{% block title %}{{ video_data.title }}{% endblock %}

{# start un-needed blocks #}
{% block itunes_app_data %}{% endblock %}
{% block ie_polyfills %}{% endblock %}
{% block typekit_fonts %}{% endblock %}
{% block dolly_css %}{% endblock %}
{% block google_maps_api %}{% endblock %}
{% block dolly_angular_lib %}{% endblock %}
{# end un-needed blocks #}

{% block meta_data %}
<link rel="canonical" href="{{ canonical_url }}" />
<link
  rel="alternate" type="application/json+oembed"
  href="{{ url_for('oembed') }}?url={{ canonical_url }}"
  title="{{ video_data.title }}" />
{% endblock %}

{% block page_css %}
  {% assets filters="less,cssmin", output="gen/wonderplayer_css.%(version)s.css",
    depends="assets/wonderplayer/partials/_*.less",
    "assets/wonderplayer/main.less"
  %}
  {{ inline_style(ASSET_URL) }}
  {% endassets %}

  {# Conditional stylesheet for IE8 and below #}
  <!--[if lte IE 10]>
  {% assets filters="less,cssmin", output="gen/wonderplayer_ie_css.%(version)s.css",
    depends="assets/wonderplayer/partials/_*.less",
    "assets/wonderplayer/ie.less"
  %}
  {{ inline_style(ASSET_URL) }}
  {% endassets %}
  <![endif]-->
{% endblock %}

{% block app_data %}
  <script type="text/javascript">
    var videoData = {{ video_data|tojson }},
        ooyalaPlayerId = "{{ config.OOYALA_PLAYER_ID }}";
  </script>
{% endblock %}

{% block body_attributes %}class="embedded"{% endblock %}>

{% block body %}

 <div id='ooyalaplayer'></div>

  {% block scripts_footer %}

    <script type="text/javascript">
      var ua = window.navigator.userAgent.toLowerCase(), operacheck = ua.indexOf('opera') && ua.indexOf('opr/');
      document.write('<scr'+'ipt type="text/javascript" src="//player.ooyala.com/v3/{{ config.OOYALA_PLAYER_ID }}' + ( operacheck === -1 ? '?platform=html5-priority' : "" ) + '"><\/sc'+'ript>');
    </script>

    {#
      JQuery is only used for creation of SVG elements below and nowhere else.
      Remove as unneccessary if possible.
    #}
    {% assets filters="rjsmin", output="gen/video-module.%(version)s.js",
      "web-lite/conduit.js",
      "web-lite/video-module.js"
    %}
    {{ inline_script(ASSET_URL) }}
    {% endassets %}

    <script type="text/javascript">

      function colorControls () {

        var rgb = JSON.parse(videoData.video.source_player_parameters.rgb);

        var svg = document.getElementById('ColourSvg');

        var red = svg.getElementsByClassName('red')[0];
        var green = svg.getElementsByClassName('green')[0];
        var blue = svg.getElementsByClassName('blue')[0];

        red.setAttribute('slope', rgb.r/255);
        green.setAttribute('slope', rgb.g/255);
        blue.setAttribute('slope', rgb.b/255);

      }

      function isOnlyWhiteSpaceContent (data) {
        var div = document.createElement('div');
        div.innerHTML = data;
        var content = div.textContent.replace(/\s/g, "").trim();
        return !!!content;
      }

      function hideLogo () {
        var hideLogo = videoData.video.source_player_parameters.hideLogo === "True" ? true : false;
        var controls = document.getElementById('wonder-controls');
        if (controls && hideLogo) {
          controls.className = controls.className + " no-logo";
        }
      }

      function showBuyButton () {
        var showBuyButton = videoData.video.source_player_parameters.showBuyButton === "True" ? true : false;
        var wrapper = document.getElementById('wonder-wrapper');
        var buyButton = document.getElementById('wonder-buy-button');
        if (wrapper && showBuyButton && videoData.video.link_title && videoData.video.link_url) {
          buyButton.innerHTML = videoData.video.link_title;
          buyButton.href = videoData.video.link_url;
          wrapper.className = wrapper.className + " show-buy-button";
        }
      }

      function showDescriptionButton () {
        var showDescriptionButton = videoData.video.source_player_parameters.showDescriptionButton === "True" ? true : false;
        var wrapper = document.getElementById('wonder-wrapper');
        if (wrapper && showDescriptionButton && !isOnlyWhiteSpaceContent(videoData.video.description)) {
          wrapper.className = wrapper.className + " show-description-button";
        }
      }

      function bindButtons () {
        var descriptionButton = document.getElementById('wonder-description-button');
        var videoDescription = document.getElementById('wonder-video-description');
        var videoDescriptionContent = document.getElementById('wonder-video-description-content');
        var closeDescription = document.getElementById('wonder-video-description-close');
        descriptionButton.addEventListener('click', function() {
          videoDescription.className = "active";
          videoDescriptionContent.innerHTML = videoData.video.description;
        }, false);
        closeDescription.addEventListener('click', function() {
          videoDescription.className = "";
        }, false);
      }
    </script>

    <script type="text/javascript">
      var player = null,
        analyticsTags = (location.search.match(/\botag=(\w+)/g) || []).map(function (i) {return i.substring(5)});
      OO.ready(function() {
        player = window.wonder = OO.Player.create(
          'ooyalaplayer', videoData.video.source_id,
          {
            analytics: { tags: analyticsTags },
            flashParams: { hide: 'all' },
            wmode: 'opaque',
            layout: 'chromeless'
          }
        );
        hideLogo();
        showBuyButton();
        showDescriptionButton();
        colorControls();
        bindButtons();
      });
    </script>


  {% endblock %}
{% endblock %}

{% block google_analytics %}
  {{ super() }}
  <script type="text/javascript">
    ga('send', 'pageview');
  </script>
{% endblock %}
