<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Wonder PL</title>

  {% 
  	assets filters="less,cssmin", 
  	output="gen/wonderplayer_css.%(version)s.css", 
  	depends="assets/wonderplayer/partials/_*.less", 
  	"assets/wonderplayer/main.less" 
  %}
  <link rel="stylesheet" href="{{ ASSET_URL }}"/>
  {% endassets %}

  <!-- Conditional stylesheet for IE8 and below -->
  {% 
    assets filters="less,cssmin", 
    output="gen/wonderplayer_ie_css.%(version)s.css", 
    depends="assets/wonderplayer/partials/_*.less", 
    "assets/wonderplayer/ie.less" 
  %}
  <!--[if lte IE 9]>
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
  <![endif]-->
  {% endassets %}

  <script type="text/javascript" src='//player.ooyala.com/v3/{{ config.OOYALA_PLAYER_ID }}?platform=html5-priority'></script>

  {% 
  	assets filters="rjsmin", 
  	output="gen/front-embed.%(version)s.js",
  	"dolly/video-module.js" 
  %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <script type="text/javascript">
  	var videoData = {{ video_data|tojson }},
  	    ooyalaPlayerId = "{{ config.OOYALA_PLAYER_ID }}";
  </script>

</head>
<body>

	<div id='ooyalaplayer'></div>
	<script type="text/javascript">
		OO.ready(function() { 
			window.wonder = OO.Player.create(
				'ooyalaplayer', videoData.video.source_id,
				{
					flashParams: { hide: 'all' },
					wmode: 'opaque',
					autoplay: false,
					layout: 'chromeless'
				} 
			); 
		});
	</script>

</body>
</html>


