{% extends "web/layout_static.html" %}
{% block content %}

  <div class="section page-intro">
    <div class="inner">
      <h1 class="f-sans">FAQ</h1>
      <h2 class="standout f-sans padding bottom">If your question isn’t answered below, please email us directly at<br><a href="mailto:support@wonderpl.com">support@wonderpl.com</a></h2>
    </div>
  </div>


  <div class="section">
    <div class="inner">
      <div class="inner half-width faq">    
        <h3 class="f-sans">What is Wonder PL?</h3>
        <p class="f-serif">Wonder PL is an iOS app that makes it easy to discover, share and follow video playlists called Collections. You can follow Collections created by friends or experts to discover the videos you find interesting. Add your favourite videos to your own Collections  and share them with friends.</p>
        <div class="faq-spacer"></div>
        <h3 class="f-sans">On what platform is Wonder PL available?</h3>
        <p class="f-serif">Wonder PL is currently available for iPhone, iPad or iPod Touch.</p>
        <div class="faq-spacer"></div>
        <h3 class="f-sans">Can I upload my own videos?</h3>
        <p class="f-serif">Right now you can’t upload your videos directly to Wonder PL.</p>
        <div class="faq-spacer"></div>
        <h3 class="f-sans">How do I choose my cover image?</h3>
        <p class="f-serif">Your cover image is the background for your Profile, which other people will see when they are discovering new Collections. So, it’s always best to choose a unique and personal cover. We choose one for you until you have a chance to change it. You can upload any picture from your camera roll or take a new photo.</p>
        <div class="faq-spacer"></div>
        <h3 class="f-sans">How do I find new Collections to follow?</h3>
        <p class="f-serif">The Discover page is a great way to find new Collections from the Wonder PL community. Just tap a category and browse the Collections that might interest you.</p>
        <p class="f-serif">If you find a Collection you like, have a look at the other Collections created by that user – you might like them too! You can also search for specific users.</p>
        <div class="faq-spacer"></div>
        <h3 class="f-sans">How do I share a Collection or video?</h3>
        <p class="f-serif">You can share any Collection or video on Wonder PL to Facebook, Twitter or using email. Just tap the share icon under any Collection or video and select where you want to share it to.</p>
        <div class="faq-spacer"></div>
        <h3 class="f-sans">How do I change my email address?</h3>
        <p class="f-serif">You can change the email address on your Wonder PL account by going to ‘Settings’. From there you can add or change your account information, including your email address.  You will find Settings in Profile, by tapping the cog icon on the right hand side of the screen.</p>
        <div class="faq-spacer"></div>
        <h3 class="f-sans">How do I delete a Collection I created?</h3>
        <p class="f-serif">You can delete any Collection you’ve created. To do this, go to your Profile and swipe to the left on the Collection you want to delete. This will reveal the Delete button, like in email.  Tap Delete to remove the Collection.</p>
        <p class="f-serif">If you shared out to Twitter or Facebook as well, your Tweet or Facebook update will still appear, along with a link to the post, but the video will not play.</p>
        <div class="faq-spacer"></div>
      </div><!--
      --><div class="inner half-width faq">
        <h3 class="f-sans">How do I get started?</h3>
        <p class="f-serif">Wonder PL is currently available for iPhone and iPad. You can download Wonder PL in the Apple App Store. After installing Wonder PL on your device, you can sign up using an email address or sign in with Facebook. Once you are logged in, you can discover and follow Collections created by other people. Whenever a video is added to a Collection you’re following, it will appear in your feed, which we call My Wonders. When you see a video you like, just press the + to create a new Collection or add it to an existing one.</p>
        <div class="faq-spacer"></div>
        <h3 class="f-sans">How do I download the Wonder PL app?</h3>
        <p class="f-serif">You can download Wonder PL in the Apple App Store.</p>
        <div class="faq-spacer"></div>
        <h3 class="f-sans">Can I link directly to a Collection or video?</h3>
        <p class="f-serif">A Collection or Video on Wonder PL cannot be viewed outside of the app unless it is shared on Twitter, Facebook or email, in which case a link for the Collection will be made publicly available. </p>
        <p class="f-serif">To share, just tap the share icon on any video or Collection, and select where you want to share it to.</p>
        <div class="faq-spacer"></div>
        <h3 class="f-sans">How do I choose my Avatar image?</h3>
        <p class="f-serif">Your avatar image appears in your Profile, which other people will see when they are discovering new Collections, so choose something that represents you.</p>
        <p class="f-serif">You can upload any picture from your camera roll or take a new photo.</p>
        <div class="faq-spacer"></div>
        <h3 class="f-sans">How do I find people I know on Wonder PL?</h3>
        <p class="f-serif">You can search for people you know on Wonder PL by typing in their username in the search bar, in the Discover screen.  You can also invite people to join by sharing a Collection or video. Just tap the share icon on any Collection page or video and select where you want to share it to.</p>
        <div class="faq-spacer"></div>
        <h3 class="f-sans">How do I sign out of my account?</h3>
        <p class="f-serif">To sign out of your account, go to your Profile, tap the cog icon on the right hand side on the screen and tap "Log Out."</p>
        <div class="faq-spacer"></div>
        <h3 class="f-sans">Can I control who sees my content?</h3>
        <p class="f-serif">Profiles and videos on Wonder PL are public, and anyone on the service can view them. Over time we will add more ways for you to control the visibility of your content.</p>
        <div class="faq-spacer"></div>
        <h3 class="f-sans">How do I delete my account?</h3>
        <p class="f-serif">We hope you don’t! But please contact us if you would like to.</p>
      </div>
    </div>
  </div>

{% endblock %}
