<!DOCTYPE html>
<html>
  <head>
    <title>Wonder PL - Hints</title>
    <style>
      body { width: 22em; }
    </style>
  </head>
  <body>
    <ul>
      <li>
        When watching a video swiping right or left will load the next of previous video.
      </li>
      <li>
        Double tapping the screen, while a video is playing will make it go full-screen.
      </li>
      <li>
        Double tapping the screen while a video is full screen will take it back to normal size
      </li>
      <li>
        Take the mood-minder for a spin. Flicking the screen will spin the wheel to a random mood.
      </li>
      <li>
        Give yourself a face, tap edit in Profile, then tap the larger of the two upload circles and take a photo
      </li>
      <li>
        Brighten up your profile by uploading a beautiful picture. Just tap edit in profile then tap on the small upload circle.
      </li>
    </ul>
  </body>
</html>
