<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Wonder PL - Hints</title>
  
    <script type="text/javascript" src="//use.typekit.net/twx7lpv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    {% assets filters="less,cssmin", 
       output="gen/dolly_css.%(version)s.css", 
       depends="assets/dolly/partials/_*.less", 
       "assets/dolly/front.less"
    %} <link rel="stylesheet" href="{{ ASSET_URL }}"/> {% endassets %}

    <!-- Conditional stylesheet for IE8 and below -->
    {% assets filters="less,cssmin", 
       output="gen/dolly_ie_css.%(version)s.css", 
       depends="assets/dolly/partials/_*.less", 
       "assets/dolly/ie.less" 
    %} <!--[if lt IE 9]><link rel="stylesheet" href="{{ ASSET_URL }}"/><![endif]--> {% endassets %}
  </head>
  <body class="body-hints">
    <div id="hints-wrapper">
      <a href="#" class="cancel">Cancel</a>
      <ul class="f-sans f-thin">
        <li class="item-1">When watching a video swiping right or left will load the next of previous video.</li>
        <li class="item-2">Double tapping the screen, while a video is playing will make it go full-screen.</li>
        <li class="item-3">Double tapping the screen while a video is full screen will take it back to normal size</li>
        <li class="item-4">Take the mood-minder for a spin. Flicking the screen will spin the wheel to a random mood.</li>
        <li class="item-5">Give yourself a face, tap edit in Profile, then tap the larger of the two upload circles and take a photo</li>
        <li class="item-6">Brighten up your profile by uploading a beautiful picture. Just tap edit in profile then tap on the small upload circle.</li>
      </ul>
    </div>
  </body>
</html>
