{% extends "web/layout.html" %}
{% block body_attributes %}id="ng-app" ng-app="contentApp" ng-controller="MainCtrl" ng-class="{ toggled: toggled }" class="dolly"{% endblock %}
{% block body %}

  <script type="text/javascript">
    var tags = [],
        images = [
          '{{ config.ASSETS_URL }}/assets/dolly/img/home-wood-big-v1.jpg',
          '{{ config.ASSETS_URL}}/assets/dolly/img/home-inge-v1.jpg',
          '{{ config.ASSETS_URL}}/assets/dolly/img/home-nfb-v1.jpg',
          '{{ config.ASSETS_URL}}/assets/dolly/img/home-tom-v1.jpg',
          '{{ config.ASSETS_URL}}/assets/dolly/img/home-ipad-v2.jpg',
          '{{ config.ASSETS_URL}}/assets/dolly/img/home-iphone-v1.jpg'
        ];

    for ( var i = 0; i < images.length; i++ ) {
      tags.push( new Image() );
      tags[i].src = images[i];
    }

  </script>

  <div id="wrapper">
    {% include 'web/partials/header.html' %}
    <div ng-view class="view-animate"></div>
    {% include 'web/partials/footer.html' %}
  </div>

  {% block scripts_footer %}
    {% assets filters="rjsmin", output="gen/dolly.%(version)s.js",
      "dolly/vendor/angular/angular.js",
      "dolly/vendor/angular/angular-route.js",
      "dolly/vendor/angular/angular-animate.js",
      "dolly/vendor/angular/angular-sanitize.js",
      "dolly/vendor/tween.js",
      "dolly/app.js",
      "dolly/controllers/controllers.js",  
      "dolly/directives/directives.js",  
      "dolly/services/services.js",  
      "dolly/filters/filters.js"
    %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
    {% assets filters="fronttemplate, rjsmin", output="gen/dolly-templates.%(version)s.js",
      "dolly/views/home.html",
      "dolly/views/our-content.html", 
      "dolly/views/our-categories.html", 
      "dolly/views/about-us.html", 
      "dolly/views/upload.html", 
      "dolly/views/partners.html",
      "dolly/views/faq.html"
    %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
  {% endblock %}
{% endblock %}