{% extends "web/base.html" %}
{% block content %}
	<div class="section">
		<div class="inner page-intro">
			<h1 class="f-sans">Password Reset</h1>
		</div>
	</div>
	
	<div class="section password-reset">
		<div class="inner">
      {% if user %}
        <h2 class="f-sans">PASSWORD CHANGED SUCCESSFULY</h2>
      {% elif form %}
        <h2 class="f-sans">CHOOSE A NEW PASSWORD<span>Passwords must be at least 6 characters long.</span></h2>
      {% else %}
        <h2 class="f-sans">INVALID TOKEN</h2>
      {% endif %}

      {% if user %}
      {% elif form %}
        {% if form.errors.password2 %}
        <div class="errors">
        	<ul>
            {% for error in form.errors.password2 %}
              <li>{{error}}</li>
            {% endfor %}
        	</ul>
        </div>
        {% endif %}
        <form action="" method="post" id="resetform">
          {% for field in form %}
          <div class="row">
            {{ field(placeholder=field.label.text) }}
            <!-- <div class="error">Password must be at least 6 characters long.</div> -->
            <div class="ok"></div>
          </div>
          {% endfor %}
          <input type="submit" value="RESET PASSWORD">
        </form>
      {% else %}
      <div class="error">
        Invalid token
      </div>
      {% endif %}

	</div>
</div>
{% endblock %}
