<!DOCTYPE html>
<html>
<head>
  <title>Oops!</title>
  <link type="text/css" rel="stylesheet" href="//fast.fonts.com/cssapi/e8c15b58-fc59-463c-be33-77dba4bf5031.css"/>
</head>
<body style="background: #f7f7f7;margin:0;padding:0">
<div style="background: #fff">
  <div style="width:90%;margin:0 auto;height:50px;line-height: 60px;">
    <img style="width:125px" src="//d1zye6ud6r5kaf.cloudfront.net/logo.png">
  </div>
</div>
<div style="text-align: center;margin-top:200px;font-family:'DIN Next W01 Bold', Helvetica;">
  <h1 style="font-size: 72px;margin:0;padding:0;color:#858a8e">OOOOOPS</h1>
  <h2 style="font-size: 38px;margin:0;padding:0;color:#858a8e">PAGE NOT FOUND</h2>
  <a href="/" style="font-size: 26px;margin-top:20px;text-shadow: 0 2px 0 #09878b;color:#fff;background: #0ba6ab;width: 327px;height:70px;display: inline-block;line-height: 77px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;text-decoration: none">TAKE ME HOME</a>
  <!-- {{ message }} -->
</div>
</body>
</html>
