<!DOCTYPE html>
<html>
<head>
  <title>Oops!</title>
  <link type="text/css" rel="stylesheet" href="//fast.fonts.com/cssapi/e8c15b58-fc59-463c-be33-77dba4bf5031.css"/>
</head>
<body style="background: #f7f7f7;margin:0;padding:0">
<div style="background: #fff">
  <div style="width:90%;margin:0 auto;height:50px;line-height: 60px;">
    <img style="width:125px" src="//d1zye6ud6r5kaf.cloudfront.net/logo.png">
  </div>
</div>
<div style="text-align: center;margin-top:200px;font-family:'DIN Next W01 Bold', Helvetica;">
  <h1 style="font-size: 72px;margin:0;padding:0;color:#858a8e;line-height:72px;">OOOOOPS</h1>
  <h2 style="font-size: 28px;margin:0;padding:0;color:#858a8e">THE SERVER IS ASLEEP</h2>
  <h2 style="font-size: 28px;margin:0;padding:0;color:#858a8e;font-family:'DIN Next W01 Regular';letter-spacing:-1px">Try refreshing the page in a minute</h2>
  <!-- {{ message }} -->
</div>
</body>
</html>
