<div ng-controller="PageCtrl" id="about" class="content-page">  
  <div class="wrapper" ng-style="wrapperWidth()">
    <div id="navbackground"></div>
    <header>
      <div style="background-color:rgba(28, 31, 33, 0.70); position: fixed; top:0px; right:0px; width:100%; height: 60px;">
      </div>
      <h1 class="title">About</h1>
      <h2>create the future of inspired watching.</h2>
    </header>
  </div>
  <div class="main-content">
    <div class="wrapper" ng-style="wrapperWidth()">
      <h1 class="title">
      </h1>
      <div class="main-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies sapien sed felis porttitor sed semper urna sagittis. Sed semper commodo orci, vitae interdum augue tempor ac. Donec bibendum nisi semper nisl molestie fringilla. Vivamus adipiscing nulla quis magna aliquet sagittis. Integer ultrices nulla risus. Quisque ultrices, felis eget egestas placerat, lacus nisi pretium tortor, ac auctor nisi nibh sed massa. In arcu nisi, consectetur quis ullamcorper dapibus, commodo nec augue. Mauris eget vulputate velit. Ut bibendum nisl et nibh viverra molestie. Praesent lobortis sagittis facilisis. Praesent a mi nisi.</p>
      </div>
    </div>
  </div>
  <div class="people">
    <div class="wrapper" ng-style="wrapperWidth()">
      <h1 class="title">People</h1>
      <div class="images_container">
        <div class="people_left_side">
            <div class="image_cont">
                <div class="jobheader" ng-click="toggle($event, 'bio')">
                  <img src="/../../static/images/sofia.png">
                   <div class="header">
                      <div class="name">Sofia Fenichell</div>
                      <div class="jobtitle">Chief Executive Officer</div>
                   </div>
                </div>
                <div class="bio">
                  <blockquote>"I make ideas happen."</blockquote>
                  <p>Sofia is a technology 'grown up'. In a career spanning 20 years, she has been at the forefront of the internet revolution, advising and investing in a number of global technology companies both large and small, including Nokia, Ericsson, Real Networks and Inktomi.
                  </p>  
                  <p>
                  In 2006, she decided to 'go rogue' and apply her talents to the start–up scene.  She co-founded her first company, Beetle Capital, and after exiting that business, worked in senior roles for a number of start-ups including State.com, a global opinion network founded by Alex Asseily, Chairman of Jawbone.  
                  </p><p>  
                  Prior to that, Sofia spent 10 years in finance as a technology investor and expert, working for UBS, Merrill Lynch, Morgan Stanley and Caxton – where she was voted Best Buyside Analyst across all sectors by Institutional Investor and Extel.  Sofia spent four years as a senior account executive in advertising at DDB Needham working on global consumer brands.
                  </p>
                  <p> 
                  She has an MBA from Columbia Business School and a BA in History from Northwestern University.  
                  </p>
                 </div>
            </div>
            <div class="image_cont">
                <div class="jobheader" ng-click="toggle($event, 'bio')">
                    <img src="/../../static/images/paul.png">
                     <div class="header">
                        <div class="name">Paul Egan</div>
                        <div class="jobtitle">Chief Technology Officer</div>
                     </div>
                 </div>
                 <div class="bio">
                     <blockquote>"I architect systems that enable people to do things unimaginable."</blockquote>
                     <p>Paul has been coding since he was 12 years old.  He is a uniquely talented and knowledgeable CTO, with over 20 years of experience. Prior to joining Rockpack he spent six years building the award-winning design site, mydeco.com. His focus was on implementing the best online visualisation tools for the vibrant interior design-focussed community.
                     </p>  
                    <p>
                   Before mydeco, he ran a consultancy company with clients including AOL UK, lastminute.com and VisitBritain. He has also contracted at the Disney Internet Group, helping to design and manage its web platform. 
                    </p>
                 </div>
            </div>
            
            <div class="image_cont">
                <div class="jobheader" ng-click="toggle($event, 'bio')">
                    <img src="/../../static/images/michael.png">
                     <div class="header">
                        <div class="name">Michael Michaildis</div>
                        <div class="jobtitle">Senior Software Engineer</div>
                     </div>
                 </div>
                 <div class="bio">
                     <blockquote>"I build rich interactive applications for mobile platforms."</blockquote>
                     <p>Michael has worked across industries, from children's animation to advertising and gaming to land
                      on the yet to be created space of curated video content. His roles have also varied from interactive multimedia and design to back-end and database developer and finally to movie devices, focusing on the iOS platform.</p>
                      <p>He has hands-on experience on the whole design-for-interaction process, from concept design and animation to computer graphics programming and maths.</p>
                      <p>His specialities include C and Objective-C for iOS, Javascript and HTML, Actionscript for Flash and Flex. Java for Android and PHP/MySQL stack.</p>
                 </div>
            </div>
            <div class="image_cont">
                 <div class="jobheader" ng-click="toggle($event, 'bio')">
                    <img src="/../../static/images/kish.png" alt="first">
                     <div class="header">
                        <div class="name">Kish Patel</div>
                        <div class="jobtitle">User Experience Associate</div>
                     </div>
                 </div>
                 <div class="bio">
                     <blockquote>"I have your back. Everything on your journey has to work."</blockquote>
                     <p>Kish is a dynamic and driven UX professional. He studied Graphic Design for Interactive Media at De Montfort University. His focus at university was on the burgeoning new media sector where he excelled in web design, front-end development and UX. 
                     </p>  
                    <p>He is also a music producer, DJ and sound designer, having composed a number of tracks, compositions and soundscapes.</p>
                 </div>
            </div>
            <div class="image_cont">
                 <div class="jobheader" ng-click="toggle($event, 'bio')">
                    <img src="/../../static/images/nick.png" alt="first">
                     <div class="header">
                        <div class="name">Nick Banks</div>
                        <div class="jobtitle">Senior iOS Developer</div>
                     </div>
                </div>
                 <div class="bio">
                     <blockquote>"I make the products that consumers have loved the most."</blockquote>
                     <p>Nick has developed 25 iPhone and iPad apps in the past three years, including Kiss, Magic and Secret DJ. An astounding two-thirds of these apps have been featured in the new and noteworthy area of the Apple App Store.
                     </p>  
                    <p>
                   He is a veteran of both the broadcast and communications industries. His background in software development for this sphere has resulted in a deep insight into the end-to-end product development cycle and the methodologies, timescales and quality required for successful software development.
                    </p>
                    <p>His expertise covers innovative solutions, elegant UIs, a deep understanding of technology and broadcast and communication architectures and standards. 
      </p>
                 </div>
            </div>
            <div class="image_cont">
                 <div class="jobheader" ng-click="toggle($event, 'bio')">
                    <img src="/../../static/images/guy.png" alt="first">
                     <div class="header">
                        <div class="name">Guy Nesher</div>
                        <div class="jobtitle">Senior web developer</div>
                     </div>
                </div>
                 <div class="bio">
                     <blockquote>"I make Rockpack function on the web."</blockquote>
                     <p>Interesting fact about Guy. He is a fully qualified lawyer but chose to leave that behind for the glamour of front end development for some of the hottest agencies in town - Glue Isobar, The Marketing Store and Pravda in Tel Aviv working for clients such as McDonalds, Auto Trader and Pringles.</p>
      <p>He joined Rockpack to bring to life our web offering and the front end to our mobile apps.</p>
      <p>Guy specialises in HTML, CSS, Python, Django JQuery and social API’s for Twitter, Facebook and Instagram.</p>
                 </div>
            </div>
            
        </div><!--end of left side-->
        <div class="people_right_side">
          <div class="image_cont">
               <div class="jobheader" ng-click="toggle($event, 'bio')">
                  <img src="/../../static/images/paulc.png" alt="first">
                   <div class="header">
                      <div class="name">Paul Cackett</div>
                      <div class="jobtitle">Chief Creative Officer</div>
                   </div>
               </div>
                <div class="bio">
                   <blockquote>"I create entertainment platforms that make people smile."</blockquote>
                   <p>Paul is a vastly experienced and creative entrepreneur. For over 15 years he has worked in the entertainment, channel management, advertising, digital and marketing industries. He has been at the heart of the incredible changes that have swept across those distinct, yet mutually beneficial sectors.</p>  
                  <p>He has managed a TV network for Turner Broadcasting, created and operated three start-up businesses and delivered numerous TV channels, investments and projects for BSkyB, Flextech Television, Brainspark and Turner Broadcasting.</p>
               </div>
          </div>
          <div class="image_cont">
               <div class="jobheader" ng-click="toggle($event, 'bio')">
                  <img src="/../../static/images/gregory.png" alt="first">
                   <div class="header">
                      <div class="name">Gregory Talon</div>
                      <div class="jobtitle">Director of Product Management</div>
                   </div>
               </div>
               <div class="bio">
                   <blockquote>"I make sure Rockpack products are valuable and usable for our awesome users."</blockquote>
                   <p>Gregory is an expert in the area of product management and user experience. He is passionate about building sophisticated digital services that solve problems and bring satisfaction to the end user. Prior to Rockpack he was Product Director at Mydeco 3D and European Product Manager at Yahoo! Mail.</p>  
                  <p>He is fully conversant in the latest technology (Python, HTML5, CSS3…). He has also been involved in team management, partner integration, product marketing and digital agency management. When he's not creating digital experience, he is drumming for Mcbess' rock band, the Dead Pirates.</p>
               </div>
          </div>
          <div class="image_cont">
               <div class="jobheader" ng-click="toggle($event, 'bio')">
                  <img src="/../../static/images/alan.png" alt="first">
                   <div class="header">
                      <div class="name">Allan Brisbane</div>
                      <div class="jobtitle">Senior Systems Engineer</div>
                   </div>
               </div>
               <div class="bio">
                   <blockquote>"I build scalable systems that are smart and reliable."</blockquote>
                   <p>I build scalable systems that are smart and reliable.</p>
    <p>Allan is a supremely talented Senior Systems Engineer. He has been instrumental
    in architecting and building scalable systems for onefinestay, WooMe, UpMyStreet, and Replay Media.</p><p>
    He has significant experience developing backend video streaming
    infrastructures; has created interactive multimedia solutions
    for large pharmaceutical companies such as Bausch &amp; Lomb, Johnson
    &amp; Johnson and AstraZeneca; designed a social networking platform;
    and produced payment platforms for e-commerce.</p><p>
    Allan is keen on open source development, and currently considers himself a Pythonista.</p>
               </div>
          </div>
          <div class="image_cont">
               <div class="jobheader" ng-click="toggle($event, 'bio')">
                  <img src="/../../static/images/amanda.png" alt="first">
                   <div class="header">
                      <div class="name">Amanda Hawila</div>
                      <div class="jobtitle">Marketing Manager</div>
                   </div>
               </div>
               <div class="bio">
                   <blockquote>"I make sure that we spread the Rockpack word as far and wide as possible."</blockquote>
                   <p>Amanda is no stranger to the land of the start-up. Before joining Rockpack, she worked in a similar capacity at State, an opinion network.  She was a key person on the marketing team working to create a brand identity and develop influencer strategies.  Amanda went to Princeton University and will be leading our marketing and outreach efforts. </p>  
                  <p>Having been raised between London, Costa Rica and the US, Amanda knows the value of effective communication. And it’s this ethos that she brings to Rockpack. Amanda ensures that our message is clear, direct and disseminated in a simple and efficient manner.</p>
               </div>
          </div>
          <div class="image_cont">
               <div class="jobheader" ng-click="toggle($event, 'bio')">
                  <img src="/../../static/images/ryan.png" alt="first">
                   <div class="header">
                      <div class="name">Ryan Murphy</div>
                      <div class="jobtitle">Creative Associate</div>
                   </div>
               </div>
               <div class="bio">
                   <blockquote>“I make sure that the brand and UI is always beautiful”</blockquote>
                   <p>Ryan is a visual thinker. He helps out creating the graphics at Rockpack. He's just wrapping up his studies at London Southbank where he studied Digital Media Arts, giving him a grounding in a multitude of softwares. </p>  
                  <p>He used to be a pretty useful footballer, but since moving away he has struggled to keep up that habit. So spends most of his free time whittling away at pixels in Photoshop. He's been at Rockpack since late august of 2012 and has helped them turn a piece of paper into a brand.</p>
               </div>
          </div>
          <div class="image_cont">
               <div class="jobheader" ng-click="toggle($event, 'bio')">
                  <img src="/../../static/images/zaid.png" alt="first">
                   <div class="header">
                      <div class="name">Zaid Ramzi</div>
                      <div class="jobtitle">Editorial Associate</div>
                   </div>
               </div>
               <div class="bio">
                   <blockquote>"I find out peoples interests and create the channels they want."</blockquote>
                   <p>Zaid is a sharp and perceptive individual. He studied Graphic Design for Interactive Media at De Montfort University and learnt skills that allowed him to create brand identities, along with develop strategic ways to strengthen them. Was previously Immersed with helping run and manage an internet café gaming centre, and was one of the pioneers in it’s success. This foundation eventually evolved into the successful “Gamerbase” which is located in several locations within the UK.</p>  
                  <p>He excels in competitive gaming, which requires an immense understanding of psychology, dynamic thinking, mental fortitude and mathematics. Competing in tournaments worldwide as a sponsored player, traveling has given Zaid an expert understanding of representing a brands image.</p>
                  <p>At Rockpack, Zaid manages the CMS database and works on Editorial for Rockpack's many channels.</p>
               </div>
          </div>
        </div>
      </div>
  </div>
  <div class="map">
    <img src="/../../static/images/map.jpg">
  </div>
  <div class="main-content contact">
    <div class="wrapper" ng-style="wrapperWidth()">
      <h1 class="title">contact</h1>
      <div class="main-text">
        <div style="display:table-cell">9 Thorpe Close, Portobello Road<br>
          W10 5XL Londen<br>
          United Kingdom
        </div>
        <div style="display:table-cell;padding-left:50px">
          <a class="contact" href="mailto:hello@rockpack.com">hello@rockpack.com</a>
        </div>
      </div>
    </div>
  </div>
</div>