<footer>
  <div class="wrapper" ng-style="wrapperWidth()">
    <ul>
      <li class="hidden-phone"><a href="#/about">About</a></li>
      <li class="hidden-phone"><a href="#/jobs">Jobs</a></li>
      <li class="hidden-phone"><a href="http://blog.rockpack.com/">Blog</a></li>
      <li class="terms right">By using Rockpack, you agree to our <a href="">terms & conditions and privacy policy</a>.</li>
      <li class="allrights right">All rights reserverd Rockpack ltd 2013</li>
    </ul>
  </div>
</footer>