{% extends 'admin/model/list.html' %}

{% block list_header %}
{{ super() }}
<th>Thumbnail</th>
{% endblock %}
{% block list_row scoped %}
    {% if actions %}
    <td>
        <input type="checkbox" name="rowid" class="action-checkbox" value="{{ get_pk_value(row) }}" />
    </td>
    {% endif %}
    <td>
        {% block list_row_actions scoped %}
            {%- if admin_view.can_edit -%}
            <a class="icon" href="{{ url_for('.edit_view', id=get_pk_value(row), url=return_url) }}">
                <i class="icon-pencil"></i>
            </a>
            {%- endif -%}
            {%- if admin_view.can_delete -%}
            <form class="icon" method="POST" action="{{ url_for('.delete_view', id=get_pk_value(row), url=return_url) }}">
                <button onclick="return confirm('{{ _gettext('You sure you want to delete this item?') }}');">
                    <i class="icon-remove"></i>
                </button>
            </form>
            {%- endif -%}
        {% endblock %}
    </td>
    {% for c, name in list_columns %}
    {% if c=='title' %}
    <td><a target="_blank" href="{{ url_to_source(row.source_videoid, row.source)  }}">{{ get_value(row, c) }}</a></td>
    {% else %}
    <td>{{ get_value(row, c) }}</td>
    {% endif %}
    {% endfor %}
    <td><img src="{{ row.default_thumbnail }}"/></td>
{% endblock %}
