*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache
nosetests.xml

# Translations
*.mo

# local settings
rockpack/mainsite/settings/local.py
RELEASE-VERSION

#Mac index
.DS_Store

#JS files
public/
node_modules/

#virtual env
env/

# webassets
rockpack/mainsite/static/.webassets-manifest
rockpack/mainsite/static/.webassets-cache
rockpack/mainsite/static/gen

# Local sql db
rockpack/mainsite/rockpack.db

# loadtest results
loadtest/results/

# Guy IDE directory
.idea/

*.svn-base

rockpack/mainsite/static/dolly-analytics/controllers/.svn/all-wcprops

*.tmp

rockpack/mainsite/static/dolly-analytics/services/.svn/all-wcprops

rockpack/mainsite/static/dolly-analytics/vendor/angular/.svn/all-wcprops

rockpack/mainsite/static/dolly-analytics/vendor/angular/.svn/entries

rockpack/mainsite/static/dolly-analytics/services/.svn/entries

rockpack/mainsite/static/dolly-analytics/vendor/.svn/all-wcprops

rockpack/mainsite/static/dolly-analytics/vendor/.svn/entries

rockpack/mainsite/static/dolly-analytics/filters/.svn/entries

rockpack/mainsite/static/dolly-analytics/filters/.svn/all-wcprops

rockpack/mainsite/static/dolly-analytics/directives/.svn/entries

rockpack/mainsite/static/dolly-analytics/directives/.svn/all-wcprops

rockpack/mainsite/static/dolly-analytics/controllers/.svn/entries
