<div ng-controller="ChannelCtrl">
  <div id="cover" ng-style="{'background-image': 'url(' + channel.cover.thumbnail_url + ')' }">
    <a href="http://www.rockpack.com" class="logo" ng-class="{'hideOverlay': hideOverlay}"></a>
    <div id="gradientShadow"></div>
    <div id="playAll" ng-click="playVideo(0)"></div>
    <div id="channelTitle">((channel.title))</div>
  </div>
  <div id="videos">
    <div id="header">This pack was made with love by <a href="http://www.rockpack.com/channel/((channel.owner.id))/((channel.id))/#" class="highlight">((channel.owner.display_name | truncate : 30))</a> <span class="lightgrey">on</span> <a href="http://www.rockpack.com/channel/((channel.owner.id))/((channel.id))/#" class="highlight">Rockpack</a></div>
    <div id="videolistContaienr">
      <ul id="videoslist" infinite-scroll='load_videos()' infinite-scroll-distance='1'>
        <li ng-repeat="video in channel.videos.items" class="videocell" ng-click="playVideo($index)">
          ((video.title | truncate : 26))
        </li>
      </ul>
    </div>
    <div id="footer">
      <a href="http://www.rockpack.com/channel/((channel.owner.id))/((channel.id))/#" id="follow">Follow this Pack</a>
      <div id="twitter" ng-click="shareTwitter()"></div>
      <div id="facebook" ng-click="shareFacebook()"></div>
    </div>
  </div>
</div>