<div ng-controller="ChannelCtrl">
  <div id="cover" ng-style="{'background-image': 'url(' + channel.cover.thumbnail_url + ')' }">
    <a href="/" target="_blank" class="logo" ng-class="{'hideOverlay': hideOverlay}"></a>
    <div id="gradientShadow"></div>
    <div id="metacontainer">
      <div id="playcontainer">
        <div id="playAll" ng-click="playVideo(0)"></div>
        <span id="videotitle">((channel.videos.total)) Videos</span>
      </div>
      <div id="channelTitle">((channel.title))</div>
      <div id="by">by <a href="/channel/-/((channel.id))/#" target="_blank" class="highlight">((channel.owner.display_name | truncate : 30))</a> <span class="lightgrey"></div>
    </div>
  </div>
  <div id="videos">
    <div id="videolistContaienr">
      <ul id="videoslist" infinite-scroll='load_videos()' infinite-scroll-distance='1'>
        <li ng-repeat="video in channel.videos.items" class="videocell" ng-click="playVideo($index)">
          ((video.title | truncate : 20))
          <span class="duration">((video.video.duration | minutes))</span>
        </li>
      </ul>
    </div>
  </div>
</div>
