.careers {
  padding: 0 10%;
  @media screen and (min-width: 768px) and (max-width: 959px) {
    padding: 0 30%;
  }
  @media screen and (min-width: 960px) {
    padding: 0 30%;
  }
}

.careers__title {
  .f-sans;
  color: black;
  font-weight: 200;
  margin: 20px 0;
}

.careers__text {
  font-size: 18px;
  line-height: 26px;
  color: @grey;
  @media screen and (min-width: 768px) and (max-width: 959px) {
    font-size: 18px;
    line-height: 26px;
  }
  @media screen and (min-width: 960px) {
    font-size: 18px;
    line-height: 26px;
  }
}