.contact-us {
  .as-tablet({
    margin-bottom: 40px;
  });
  .as-desktop({
    margin-bottom: 40px;
  });
}

.contact-us__title {
  .f-sans;
  color: black;
  font-weight: 200;
  .as-tablet({
    margin: 20px 0;
  });
  .as-desktop({
    margin: 20px 0;
  });
}

.contact-us__location {
  .as-tablet({
    min-width: 45%;
    display: inline-block;
  });
  .as-desktop({
    min-width: 45%;
    display: inline-block;
  });
}

.contact-us__location-name {
  .contact-us__title;
}

.contact-us__location-address {
  .f-serif;
}

.contact-us__location-address-line {
  display: block;
  color: @grey;
  font-size: 16px;
  line-height: 24px;
  .as-tablet({
    font-size: 19px;
    line-height: 30px;
  });
  .as-desktop({
    font-size: 19px;
    line-height: 30px;
  });
}

.contact-us__location-map-container {
  margin: 0 10% 20px;
  .as-tablet({
    margin: 30px 40px;
  });
  .as-desktop({
    margin: 30px 40px;
  });
}