.team {
  padding: 0 10%;
  .as-desktop({
    padding: 0 30%;
    margin-bottom: 40px;
  });
  .as-tablet({
    padding: 0 30%;
    margin-bottom: 40px;
  });
}

.team__text {
  font-size: 20px;
  line-height: 28px;
  color: @grey;
  .as-desktop({
    font-size: 20px;
    line-height: 30px;
  });
  .as-tablet({
    font-size: 20px;
    line-height: 30px;
  });
}

.team__title {
  color: black;
  .f-sans;
  font-weight: 200;
}