
/* 	Mobile styles
/* ======================================= */

body {
	padding-top: 0px;
	-webkit-transition: padding .2s ease-out;

	&.toggled {
		padding-top: 220px;
	}
}

.mobile-hidden {
	display: none !important;
}

.mobile-break {
	display: block;
}

#player {
	padding-top: 70px;
}

header {
	display: block;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 60px;
	background: @lilac;
	color: #fff;
	overflow: hidden;
	-webkit-transition: height .2s ease-out;

	a {
		color: #fff;
	}

	a.logo {
		background: transparent url('/static/assets/dolly/img/header-logo-white-bars-retina.png') center center no-repeat;
		background-size: 100% auto;
		width: 140px;
		height: 50px;
		left: 12px;
		top: 6px;
	}

	a.app-store-link {
		display: block;
		position: absolute;
		right: 12px;
		top: 0;
		height: 100%;
		width: 100px;
		background: transparent url('/static/assets/dolly/img/header-download-button-retina-v1.png') center center no-repeat;
		background-size: 100% auto;
	}
}

.scroll-outer-wrapper {
	&.touch {
		height: 190px;

		a.paging {
			display: none;
		}
		.scroll-inner-wrapper {
			width: 100%;
			left: 0;
			height: 190px;
			overflow: auto;
		}
	}
}

footer {
	display: block;
	width: 100%;
	background: @lilac;
	color: #fff;
	position: relative;
	z-index: 1000;

	a {
		color: #fff;
	}

	.trim {
		display: block;
		
		.left {
			display: block;
			width: 100%;
			font-size: 15px;
			padding: 6px;
		}
		.middle, .right {
			padding: 3px;
			display: inline-block;
			vertical-align: top;
			font-size: 11px;
			margin: 0 0 12px 0;
		}
	}
}