
<section class="collection">

  <h3 class="collection__title">Videos in this Collection</h3>

  <ul class="collection__list">
    <li ng-repeat="video in videos.items | limitTo:3" class="collection__list-item">
      <a class="collection__list-item-link" href="/channel/-/(( channel_data.id ))/?video=(( video.id ))" ng-click="changeVideo($event, $index, video.id)">
        <img data-src="(( video.video.thumbnail_url ))" class="video-thumbnail collection__list-item-image" width="110" height="62" />
        <!-- currently playing icon -->
        <span class="collection__list-item-title" ng-class="{ active:video.isActive }">(( video.title ))</span>
      </a>
    </li>
  </ul>

  <a class="collection__all-videos-link" href="(( itunesLink ))&ct=channel" target="_blank">
    <img ng-class="{ visible : owner.avatar_thumbnail_url }" src="(( owner.avatar_thumbnail_url ))" class="collection__all-videos-image" alt="(( owner.display_name ))" title="(( owner.display_name ))" />
    <p class="collection__all-videos-text">
      View all videos in this collection
    </p>
  </a>

</section>
