

<!-- <h1>Browse (( owner.display_name|firstName))'s channel</h1> -->

<a class="weblite-icon-left paging left"></a>
<a class="weblite-icon-right paging right"></a>

<div class="scroll-wrapper">
	<ul class="channel-list">
		<li ng-repeat="video in videos.items">
			<a href="/channel/-/(( channel_data.id ))/?video=(( video.id ))" ng-click="changeVideo($event, $index)">
				<img ng-src="(( video.video.thumbnail_url ))" />
				<span>(( video.title ))</span>
			</a>
		</li>
	</ul>
</div>

<h4 class="f-sans">This is the enticing copy that someone has to come up with to encourage the viewer to download the app.</h4>
<a href="#" class="download">Download Wonder</a>

<div class="clear"></div>