
<div class="top f-centered">
	<div class="avatar">
		<img ng-src="(( user.avatar_thumbnail_url ))" alt="">
	</div>
	<h3 class="f-sans"><span class="strong">(( user.display_name )) </span>shared this with you</h3>
</div>

<div id="player-wrapper">
	<div class="web-lite-player" id="wonderplayer"></div>	
</div><!-- player wrapper houses the directive -->

<div class="bottom f-centered">
	<h3 class="f-sans">(( videos[currentvideo].title ))</h3>
	<div class="interactive">
		<a ng-click="shareTwitter()" class="weblite-icon-twitter"></a>
		<a ng-click="shareFacebook()" class="weblite-icon-facebook"></a>
		<a ng-click="toggleEmbedOptions($event)" class="weblite-icon-embed"></a>
	</div>
	<div class="embed-options" ng-class="{ open: embedOptionsShowing }">
		<div class="row">
			<label>Embed code:</label>
			<div class="input-wrapper">
				<input id="embed-link" type="text" value="<iframe src=&quot;http://wonderpl.com/embed/((videos[currentvideo].id))/&quot; width=&quot;100%&quot; height=&quot;100%&quot; frameborder=&quot;0&quot; allowfullscreen></iframe>" class="f-sans right-rounded">	
				<span class="copy-to-clipboard right-rounded" ng-click="copyToClipboard()"></span>
			</div>
		</div>
	</div>
</div>