{% extends 'admin/chart.html' %}

{% block body %}
<div>
  {% call chart('Downloads', download_data) %}{}{% endcall %}
  {% call chart('Updates', update_data) %}{}{% endcall %}
  {% call chart('Registrations', reg_data, 'ComboChart') %}
  {
    seriesType: 'line',
    series: {0: {type: 'bars'} },
    legend: 'in'
  }
  {% endcall %}
</div>

<h3>Registrations Detail</h3>
<div>
  {% call chart('Registrations Detail', reg_data, 'Table') %}
  {
    alternatingRowStyle: false
  }
  {% endcall %}
</div>
{% endblock %}
