{% extends 'admin/chart.html' %}

{% macro select(param, values, default=None) -%}
  <div class="sel">
    <label for="{{ param }}">{{ param|capitalize }}</label>
    <select name="{{ param }}" onchange="this.form.submit()">
      {% with sel = request.args.get(param, default) %}
      {% if not default %}
      <option {% if not sel %}selected="true"{% endif %}></option>
      {% endif %}
      {% for value in values %}
      <option {% if sel == value %}selected="true"{% endif %}>{{ value }}</option>
      {% endfor %}
      {% endwith %}
    </select>
  </div>
{%- endmacro %}

{% block body %}
<style>
  .sel { display: inline-block; margin-right: 2em; }
  .sel label { display: block; }
  .sel select { width: auto; }
</style>
<div>
  <form action="" method="get">
    {% for param, values in selects.items() %}
    {{ select(param, values, values[0]) }}
    {% endfor %}
  </form>
  <div>
    {% call chart('X', data, 'Table') %}
    {
      allowHtml: true
    }
    {% endcall %}
  </div>
</div>
{% endblock %}
