{% extends 'admin/model/edit.html' %}

{% block body %}
{{ super() }}
{% include 'admin/covereditor.html' %}
<div class="cover-image-thumbnail-small">
    <div style="border-bottom:1px solid #000000">thumbnail small</div><div><img src="{{ form.cover.data.thumbnail_small }}" /></div>
</div>
<div class="cover-image-thumbnail-large">
    <div style="border-bottom:1px solid #000000">thumbnail large</div><div><img src="{{ form.cover.data.thumbnail_large }}" /></div>
</div>
<div class="cover-image-carousel">
    <div style="border-bottom:1px solid #000000">carousel</div><div><img src="{{ form.cover.data.carousel }}" /></div>
</div>
<div class="cover-image-background">
    <div style="border-bottom:1px solid #000000">background</div><div><img src="{{ form.cover.data.background }}" /></div>
</div>
{% endblock %}

{% block tail %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/assets/admin/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/admin/cover.css" />
<script type="text/javascript" src="/static/assets/admin/jquery-ui.js"></script>
<script type="text/javascript" src="/static/assets/admin/cover.js"></script>
{% endblock %}
