{% extends 'admin/model/edit.html' %}

{% block body %}
{{ super() }}
{% include 'admin/covereditor.html' %}

<div class="cover-images">
  {% for key in config.CHANNEL_IMAGES|sort %}
  <div class="cover-image-{{ key }}">
    <div style="border-bottom:1px solid #000000">{{ key }}</div>
    <img src="{{ form.cover.data[key] }}" />
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block tail %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/assets/admin/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/admin/cover.css" />
<script type="text/javascript" src="/static/assets/admin/jquery-ui.js"></script>
<script type="text/javascript" src="/static/assets/admin/cover.js"></script>
{% endblock %}
