{% extends 'admin/model/edit.html' %}

{% block body %}
<div style="float: right;">
    <h3>Upload channel cover</h3>
<p id="coverupload_errors" style="color: #FF0000; font-weight: bold"></p>
    <input type="file" name="coverfile" id="coverfile" />
    <!--input type="button" id="coversubmit" value="submit"-->
    <a href="#" style="font-weight: bold" id="coversubmit">&lt;submit&gt;</a>
</div>
{{ super() }}
{% if admin_view.child_links %}
{% for label, base, col in admin_view.child_links %}
<div class="child-link">
  <a href="{{ url_for(base + '.index_view') }}?flt1_2={% if col %}{{ form[col].data }}{% else %}{{ request.args.id }}{% endif %}">
    {{ label }}
  </a>
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block tail %}
{{ super() }}

<script>
$(document).ready(function(){
    $('#coversubmit').click(function() {
         console.log('in');
         $('#coverupload_errors').text('uploading ....')
         var formdata = new FormData();
         formdata.append('cover', $('#coverfile')[0].files[0]);
         formdata.append('owner', $('#owner_rel')[0].value);
         $.ajax({
             url: '{{ url_for("import.coverart") }}',
             type: 'POST',
             data: formdata,
             success: function(data) {
                 $('#cover')[0].value = data['id'];
                 $('#coverupload_errors').text('');
                 $('#coverupload_errors').text('done')
             },
             error: function(data) {
                 $('#coverupload_errors').text($.parseJSON(data.responseText)['error']);
             },
             cache: false,
             contentType: false,
             processData: false,
         });
    });
});
</script>
{% endblock %}
