{% extends 'admin/model/edit.html' %}
{% import 'admin/lib.html' as lib with context %}

{% block body %}
  {% if 1 %}
  <div class="bookmarklet">
    Add this link to your bookmarks:
    <a href="
      javascript:
      (function () {
        var d = document,
          s = d.createElement('script');
        s.src = '{{ url_for('.bookmarklet', _external=True) }}?locale={{ form.data.locale }}&' + Math.random();
        d.body.appendChild(s);
      }());
      ">{% if form.locale %}{{ form.locale.data }} {% endif %}rockpack import</a>
  </div>
  {% endif %}

  {% if form %}
    {% if form.errors %}
    <div class="import_form_error error">
      {{ form.errors.__all__ }}
    </div>
    {% endif %}
    <div class="import_form">
        <form action="" method="POST" class="form-horizontal" enctype="multipart/form-data">
            <fieldset>
                {{ lib.render_form_fields(form) }}
                <a href="#" onclick="$('#user_form')[0].style.display='block';" class="btn btn-large">add user</a>
                <div id='user_form' {% if not user_form.errors %} style="display: none" {% endif %}>
                    {{ lib.render_form_fields(user_form) }}
                </div>
                <div class="control-group">
                    <div class="controls">
                        {% if form.commit.data %}
                        <input type="submit" class="btn btn-primary btn-large" value="{{ _gettext('Submit') }}" />
                        {% else %}
                        <input type="submit" class="btn btn-primary btn-large" value="{{ _gettext('Preview') }}" />
                        {% endif %}
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
  {% endif %}

  {% if import_preview %}
  {% if import_preview.videos %}
  <div class="import_preview">
      {% if form.data.type == 'video' %}
      <h2>{{ import_preview.videos[0].title }}</h2>
      {% else %}
      <h2>{{ import_preview.title }}</h2>
      <p>Video count: {{ import_preview.video_count }}</p>
      {% endif %}
      {% for video in import_preview.videos if video.thumbnails %}
      <img src="{{ video.thumbnails[0].url }}"/>
      {% endfor %}
  </div>
  {% else %}
  <div class="error">No videos found. :-(</div>
  {% endif %}
  {% endif %}


{% endblock %}

{% block tail %}
<script src="/admin/static/js/bootstrap-datepicker.js"></script>
    <script src="/admin/static/js/form.js"></script>
  <script>
      $(function () {
          // hide the channel description unless we create a new one
          $('#channel_description')[0].style.display = 'none';
          $('label[for="channel_description"]')[0].style.display = 'none';

          $('#channel').change(function() {
              if ($('#channel')[0].value.indexOf('_new') < 0) {
                  $('#channel_description')[0].style.display = 'none';
                  $('label[for="channel_description"]')[0].style.display = 'none';
                  } else {
                  $('#channel_description')[0].style.display = 'inline';
                  $('label[for="channel_description"]')[0].style.display = 'inline';
              }
          });

      var categoryField = $('#category'),
          userField = $('#user'),
          channelField = $('#channel');

      function dataToResults (data, page) {
        var results = $.map(data, function (text, id) {
          return {id:id, text:text};
        });
        return {results: results};
      }

      userField.select2({
        _placeholder: 'Search for user',
        minimumInputLength: 3,
        minimumResultsForSearch: 10,
        ajax: {
          url: '{{ url_for(".users") }}',
          data: function (term, page) {
            return {prefix: term};
          },
          results: dataToResults
        },
        width: 'element',
        dropdownCssClass: 'bigdrop'
      }).on('change', function (e) {
        channelField.select2('data', {});
      });

      channelField.select2({
        quietMillis: 1000,
        ajax: {
          url: '{{ url_for(".channels") }}',
          data: function (term, page) {
            return {user: userField.val()};
          },
          results: dataToResults
        },
        createSearchChoice: function (term) {
          return {
            id: '_new:' + term,
            text: term + ' <span class="add-new">create new</span>'
          };
        },
        width: 'element',
        dropdownCssClass: 'bigdrop'
      });

      categoryField.select2('focus');
    });
  </script>
  <style>
    .add-new {
      font-style: italic
    }
    .add-new:before {
      content: '('
    }
    .add-new:after {
      content: ')'
    }
{% endblock %}
