{% extends 'admin/model/edit.html' %}
{% import 'admin/lib.html' as lib with context %}

{% block body %}
<style>
    .container { width: 100%; }

    @import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);
    * { font-family: 'Roboto', sans-serif; line-height:1.2; vertical-align:middle; }
    body { background:#d5d5d5;  }

    main {
      display:block;
      position:relative;
      width:30rem;
      margin:3vh auto;
      padding:1.5rem 0 0;
      background:#d5d5d5;
      outline
      border-radius:.25rem;
      overflow:hidden;
      transform:scale(.75);
      transform-origin:center 3rem;
      transition:transform .3s;
    }

    .card {
      padding:.8rem 1.5rem 1.5rem 1.5rem;
      box-shadow:0 1px 2px #aaa;
      background:white;
      margin:0 1rem 1rem;
      border-radius:3px;
    }

    h1 {
      font-size:1.8rem;
      font-weight:300;
    }

    h2 {
      font-size:1.6rem;
      font-weight:300;
    }

    strong {
    font-weight:300;
    color:#539D00;
    }

    h3 {
      font-size:.9rem;
      line-height:1.0;
      color:gray;
      font-weight:400;
    }

    .pic {
      height:12rem;
      background:whitesmoke;
      margin:.5rem 0 0 -1.5rem;
      width:68rem;

  }

    .videopic {
      height:12rem;
      background:whitesmoke;
      margin:.5rem 0 0 -1.5rem;
      width:68rem;

  }

  .button, .button:visited, .button:link
  {
    padding: 4px 10px;
    background: #FFFFFF;
    color: #gray;
    text-decoration:none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
</style>
<div>
    <div style="width:480px; height: 40px; float: left">
        {% if videos or not channels %}
            <input class="button" type="button" onclick="location.href='{{ referrer }}';" value="Back to channels">
            {% if not videos %}
            <h3>No videos for this channel</h3>
            {% endif %}
        {% else %}
        <form>
            <div style="float: left; width: 240px">
                <select name="category" onchange="javascript:location.href = '{{ locale_base }}?category=' + this.value;" />
                    {% for cat in categories %}
                    <option value="{{cat[0]}}" {% if category == cat[0] %} selected="selected" {% endif %}>{{cat[1]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div style="float:left;">
                <input type="text" name="search" placeholder="{{ search_term }}"/>
            </div>
        </form>
        {% endif %}
    </div>
    <div style="float: right;">
        {% if videos %}
        <input
        type="button"
        class="button"
        value="toggle user sorted/date sorted"
        onclick="location.href='{{ path }}?referrer={{ referrer }}&position={% if position == 't' %}f{% elif position == 'f' %}t{% else %}t{% endif %}'"/>
        {% elif channels %}
        <input
        class="button"
        type="button"
        value="switch to {{ locale_toggle_name }}"
        onclick="location.href='{{ locale_toggle }}?category={{ category }}'"/>
        {% endif %}
    </div>


    {% if videos %}
    <section class="card" style="min-width: 520px; width:100%; height:220px; overflow: hidden; position: relative; padding:0px; border:0px; margin: 0px 0px 20px 0px">
    <div style="position: absolute; padding:10px">
        <h1 style="font-size: 30pt">{{ channel.title }}</h1>
        <h3><b>{{ channel.subscriber_count }} subscriber{% if channel.subscriber_count > 1 %}s{% endif %}</b></h3>
        <h3><b>{{ video_count }} videos</b></h3>
        </div>
        <img style="min-width: 268px; width:100%; opacity:0.4" src="{{ channel.cover_thumbnail_large_url }}"/>
        </section>
    {% endif %}

    <div style="clear: both">
    {% if channels or not videos %}
    {% for channel in channels %}
    <section class="card" style="min-width: 220px; width:36%; max-width:256px; height:390px; float: left; overflow: hidden; position: relative">
        <div style="height: 92px">
            <h1 {% if channel.promoted %}style="color:#99CC00; font-weight: bold"{% endif %}>
                {{ channel.title|truncate(30, True) }}
            </h1>
        </div>
        <h3>date added: {{ channel.date_added }} </h3>
        <h3>ranking: {{ channel.explanation.value }} </h3>
        <h3>subscriber frequncy: {{ channel.subscriber_frequency }}</h3>
        <h3>subscriber count: {{ channel.subscriber_count }}</h3>
        <h3>view counts: US ({{ channel.uscount }}) GB ({{ channel.gbcount }})</h3>
        <h3>video update frequency: {{ channel.video_update_frequency }}</h3>
        <h3>normalised rank: {{ channel.normalised_rank }}</h3>
        <h3>editorial boost: {{ channel.editorial_boost }}</h3>
        <div class="pic"><a href="{{ locale_base  }}{{ channel.id }}/"><img style="min-width: 268px; width:100%; max-width:304px" src="{{ image_cdn }}{{ channel.cover_thumbnail_large_url }}"/></a></div>
    </section>
        {% endfor %}
    {% endif %}

    {% for video in videos %}
    <!-- 460 //-->
    <section class="card" style="min-width: 520px; max-width: 590px; width:90%; height:220px; float: left; overflow: hidden; position: relative">
        <div style="height: 64px">
            <h2>{{ video.title|truncate(30, True) }}</h1>
        </div>
        <div style="float:left; width: 200px">
            <h3>duration: {{ video.duration }}s</h3>
            <h3>view counts: US ({{ video.uscount }}) GB ({{ video.gbcount }})</h3>
            <h3>likes: US ({{ video.usstarcount }}) GB ({{ video.gbstarcount }})</h3>
        </div>
        <div style="width: 200px; float: right">
            <h3>date added: {{ video.date_added }}</h3>
            <a rel="voverlay" href="http://www.youtube.com/watch?v={{ video.source_id }}" target="_blank"><img src="/static/assets/admin/images/yt-logo.jpg" alt="YouTube"/></a>
        </div>
        <div style="clear:both"></div>
        <div class="videopic"><a rel="voverlay" href="http://www.youtube.com/watch?v={{ video.source_id }}" target="_blank"><img style="min-width: 568px; width:100%; max-width:638px" src="{{ video.thumbnail_url }}"/></a></div>
    </section>
    {% endfor %}
    </div>
</div>
{% endblock %}
{% block tail %}
{{ super() }}
<link rel="stylesheet" href="/static/assets/admin/prettyphoto/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
<script type="text/javascript" src="/static/assets/admin/prettyphoto/js/jquery.prettyPhoto.js"></script>
<script src="/admin/static/select2/select2.min.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
          $("a[rel^='voverlay']").prettyPhoto({social_tools:'', show_title: false});
  });
</script>
{% endblock %}
