{% extends 'admin/chart.html' %}

{% macro select(param, values, default=None) -%}
  <div class="sel">
    <label for="{{ param }}">{{ param }}</label>
    <select name="{{ param }}" onchange="this.form.submit()">
      {% with sel = request.args.get(param, default) %}
      {% if not default %}
      <option {% if not sel %}selected="true"{% endif %}></option>
      {% endif %}
      {% for value in values %}
      <option {% if sel == value %}selected="true"{% endif %}>{{ value }}</option>
      {% endfor %}
      {% endwith %}
    </select>
  </div>
{%- endmacro %}

{% block body %}
<style>
  .sel { display: inline-block; }
  .sel label { display: inline-block; }
  .sel select { width: auto; }
</style>
<div>
  <form action="" method="get">
    {{ select('activity', ('activity', 'account_event'), 'account_event') }}
    {{ select('locale', ('en-us', 'en-gb')) }}
    {{ select('gender', ('m', 'f')) }}
    {{ select('age', ('13-18', '18-25', '25-35', '35-45', '45-55')) }}
  </form>
  <div>
    {% call chart('Retention', data, 'Table') %}
    {
      alternatingRowStyle: false
    }
    {% endcall %}
  </div>
</div>
{% endblock %}
