{% extends 'admin/model/edit.html' %}

{% block head_css %}
{{ super() }}
<style>
.floating-form {
  clear: right;
  float: right;
  border: 1px dashed;
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
}
</style>
{% endblock %}


{% block body %}

<div class="floating-form">
  <h3>Password Reset</h3>
  <p id="resetpassword_errors" style="color: #FF0000; font-weight: bold"></p>
  <a href="#" class="btn" id="resetsubmit">Send password reset email</a>
</div>

<div class="floating-form">
  <h3>Twitter Screen Name</h3>
  <form action="{{ url_for("user.twitter_screenname") }}" method="post">
    <div>
      <input type="text" name="screenname"/>
    </div>
    <div>
      <input type="hidden" name="user_id" value="{{ request.args.id }}"/>
      <input type="submit" value="Set" class="btn"/>
    </div>
  </form>
</div>

{{ super() }}
{% if admin_view.child_links %}
{% for label, base, col in admin_view.child_links %}
<div class="child-link">
  <a href="{{ url_for(base + '.index_view') }}?flt0_0={% if col %}{{ form[col].data }}{% else %}{{ request.args.id }}{% endif %}">
    {{ label }}
  </a>
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block tail %}
{{ super() }}

<script>
$(document).ready(function(){
    $('#resetsubmit').click(function() {
         $('#resetpassword_errors').text('sending reset email ...')
         var formdata = new FormData();
         formdata.append('username', $('#username')[0].value);
         $.ajax({
             url: '{{ url_for("import.resetpassword") }}',
             type: 'POST',
             data: formdata,
             success: function(data) {
                 $('#resetpassword_errors').text('');
                 $('#resetpassword_errors').text('reset password email sent.')
             },
             error: function(data) {
                 $('#resetpassword_errors').text($.parseJSON(data.responseText)['error']);
             },
             cache: false,
             contentType: false,
             processData: false,
         });
    });
});
</script>
{% endblock %}
