{% extends 'admin/model/edit.html' %}

{% block body %}
<div style="float: right;">
    <h3>Reset password</h3>
<p id="resetpassword_errors" style="color: #FF0000; font-weight: bold"></p>
    <!--input type="button" id="coversubmit" value="submit"-->
    <a href="#" style="font-weight: normal" id="resetsubmit">&gt;&gt; click to send password reset email</a>
</div>
{{ super() }}
{% if admin_view.child_links %}
{% for label, base, col in admin_view.child_links %}
<div class="child-link">
  <a href="{{ url_for(base + '.index_view') }}?flt0_0={% if col %}{{ form[col].data }}{% else %}{{ request.args.id }}{% endif %}">
    {{ label }}
  </a>
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block tail %}
{{ super() }}

<script>
$(document).ready(function(){
    $('#resetsubmit').click(function() {
         $('#resetpassword_errors').text('sending reset email ...')
         var formdata = new FormData();
         formdata.append('username', $('#username')[0].value);
         $.ajax({
             url: '{{ url_for("import.resetpassword") }}',
             type: 'POST',
             data: formdata,
             success: function(data) {
                 $('#resetpassword_errors').text('');
                 $('#resetpassword_errors').text('reset password email sent.')
             },
             error: function(data) {
                 $('#resetpassword_errors').text($.parseJSON(data.responseText)['error']);
             },
             cache: false,
             contentType: false,
             processData: false,
         });
    });
});
</script>
{% endblock %}
