<div ng-controller="PageCtrl">
  <div id="contentproviders">
    <div class="wrapper">
      <h1>CONTENT PROVIDERS</h1>
      <h2>WE BELIEVE YOUR COMMUNITIES<br>
        ARE YOUR BEST ASSETS</h2>
      <p>The world is moving from a social economy to a curator's economy.  Consumers want to
        discover content through their favorite curators.  And they also want to curate
        themselves.</p>
      <p>Rockpack helps people discover, watch and share video content from across the web.  
        We create a destination that gathers your videos from wherever you host them,
        includng  YouTube and Vimeo, and present them in beautiful, branded channels.  It's easy.</p>
    </div>
  </div>
  <div id="chalkboard">
    <img src="/static/assets/weblight/images/leverageyourcommunity.png" id="leverageyourcommunity">
    <div id="drawings">
      <img src="/static/assets/weblight/images/redpeople.png">
      <img src="/static/assets/weblight/images/arrows.png" class="arrows">
      <img src="/static/assets/weblight/images/whitepeople.png">
      <img src="/static/assets/weblight/images/doublearrows.png" class="arrows">
      <img src="/static/assets/weblight/images/bluepeople.png">
    </div>
    <div id="bottomtext">
      <img src="/static/assets/weblight/images/yourcommunities.png">
      <img src="/static/assets/weblight/images/whoengage.png">
      <img src="/static/assets/weblight/images/theyinturn.png">
    </div>
  </div>
  <div id="iphonescontainer">
    <div id="threeiphones" class="wrapper">
      <div>
        <img src="/static/assets/weblight/images/leftIphone.png">
      </div>
      <div>
        <img src="/static/assets/weblight/images/middleIphone.png">
      </div>
      <div>
        <img src="/static/assets/weblight/images/rightIphone.png">
      </div>
    </div>
    <div id="iphonesinfo" class="wrapper">
      <div>
        <h3>GET FEATURED</h3>
        <p>Apply here to get featured by<br>
          category or subcategory, and<br>make it easier for<br>
          consumers to find you.</p>
      </div>
      <div>
        <h3>DRIVE MOBILE VIEWS</h3>
        <p>Our platform is mobile first.<br>
          Have a look at our Channel Playbook<br>for help on how to increase views<br>from consumers on-the-go.</p>
      </div>
      <div>
        <h3>STAND OUT</h3>
        <p>Our customizable interface
          showcases the original aesthetic of your brand in beautiful,
          clean packaging.</p>
      </div>
    </div>
  </div>
  <div id="faq" class="wrapper">
    <h2>FAQ</h2>
    <p>If your question isn’t answered below, please email us directly at<br>contentproviders@rockpack.com</p>
    <div class="container">
      <div class="left">
        <div>
          <h3>HOW DOES ROCKPACK WORK?</h3>
          <p>Rockpack allows people to curate videos from around the web and create highly visual and personalized channels. You can follow channels created by friends or experts to discover the videos you find interesting. This network of channels builds a vibrant and valuable community.</p>
        </div>
        <div>
          <h3>How can I manage my own account?</h3>
          <p>We’ve reserved over 50,000 usernames to be released to brands and influencers upon your request.  If you want to claim your own account, please <a href="mailto:contentproviders@rockpack.com">get in touch</a>.</p>
        </div>
        <div>
          <h3>What are Rockpack’s social features?</h3>
          <p>On Rockpack, users can follow channels created by their friends, brands and influencers.  Users will be notified when a new subscriber follows their channel. We support Facebook and Twitter connect.  We also enable users to share channels to a specific group using their Facebook friends list.  We support email sharing as well.</p>
        </div>
        <div>
          <h3>Can I embed a channel on my site? </h3>
          <p>Right now you can’t, but you can share out your channels or post links and your followers will be able to see them, regardless of whether they are signed up or not.</p>
        </div>
        <div>
          <h3>How do covers help my channel?</h3>
          <p>As a brand it’s important to own your visual identity and have the ability to present your content how you want to. Covers provide the perfect immersive environments to showcase your content. Just as importantly, they are the visual identity of your channels. Choosing a good cover will encourage viewers scanning the channels page to click on yours.</p>
        </div>
        <div>
          <h3>What if I have numerous YouTube channels and/or brands?</h3>
          <p>If your YouTube channels are under one account, they’ll be under the same one on Rockpack. If you have multiple brands you can manage them on Rockpack under one umbrella behind the scenes by <a href="mailto:contentproviders@rockpack.com">contacting us</a>. </p>
        </div>
        <div>
          <h3>Can I upload my content directly to Rockpack?</h3>
          <p>Right now, we aren’t hosting content. Over time, we will pull in content directly from selected partners. We’ll keep you posted as we progress!</p>
        </div>
        <div>
          <h3>Can I give Rockpack access to content I host?</h3>
          <p>We love working with other companies and pulling in new content so if you are interested in collaborating please <a href="mailto:contentproviders@rockpack.com">get in touch.</a></p>
        </div>
        <div>
          <h3>How can I remove my channels from Rockpack?</h3>
          <p>Its very simple – just go to your profile, tap and hold the channel you want to delete, and click the ‘x’.</p>
        </div>
      </div>
      <div class="right">
        <div>
         <h3>HOW DO I GET STARTED?</h3>
         <p>Once you download the app, search for the videos you have already uploaded to YouTube and organize them the way you want. Its easy – just tap to select
           videos and drop them into a channel. You can share these channels out to your social networks for all your fans to see.</p>
           <p>First, though, check to see that your channel isn’t already on Rockpack.
           If it isn’t, let us know and we will get the content from wherever you’re hosting it, whether that’s YouTube, Vimeo, Ooyala or Brightcove.</p>
        </div>
        <div>
          <h3>How do I verify my account? </h3>
          <p><A href="mailto:verify@rockpack.com">Get in touch</a> to become a verified user.</p>
        </div>
        <div>
          <h3>How can I tell my viewers about my channels on Rockpack? </h3>
          <p>Even if your fans aren’t on Rockpack you can still share your channels with them via your social media accounts. They will be able to view your videos and share your channels to their own networks via Facebook and Twitter.</p>
        </div>
        <div>
          <h3>Are there any costs associated with putting my content on Rockpack?</h3>
          <p>No! Rockpack is completely free. </p>
        </div>
        <div>
          <h3>How can I get my content promoted on Rockpack?</h3>
          <p>Our system actively promotes new content - keep your channel fresh and updated and it will benefit accordingly.<p>
          <p>If you are interested in a promotional spot, please <a href="mailto:advertising@rockpack.com">get in touch</a> with us.</p>
        </div>
        <div>
          <h3>How can I monetize my content on Rockpack? </h3>
          <p>Start building your communities and increasing your following.</p>
          <p>You can then become eligible to beta test our custom commercial opportunities. <a href="mailto:contentproviders@rockpack.com">Let us know</a> if you would like to learn more. </p>
        </div>
        <div>
          <h3>What happens if I can’t find my videos?</h3>
          <p>f a video doesn’t come up when you search for it, please <a href="mailto:contentproviders@rockpack.com">let us know</a> and we will find out why.</p>
        </div>
        <div>
          <h3>How will this affect my YouTube relationship?</h3>
          <p>Every view you get on Rockpack counts as a view on YouTube. Given Rockpack’s  social features you can only increase your views and drive ad impressions. You can also pull in the channels you have already created on YouTube – no extra work required.</p>
        </div>
        <div>
          <h3>What happens if I delete videos from YouTube? </h3>
          <p>They will be unavailable on Rockpack. We don’t host content, so whenever a video is deleted from a hosting platform we use, you won’t be able to watch it on Rockpack.</p>
        </div>
      </div>
    </div>
  </div>
    <div id="share">
      <div class="wrapper">
        <ul>
          <li>
            <h3>Get the app</h3>
            <img src="/static/assets/front/images/downloadbig.png" ng-click="triggerEvent('appStoreButtonClick')">
          </li>
          <li>
            <h3>INSTALL THE BOOKMARKLET</h3>
            <a href="#/bookmarklet"><button class="btn btn-blue">+ PACK IT</button></a>
          </li>
          <li>
            <h3>FOLLOW US</h3>
            <ul id="social">
              <li ng-click="triggerEvent('followUsButtonClick', 'Blog')"><a href="http://blog.rockpack.com/" id="blog" target="_blank" ></a></li>
              <li ng-click="triggerEvent('followUsButtonClick', 'Twitter')"><a href="https://twitter.com/Rockpack" id="twitter" target="_blank"></a></li>
              <li ng-click="triggerEvent('followUsButtonClick', 'Facebook')"><a href="http://www.facebook.com/rockpack" id="facebook" target="_blank"></a></li>
              <li ng-click="triggerEvent('followUsButtonClick', 'Instagram')"><a href="http://instagram.com/officialrockpack" id="instagram" target="_blank"></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>