<div ng-controller="PageCtrl">
  <div id="whatson">
    <div class="wrapper">
      <div class="headline">
        <h1>WHAT’S ON YOUR CHANNEL?</h1>
        <h2>The app that makes it easy to create, share and subscribe to personalized video channels. Add your favorite videos from across the web with just one tap.</h2>
        <a href="http://downloadapp.rockpack" target="_blank"><img ng-src="((assets_url))/assets/front/images/downloadbig.png" ng-click="triggerEvent('appStoreButtonClick')"></a>
      </div>
      <div class="ipadsimgs hidden-phone"></div>
    </div>
  </div>

  <div id="iphone-instructions" class="wrapper visible-phone">
    <h3>Tap to add, create and subscribe to<br>channels</h3>
    <div class="imgcontainer">
      <img ng-src="((assets_url))/assets/front/images/iphone-mobile.png">
    </div>
    <div class="container">
      <div class="plus">
        <img ng-src="((assets_url))/assets/front/images/plus.png">
        <p>Tap the + to add videos to your channels.</p>
      </div>
      <div class="text">
        <h3>Create</h3>
        <p>Personalize your channel with a unique cover or your own photos.</p>
      </div>
      <div class="text">
        <h3>SUBSCRIBE</h3>
        <p>Subscribe to channels curated by family, friends and experts.</p>
      </div>
    </div>
  </div>

  <div class="hidden-phone video-container">
    <div id="video">
      <div>
        <h2>Life is everyday curation.</h2>
        <img ng-src="((assets_url))/assets/front/images/play.png" id="play">
      </div>
    </div>
  </div>
  <div class="hidden-phone" id="iphones">
    <h2>TAP TO ADD, CREATE AND SUBSCRIBE TO CHANNELS</h2>

    <div id="addvideo">
      <div id="iphone1"></div>
      <div class="plus">
        <img ng-src="((assets_url))/assets/front/images/plus.png">
        <p>Tap the + to add videos to your channels.</p>
      </div>
    </div>

    <div id="create">
      <div class="text">
        <h3>CREATE</h3>
        <p>Personalise your channel with a unique cover or your own photo.</p>
      </div>
      <div id="iphone2"></div>
    </div>

    <div id="subscribe">
      <div id="iphone3"></div>
      <div class="text">
        <h3>SUBSCRIBE</h3>
        <p>Subscribe to channels curated by family, friends and experts. </p>
      </div>
    </div>

  </div>

  <div id="iphoneShare" class="visible-phone">
    <h2>Life is everyday curation</h2>
    <div class="watchvideo"></div>
    <a href="http://downloadapp.rockpack" target="_blank" class="download"><img ng-src="((assets_url))/assets/front/images/downloadbig.png" ng-click="triggerEvent('appStoreButtonClick')"></a>
    <div id="share">
      <ul id="social">
        <li><a href="https://twitter.com/Rockpack" id="twitter" target="_blank" ng-click="triggerEvent('followUsButtonClick', 'Twitter')"></a></li>
        <li><a href="http://www.facebook.com/rockpack" id="facebook" target="_blank" ng-click="triggerEvent('followUsButtonClick', 'Facebook')"></a></li>
        <li><a href="http://instagram.com/officialrockpack" id="instagram" target="_blank" ng-click="triggerEvent('followUsButtonClick', 'Instagram')"></a></li>
      </ul>
    </div>
  </div>

  <div id="share" class="hidden-phone">
    <div class="wrapper">
      <ul>
        <li>
          <h3>Get the app</h3>
          <a href="http://downloadapp.rockpack" target="_blank"><img ng-src="((assets_url))/assets/front/images/downloadbig.png" id="gettheapp" ng-click="triggerEvent('appStoreButtonClick')"></a>
        </li>
        <li class="visible-desktop">
          <h3>INSTALL THE BOOKMARKLET</h3>
          <a href="#/bookmarklet"><button class="btn btn-blue">+ PACK IT</button></a>
        </li>
        <li>
          <h3>FOLLOW US</h3>
          <ul id="social">
            <li ng-click="triggerEvent('followUsButtonClick', 'Blog')"><a href="http://blog.rockpack.com/" id="blog" target="_blank" ></a></li>
            <li ng-click="triggerEvent('followUsButtonClick', 'Twitter')"><a href="https://twitter.com/Rockpack" id="twitter" target="_blank"></a></li>
            <li ng-click="triggerEvent('followUsButtonClick', 'Facebook')"><a href="http://www.facebook.com/rockpack" id="facebook" target="_blank"></a></li>
            <li ng-click="triggerEvent('followUsButtonClick', 'Instagram')"><a href="http://instagram.com/officialrockpack" id="instagram" target="_blank"></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>