<div ng-controller="PageCtrl" id="jobs" class="content-page">
  <header>
    <div class="wrapper">
        <h1 class="title">JOBS</h1>
        <h2>We Want You</h2>
    </div>
  </header>
  <div class="main-content">
    <div class="wrapper">
      <h1 class="title">
        Social Media Manager
      </h1>
      <div class="main-text">
        <p>A Social Media Manager needed to drive growth of our platform in these early stages. Startup or other relevant experience at a large social media platform preferred but not required.</p>
        <div class="readmore">
          <div class="readmoretext">
            <p>Responsibilities:</p>
            <ul>
              <li>Ensure social and community-centric conversation is at the heart of all activities<li>
              <li>Develop, manage and execute Social Media campaigns</li>
              <li>Prepare and drive the community strategy and agenda</li>
              <li>Increase engagement and growth within Social Media</li>
              <li>Manage the company Blog</li>
              <li>Manage the capturing of consumer insight through social media</li>
              <li>Generate creative ideas for consumer engagement</li>
              <li>Provide Social Media customer service support</li>
            </ul>
            <p>Requirements:</p>
            <ul>
              <li>University degree
              <li>An advanced knowledge and a real passion for Social Media</li>
              <li>Experience of developing and implementing Social Media strategies</li>
              <li>Copywriting and content creation experience</li>
              <li>English as first language or absolute fluency</li>
            </ul>
          </div>
          <a class="readmorebtn" ng-click="toggleReadMore($event, 'readmoretext')"><span class="arrow"></span> <span class="btntext">Read More</span></a>
      </div>
    </div>
  </div>
  </div>
  <div class="main-content">
    <div class="wrapper">
      <h1 class="title">
        INTERNS
      </h1>
      <div class="main-text">
        <p>We are looking for someone with a solid degree, or an MBA student who wants to explode into the world of media and technology. If you want to spend your day making music playlists and cross curating then read on.</p>          
        <div class="readmore">
          <div class="readmoretext">
            <p>You must have a strong interest in popular culture from film, food, music, fashion and sport. The right candidate will need a good understanding of engaging audiences within the different channel.</p>
            <p>We are looking for a dynamic person who can write to a high standard, and have proven experience of delivering well written and creative communication material to contribute to our site & content.You will have the ability to think laterally and creatively about curation, be aesthetic and visually inclined. Perhaps you are a data analyst with an artistic side. You will need to be able to work with excel spreadsheets and analyse viewer traffic. We need to optimize the playlists for the website so a basic understanding of SEO and creating SEO optimised content would be beneficial. Email us at hello@rockpack.com</p>
          </div>
          <a class="readmorebtn" ng-click="toggleReadMore($event, 'readmoretext')"><span class="arrow"></span> <span class="btntext">Read More</span></a>
        </div>
      </div>
    </div>
  </div>
</div>