<div ng-controller="PressCtrl" id="press">
  <div id="pressheader">
    <div class="wrapper">
      <h1>Press</h1>
    </div>
  </div>
  <div class="wrapper" id="playbookcontainer">
    <div id="playbookcontent" >
      <div ng-switch on="selectedChapter" id="playbookcontentcontainer">
        <div ng-switch-when="PARTNERS" id="partners">
          <div class="press-release">
            <p>"So much video content. But that's like a library with no catalogue, no subject sections, no enthusiastic librarian. The joy and pleasure of Rockpack is being able to easily curate one's own channel packing it with one's own passions, influences and guilty secrets, and to happen upon those of others. To make connections with people and ideas that otherwise you wouldn’t be able to. It rocks."</p>
            <div class="meta">
              <span class="name">Stephen Fry</span>
            </div>
            </div>
          <div class="press-release">
            <p>"I think Rockpack is one of the most beautiful digital experiences I've ever used,
              the interface is exceptional and I can't think of a product in the market
              that makes keeping, sharing and accessing your favourite videos more effortless."</p>
            <div class="meta">
              <span class="name">Justin Cooke</span>
              <a href="http://www.topshop.com" target="_blank" class="company">Topshop</a>
              <span class="title">Chief Marketing Officer</span>
            </div>
          </div>
          <div class="press-release">
            <p>"From the moment I first heard about Rockpack I loved the concept.  It was only when I started using it that I came to appreciate fully what a beautiful and easy way it is to share and discover new things.  The ability for individuals and companies to curate all manner of content through an interface that is simple, clean, bold and stylish is what makes me certain Rockpack will end up being a hugely popular new way for people to be entertained, enlightened and surprised."</p>
            <div class="meta">
              <span class="name">Jamie Byng</span>
              <a href="http://www.canongate.tv/" target="_blank" class="company">Canongate Books</a>,
              <span class="title">Founder, Publisher and Managing Director</span>
            </div>
          </div>
          <div class="press-release">
            <p>"Rockpack is a brilliant new platform that we can use to curate all of our recipe videos.  It's such a great looking thing as well and is going to help us get our content to a larger audience quicker.  Finally something new for video! Love it."</p>
            <div class="meta">
              <span class="name">Richard Herd</span>
              <a href="http://www.jamieoliver.com/" target="_blank" class="company">Jamie Oliver</a>
              <span class="title">Producer</span>
            </div>
          </div>
          <div class="press-release">
            <p>"Rockpack is the solution to two audience issues: 1) Mobile- to date, no-one has solved mobile video. At present, 40.2% of our watch-time is on mobile but the experience is an embarrassment & monetization is worse. Rockpack is a well-curated, personal mobile viewing experience. It is miles ahead of anything else we have seen. 2) Personal- Mobile is about personal content. We just don’t have time/bandwidth for mobile search. Personalized, updated playlists as well as a quick-look into friends curated content is the way forward. Rockpack makes mobile video personal- and it needs to be."</p>
            <div class="meta">
              <span class="name">Matt Heiman</span>
              <a href="http://www.diagonal-view.com/" target="_blank" class="company">Diagonal View</a>
              <span class="title">Founder</span>
            </div>
          </div>
          <div class="press-release">
            <p>"As an avid YouTube user for business and pleasure Rockpack stands out as a phenomenal curated content platform which, I believe, will be a real influencer in the way people interact with video content. It also feels like a more attractive arena for brands to interact with talent and consumers."</p>
            <div class="meta">
              <span class="name">Sol Parker</span>
              <a href="http://www.wma.com/" target="_blank" class="company">William Morris Endeavors</a>
              <span class="title">Vice President, Music</span>
            </div>
          </div>
          <div class="press-release">
            <p>"I really miss the days of being able to come home, crash on my couch, and have interesting videos presented to me. Rockpack is a gorgeous application that has the potential to revive the lean-back pleasure of watching awesome, curated TV channels."</p>
            <div class="meta">
              <span class="name">Josh Miller</span>
              <a href="http://branch.com/" target="_blank" class="company">Branch</a>
              <span class="title">Co-Founder</span>
            </div>
          </div>
          <div class="press-release">
            <p>"Our generation is faced with an over abundance of content. While we strive to find the newest and most viral pieces to share with friends, a brand's communication can easily get lost. User curation for editorial, photos, and music is easy, but curating relevant videos for your platform is something that we've never been so excited for."</p>
            <div class="meta">
              <span class="name">Jonathan Francis</span>
              <a href="http://elitedaily.com/" target="_blank" class="company">Elite Daily</a>
              <span class="title">Co-Founder and Chief Operating Officer</span>
            </div>
          </div>
          <div class="press-release">
            <p>"Like StyleHaul, Rockpack understands that communities are at the heart of any business. As the largest female video destination for fashion and beauty on YouTube with roughly 2500 partner channels, who come to create, consume and share, StyleHaul needed a partner who understood the value of both community and curation. We were also drawn to Rockpack’s beautiful interface that does justice to fashion and beauty content, as well as its creators."</p>
            <div class="meta">
              <span class="name">Alvin Fong</span>
              <a href="http://www.stylehaul.com/" target="_blank" class="company">Stylehaul</a>
              <span class="title">Chief Operating Officer</span>
            </div>
          </div>
        </div>
        <div ng-switch-when="PRESS">
          <div class="press-release">
            <p><span class="publisher">Appolicious</span> - <span class="date"> 8th July, 2013</span></p>
            <p>"Stream cool videos from a variety of channels across the Internet, and create channels of your own to share, with Rockpack."</p>
            <p><a href="http://www.appolicious.com/tech/articles/13574-new-iphone-apps-worth-downloading-rockpack-cross-horizon-space-beats" target="_blank">New iPhone apps worth downloading: Rockpack, Cross Horizon, Space Beats</a></p>
          </div>
          <div class="press-release">
            <p><span class="publisher">AllThingsD</span> - <span class="date"> 4th July, 2013</span></p>
            <p>"Support for additional video services and social network integration are in the works, and once that happens, I can see myself using Rockpack as my go-to video app."</p>
            <p><a href="http://allthingsd.com/20130704/two-apps-for-channeling-a-better-web-video-experience/" target="_blank">Two Apps for Channeling a Better Web Video Experience</a></p>
          </div>
          <div class="press-release">
            <p><span class="publisher">The Guardian</span> - <span class="date"> 1st July, 2013</span></p>
            <p>"There's a blizzard of startups focusing on "video curation" right now, even though most smartphone owners are blissfully unaware that uncurated videos are a problem that needs solving. Rockpack is the latest app to enter the fray, and it looks pretty impressive."</p>
            <p><a href="http://www.guardian.co.uk/technology/appsblog/2013/jul/01/best-iphone-ipad-apps-mr-shingu-duckduckgo" target="_blank">20 best iPhone and iPad apps this week</a></p>
          </div>
          <div class="press-release">
            <p><span class="publisher">Mainstreethost Blog</span> - <span class="date"> 28th June, 2013</span></p>
            <p>“People are always looking for new ways to express themselves, especially online, and Rockpack provides a unique way for users to do so.”
              “Marketers should immediately take advantage of Rockpack, using it to reach a larger audience and further engage existing customers. Though it is still very new, I believe Rockpack has the potential to one day eclipse giants like Vine and Instagram Video.”</p>
            <p><a href="http://blog.mainstreethost.com/rockpack-a-pinterest-for-video-and-how-you-can-use-it" target="_blank">Rockpack: A Pinterest For Video And How You Can Use It</a></p>
          </div>
          <div class="press-release">
            <p><span class="publisher">MediaWeek</span> - <span class="date">27th June, 2013</span></p>
            <p>“Meanwhile, London-based start-up Rockpack has become the latest entrant to the social video scene, with a free, eponymous video-curation app that collates YouTube video content by categories including film, food, music and style and presents it in an easily accessible format.”</p>
            <p><a href="http://www.mediaweek.co.uk/news/1187928/Brands-shouldnt-blinkered-Vines-six-second-rule/" target="_blank">Brands shouldn't be blinkered by Vine's six-second rule</a></p>
          </div>
          <div class="press-release">
            <p><span class="publisher">Elite Daily</span> - <span class="date">27th June, 2013</span></p>
            <p>"The London-based startup has placed an emphasis on feasibility, user engagement, and curation of video, separating it from the rest of the crowd that has started moving towards video."</p>
            <p><a href="http://www.mediaweek.co.uk/news/1187928/Brands-shouldnt-blinkered-Vines-six-second-rule/" target="_blank">Brands shouldn't be blinkered by Vine's six-second rule</a></p>
          </div>
          <div class="press-release">
            <p><span class="publisher">Techcrunch</span> - <span class="date">26th June, 2013</span></p>
            <p>"The latest of these, London-based Rockpack, is launching today on iOS, with a focus on simplicity, personalization and curation that it believes will help it stand apart from the crowd."</p>
            <p>
              <a href="http://techcrunch.com/2013/06/26/video-discovery-has-lost-its-way-rockpack-backed-by-qualcomm-pascal-cagni-and-more-wants-to-find-it/" target="_blank">Video Discovery Has Lost Its Way; Rockpack, Backed By Qualcomm, Pascal Cagni And More, Wants To Find It</a></p>
          </div>
          <div class="press-release">
            <p><span class="publisher">AdWeek</span> - <span class="date">26th June, 2013</span></p>
            <p>"To the Pinterestization of the Web—the consumer trend toward expressing one’s self through images and videos, particularly of brands and media companies. The British company Rockpack, backed by just a few million in funding, is set to unveil a video curation platform designed to help users sift through the vast sea of Internet video, while also theoretically helping more quality content to rise to the top."</p>
            <p>
              <a href="http://www.adweek.com/videowatch/startup-looks-build-pinterest-video-150680" target="_blank">Startup Looks to Build Pinterest for Video London-based Rockpack says it can lick medium's discovery challenge</a></p>
          </div>
          <div class="press-release">
            <p><span class="publisher">Mashable</span> - <span class="date">26th June, 2013</span></p>
            <p>"Rockpack makes it easy for users to curate and discover video channels... Rockpack aims to solve the video-discovery problem, and it has gathered an impressive group of advisors, investors and content-providers to make that happen."</p>
            <p>
              <a href="http://mashable.com/2013/06/26/rockpack/" target="_blank">Can Rockpack Solve the Problem of Video Discovery?</a></p>
          </div>
          <div class="press-release">
            <p><span class="publisher">PandoDaily</span> - <span class="date">26th June, 2013</span></p>
            <p>"Rockpack has prioritized its look and feel and attempted to make the process of channel creation as easy as possible. To a large extent, it has succeeded. Viewing, browsing, and curating videos via the app is intuitive and friction free."</p>
            <p>
              <a href="http://pandodaily.com/2013/06/26/new-video-app-rockpack-is-bold-and-beautiful-but-does-it-deserve-to-live/" target="_blank">New video app Rockpack is bold and beautiful — but does it deserve to live?</a></p>
          </div>
          <div class="press-release">
            <p><span class="publisher">The VideoInk</span> - <span class="date">26th June, 2013</span></p>
            <p>"Video discovery service Rockpack released its iPad and iPhone app today, offering a highly visual platform that allows users to create, share, and subscribe to personalized video channels... Essentially, Rockpack’s created a visual RSS reader for videos in which your subscriptions are friends, experts, and interests."</p>
            <p>
              <a href="http://www.thevideoink.com/news/rockpack-app-redesigns-video-consumption" target="_blank">Rockpack Also Wants to Solve the Web’s Video Discovery Problem</a></p>
          </div>
          <div class="press-release">
            <p><span class="publisher">Rockpack Press Release</span> - <span class="date">26th June, 2013</span></p>
            <p><a href="((assets_url))/assets/front/images/rockpackpressrelease1.pdf" target="_blank">Rockpack Launches to Transform Online Video</a></p>
          </div>
          <div class="press-release">
            <p><span class="publisher">StrategyEye - Digital Media</span> - <span class="date">25th June, 2013</span></p>
            <p>"Like its peers operating in the space, the video network has found squeezing dollars from ads is tricky, with consumers finding formats like pre-roll ads annoying.
              One startup launching today, Rockpack, says it has a solution, with a roadmap it claims will take the company into the black. But it won’t be advertising. The video curation firm’s CEO Sofia Fenichell dismisses pre-roll as the industry’s “false start”."</p>
            <p>
              <a href="http://digitalmedia.strategyeye.com/article/sMMI7NTHKcw/2013/06/25/insight_three_ways_to_monetise_online_video_without_ads/" target="_blank">INSIGHT: Three Ways Rockpack Believes Startups Can Monetise Online Video Without Ads</a></p>
          </div>
        </div>
        <div ng-switch-when="LOGOS & BRAND" class="press_logos">
          <a href="((assets_url))/assets/front/images/icon_large.png" target="_blank"><img ng-src="((assets_url))/assets/front/images/press_logo.jpg"></a>
          <a href="((assets_url))/assets/front/images/rockpack_teal.png" target="_blank"><img ng-src="((assets_url))/assets/front/images/press_logo2.png"></a>
          <a href="((assets_url))/assets/front/images/rockpack_white.png" target="_blank"><img ng-src="((assets_url))/assets/front/images/rockpack_white_small.png"></a>
          <a href="((assets_url))/assets/front/images/rockpack_black.png" target="_blank"><img ng-src="((assets_url))/assets/front/images/rockpack_black_small.png"></a>
        </div>
        <div ng-switch-when="CONTACT">
          <h3>PRESS CONTACT</h3>
          <p>To get in touch with us, please email <a href="mailto:press@rockpack.com">press@rockpack.com</a>.</p>
        </div>
      </div>
    </div>
    <div id="playbookmenu">
      <div ng-repeat="chapter in categories" ng-click="updateChapter(chapter)" ng-class="{selected: selectedChapter==chapter}">((chapter))</div>
    </div>
  </div>
</div>