<div ng-controller="ChannelCtrl" id="ChannelCtrl">
  <div id="header">
    <div class="wrapper">
      <a href="/#"><img src="((assets_url))/assets/weblight/images/logo.png"></a>
    </div>
  </div>  <div>
    <div ng-include="'videoplayer.html'"></div>
    <div class="wrapper">
      <div id="channelwrapper">
        <p id="introtext"><span class="bold uppercase">((channel.owner.display_name))</span> ((sharetext)) </p>
        <p>Download Rockpack for <span class="bold">free on iPhone and iPad</span>. Search for <span class="bold uppercase">'((channel.title))'</span> to watch this and thousands of other channels.</p>
        <p class="hidden-phone">“Rockpack looks pretty impressive. It's very slick." - The Guardian</p>
        <a href="https://itunes.apple.com/app/rockpack/id660697542?mt=8&ls=1" target="_blank" ng-click="triggerEvent('appStoreButtonClick')"><img ng-src="((assets_url))/assets/weblight/images/downloadbig.png" ng-click="triggerEvent('appStoreButtonClick')"></a>
        <img ng-src="((assets_url))/assets/weblight/images/bluelogo.png" class="hidden-phone">
      </div>
      <div id="screenshot">
        <div id="gloss"></div>
        <div ng-style="{'background': 'url(' + iphonebg + ')'}" id="bg">
          <img ng-src="((assets_url))/assets/weblight/images/iosheader.png">
          <div id="iostitle">((channel.title))</div>
          <div id="subscribe">SUBSCRIBE</div>
          <div id="iosuser">
            <div><img ng-src="((channel.owner.avatar_thumbnail_url))"></div>
            <div>((channel.owner.display_name))</div>
          </div>
          <img ng-src="((assets_url))/assets/weblight/images/iosshare.png" id="iosshare">
          <img ng-src="((assets_url))/assets/weblight/images/iosplus.png" id="iosplus">
          <img ng-src="((assets_url))/assets/weblight/images/iosplay.png" id="iosplay">
          <img ng-src="((channel.videos.items[0].video.thumbnail_url))" id="videothumbnail">
        </div>

      </div>
      <div id="whatsonyourchannel">
        Video and music done right.
      </div>
      <div id="footer">
        <a href="http://rockpack.com">rockpack.com</a>
      </div>
    </div>
  </div>
</div>

