<div ng-controller="ChannelCtrl" id="ChannelCtrl">
  <img ng-src="((channel.cover.thumbnail_url))" id="bgimage">
  <div class="channelheader" ng-style="windowWidth">
    <div>
      <h1>((channel.title| truncate: channelTitleLength))</h1>
      <div id="details">((channel.subscriber_count)) Subscribers</div>
      <ul id="userdetails">
          <li><img class="user-profile" ng-src="((channel.owner.avatar))"></li>
          <li id="curatedby"><span id="username">((channel.owner.display_name))</span></li>
      </ul>
    </div>
    <div class="gettheapp">
      <p>CHANNEL CREATED<br>
        WITH ROCKPACK</p>
      <a href="https://itunes.apple.com/app/rockpack/id660697542?mt=8&ls=1" target="_blank"><button class="btn btn-blue">Get The App</button></a>
    </div>
  </div>
  <div id="channeloverlay" when-scrolled="load_videos()">
    <div ng-include src="'videoplayer.html'"></div>
    <div ng-style="windowWidth" id="channelcontainer">
      <div id="videoslist" infinite-scroll='load_videos()' infinite-scroll-distance='1'>
        <div ng-click="setCurrentVideo(video)" ng-repeat="video in channel.videos.items" video-cell></div>
      </div>
    </div>
  </div>
</div>
