  <div id="contentproviders">
    <div class="wrapper">
      <h1>CONTENT PROVIDERS</h1>
      <h2>WE BELIEVE YOUR COMMUNITIES<br>
        ARE YOUR BEST ASSETS</h2>
      <p>The world is moving from a social economy to a curator's economy.  Consumers want to
        discover content through their favorite curators.  And they also want to curate
        themselves.</p>
      <p>Rockpack helps people discover, watch and share video content from across the web.  
        We create a destination that gathers your videos from wherever you host them,
        includng  YouTube and Vimeo, and present them in beautiful, branded channels.  It's easy.</p>
    </div>
  </div>
  <div id="chalkboard">

  </div>
  <div class="wrapper" id="iphonescontainer">
    <img src="/static/assets/weblight/images/3iphones.png" id="iphones">
    <div id="iphonesinfo">
      <div>
        <h3>GET FEATURED</h3>
        <p>Apply here to get featured by<br>
          category or subcategory, and<br>make it easier for<br>
          consumers to find you.</p>
      </div>
      <div>
        <h3>DRIVE MOBILE VIEWS</h3>
        <p>Our platform is mobile first.<br>
          Have a look at our Channel Playbook<br>for help on how to increase views<br>from consumers on-the-go.</p>
      </div>
      <div>
        <h3>STAND OUT</h3>
        <p>Our customizable interface
          showcases the original aesthetic of your brand in beautiful,
          clean packaging.</p>
      </div>
    </div>
  </div>
  <div id="faq" class="wrapper">
    <h2>FAQ</h2>
    <p>If your question isn’t answered below, please email us directly at<br>contentproviders@rockpack.com</p>
    <div class="container">
      <div class="left">
        <div>
          <h3>HOW DOES ROCKPACK WORK?</h3>
          <p>Rockpack gives people the tools to curate videos from around the web and create highly visual and
            personalized channels. You can follow channelscreated by friends or experts to discover the videos you find interesting.</p>
        </div>
        <div>
          <h3>What are the benefits of having my content on Rockpack?</h3>
          <p>When your fans curate around your content you start building communities that will drive views and allow influencers to re-sell your content for you via a viral subscriber model. Not only that, but when your fans curate your content alongside other people’s, you increase your discoverability by being found through multiple categories.</p>
          <p>We also realize that as a brand it’s important to keep your visual identity and have the ability to present your content how you want to. Covers provide the perfect immersive environments to showcase your content, and your profile is the place to store it all together.</p>
        </div>
        <div>
          <h3>How can I get my content promoted on Rockpack?</h3>
          <p>If you are interested in a promoted spot, please get in touch with us at advertising@rockpack.com.</p>
        </div>
        <div>
          <h3>Can I put an affiliate link on my Rockpack channels?</h3>
          <p>We currently don’t support affiliate links but will be rolling them out to select partners on a case-by-case basis. If you would like to learn more, please email us at contentproviders@rockpack.com.</p>
        </div>
        <div>
          <h3>How can I open my API to Rockpack?</h3>
          <p>We love working with other companies and API’s so if you are interested in collaborating please get in touch with us at contentproviders@rockpack.com.</p>
        </div>
        <div>
          <h3>Are there any costs associated with putting my content on Rockpack?</h3>
          <p>No! Rockpack is completely free.</p>
        </div>
        <div>
          <h3>How do I verify my account?</h3>
          <p>Send us an email at verify@rockpack.com to become a verified user.</p>
        </div>
      </div>
      <div class="right">
         <div>
           <h3>HOW DO I GET STARTED?</h3>
           <p>Just search for the videos you have already uploaded to YouTube and organize them the way you want. Its easy – just tap to select videos and drop them into channels. Add a title, select a cover and you’re finished. All your channels will be on your profile for your fans to access and curate around, and you can share them out to get even more engagement.</p>
         </div>
        <div>
          <h3>Can I upload my content directly to Rockpack?</h3>
          <p>Right now, we aren’t hosting content. Over time, we will pull in content directly from selected partners. We’ll keep you posted as we progress</p>
        </div>
        <div>
          <h3>How can I tell my viewers about my channels on Rockpack?</h3>
          <p>Even if your fans aren’t on Rockpack you can still share your channels with them via your social media accounts. They will be able to view your videos and share your channels to their own networks.</p>
        </div>
        <div>
          <h3>What players does Rockpack support?</h3>
          <p>Right now Rockpack only supports the YouTube player but over the next few months we will support additional players. Check back here for updates on this</p>
        </div>
        <div>
          <h3>How can I monetize my content on Rockpack?</h3>
          <p>Start building your communities and increasing your following so that you can become eligible to beta test our custom commercial opportunities. Email us at contentproviders@rockpack.com if you would like to learn more.</p>
        </div>
        <div>
          <h3>Can I embed a channel on my site?</h3>
          <p>Right now you can’t, but you can share out your channels or post links and everyone will be able to see them, regardless of whether they aresigned up or not.</p>
        </div>
        <div>
          <h3>How will this affect my YouTube relationship?</h3>
          <p>very view you get on Rockpack counts as a view on YouTube. Given Rockpack’s  social features you can only increase your views and drive ad impressions. You can also pull in the channels you have already created on YouTube – no extra work required. </p>
        </div>
      </div>
    </div>
  </div>
    <div id="share">
      <div class="wrapper">
        <ul>
          <li>
            <h3>Get the app</h3>
            <a href="#"><img src="/static/assets/front-page/images/downloadbig.png"></a>
          </li>
          <li>
            <h3>INSTALL THE BOOKMARKLET</h3>
            <a href="#/bookmarklet"><button class="btn btn-blue">+ PACK IT</button></a>
          </li>
          <li>
            <h3>FOLLOW US</h3>
            <ul id="social">
              <li><img src="/static/assets/front-page/images/blog.jpg"></li>
              <li><img src="/static/assets/front-page/images/twitter.jpg"></li>
              <li><img src="/static/assets/front-page/images/facebook.jpg"></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
