<footer>
  <div ng-switch on="currentPage">
    <div ng-switch-when="">
      <div ng-style="windowWidth">
        <ul>
          <li class="hidden-phone"><a href="/">About</a></li>
          <li class="hidden-phone"><a href="#/help">Help</a></li>
          <li class="hidden-phone"><a href="#/people">People</a></li>
          <li class="hidden-phone"><a href="#/jobs">Jobs</a></li>
          <li class="hidden-phone"><a href="#/content-providers">Content Providers</a></li>
          <li class="hidden-phone"><a href="#/channel-playbook">Channel Playbook</a></li>
        </ul>
        <div class="rights">By using Rockpack, you agree to our <a href="">terms of services</a> and <a href="">privacy policy</a>. All rights reserverd Rockpack ltd 2013.</div>
      </div>
    </div>
    <div ng-switch-default>
      <div class="wrapper">
        <ul>
          <li class="hidden-phone"><a href="/">About</a></li>
          <li class="hidden-phone"><a href="#/help">Help</a></li>
          <li class="hidden-phone"><a href="#/people">People</a></li>
          <li class="hidden-phone"><a href="#/jobs">Jobs</a></li>
          <li class="hidden-phone"><a href="#/content-providers">Content Providers</a></li>
          <li class="hidden-phone"><a href="#/channel-playbook">Channel Playbook</a></li>
        </ul>
        <div class="rights">By using Rockpack, you agree to our <a href="">terms of services</a> and <a href="">privacy policy</a>. All rights reserverd Rockpack ltd 2013.</div>
      </div>
    </div>
  </div>
</footer>