

<div ng-controller="PageCtrl" class="f-centered" id="about-us-page">
	
	<div class="section">
		<div class="inner page-intro">
			<h1 class="f-sans">About Us</h1>
			<ul class="anchor-nav">
				<li><a class="scroll-anchor-link" href="#team">Team</a></li>
				<li><a class="scroll-anchor-link" href="#investors">Investors</a></li>
				<li><a class="scroll-anchor-link" href="#press">Press</a></li>
				<li><a class="scroll-anchor-link" href="#logos">Logos</a></li>
				<li><a class="scroll-anchor-link" href="#contact-us">Contact Us</a></li>
				<li><a class="scroll-anchor-link" href="#careers">Careers</a></li>
			</ul>
		</div>
	</div>

	<div class="section about-us">
		<div class="inner">
			<span id="anchor-team"></span>
			<h2 class="f-sans">Team</h2>
			<p class="standout f-serif">We are a group of hard working and talented individuals who have already created the world’s fastest growing video curation app of its kind - Rockpack. Rockpack was a power tool designed for under 30s - the super users of Youtube. Rockpack has been featured by Apple globally 4 times since its launch.</p>
			<p class="standout f-serif">Older, wiser and deeply immersed in lifestyle topics, we are now well positioned to create the video platform for our generation.</p>
			<p class="standout f-serif">Read more about our team on <a href="#">LinkedIn</a></p>
		</div>
	</div>

	<div class="section about-us">
		<div class="inner">
			<span id="anchor-press"></span>
			<h2 class="f-sans">Press</h2>
			<h3 class="quote f-serif green">10th July, 2013 - Wired said:</h3>
			<p class="quote f-serif standout"><span class="f-italic">“I need my mom to become a super user of our app to prove that we truly created something that is meaningful to everyone. She is emblematic of the hardest user to convert. Young people are easier.”</span><br/><br/>
			Read more about <a href="#">Startup of the week</a></p>

			<div class="break blue"></div>

			<h3 class="quote f-serif green">10th July, 2013 - The New York Times said:</h3>
			<p class="quote f-serif standout">“The app is easy to use and its design is excellent. Rockpack shows you an array of great videos drawn from across the Web and recommended by your social media friends as well as celebrities.”<span class="f-italic"></span><br/><br/>
			Read more about <a href="#">A Roundup of Worthy Apps for the New iPads</a></p>

			<div class="break blue"></div>

			<p class="quote f-serif standout"><span class="f-italic"><a href="#">More Press</a></span>
		</div>
	</div>

	<div class="section gradient pink">
		<div class="inner centered">
			<span id="anchor-logos"></span>
			<h2 class="f-sans">Logos</<h2>
			<div class="clear"></div>
			<div class="inner half-width">
				<img class="logo" ng-src="(( assets_url ))/assets/dolly/img/about-us-logos-1.png" />
			</div><!--
			--><div class="inner half-width">
				<img class="logo" ng-src="(( assets_url ))/assets/dolly/img/about-us-logos-2.png" />
			</div>
			<div class="inner">
				<img class="logo" ng-src="(( assets_url ))/assets/dolly/img/about-us-logos-3.png" />
			</div>
		</div>
	</div>

	<div class="section">
		<div class="inner padding bottom">
			<div class="inner half-width centered">
				<span id="anchor-contact-us"></span>
				<h2 class="f-sans">Contact Us</h2>
				<p class="f-serif italic"><a href="mailto:hello@wonderpl.com">hello@wonderpl.com</a>
					<br/>0208 000 0000</p>
			</div><!--
			--><div class="inner half-width centered">
				<h2 class="f-sans">Visit Us</h2>
				<p class="f-serif italic">9 Thorpe Close, Portobello Road
					<br/>London, UK - W10 5XL<br/>
					<br/>Ladbroke Grove Station</p>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="google-maps-directive margin bottom"></div>
	</div>

</div>