

<div ng-controller="PageCtrl">

  <div class="section page-intro">
    <div class="inner">
      <h1 class="f-sans">FAQs</h1>
      <h2 class="f-sans black faq-heading mobile-hidden">Our offering</h2>
    </div>
  </div>

    <div class="section">
        <div class="inner">
              <div id="wonder-feature-table" class="mobile-hidden">
                <div class="column info-column inline-block">
                    <h2 class="f-sans">Feature</h2>
                    <ul class="f-sans">
                        <li class="highlight">Annual Price</li>
                        <li>Uploads per week</li>
                        <li>Annual streams</li>
                        <li>HD Embedding</li>
                        <li>Domain level privacy</li>
                        <li>Priority video conversion</li>
                        <li>Privacy controls</li>
                        <li>Banner ads</li>
                        <li>Full video organisation tools</li>
                        <li>Stats Dashboard</li>
                        <li>Customizable player <span class="tablet-only"><br/>&nbsp;</span></li>
                        <li>Third-party player support</li>
                        <li>Optional source file storage</li>
                        <li>Source file download</li>
                        <li>Full mobile, tablet, and connected TV compatibility</li>
                        <li>VOD</li>
                        <li>Affiliate Link</li>
                        <li>Branded transfer page</li>
                        <li>Embedded web view</li>
                        <li>Access to free audio tracks</li>
                        <li>Shareable Infographics</li>
                    </ul>
                </div><!--
             --><div class="column price-column inline-block">
                    <h2 class="f-sans">Wonder Basic</h2>
                    <ul class="f-sans">
                        <li class="highlight">Free</li>
                        <li>20 GB</li>
                        <li>250,000</li>
                        <li>Yes</li>
                        <li>No</li>
                        <li>Yes</li>
                        <li>Advanced</li>
                        <li>No</li>
                        <li>Unlimited</li>
                        <li>Yes</li>
                        <li>Remove wonder branding</li>
                        <li>Yes</li>
                        <li>Yes</li>
                        <li>No</li>
                        <li>Yes <span class="tablet-only"><br/>&nbsp;</span></li>
                        <li>No</li>
                        <li>No</li>
                        <li>No</li>
                        <li>No</li>
                        <li>Yes</li>
                        <li>Yes</li>
                    </ul>
                </div><!--
             --><div class="column price-column pro inline-block">
                    <h2 class="f-sans">Wonder Pro</h2>
                    <ul class="f-sans">
                        <li class="highlight">$300</li>
                        <li>50 GB</li>
                        <li>Unlimited</li>
                        <li>Yes</li>
                        <li>Yes</li>
                        <li>Yes</li>
                        <li>Advanced</li>
                        <li>No</li>
                        <li>Unlimited</li>
                        <li>Yes</li>
                        <li>Add own branding <span class="tablet-only"><br/>&nbsp;</span></li>
                        <li>Yes</li>
                        <li>Yes</li>
                        <li>Yes</li>
                        <li>Yes <span class="tablet-only"><br/>&nbsp;</span></li>
                        <li>Yes</li>
                        <li>Yes</li>
                        <li>Yes</li>
                        <li>Yes</li>
                        <li>Yes</li>
                        <li>Yes</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section faq-help">
        <div class="inner centered">
            <h2 class="standout f-sans padding bottom">If your question isn’t answered below, please email us directly at<br><a href="mailto:support@wonderpl.com">support@wonderpl.com</a></h2>
            <div class="inner half-width faq padding bottom">
                <h3 class="f-sans">How does Wonder PL work?</h3>
                <p class="f-serif">Wonder PL is the home for the world’s best video content. Through its beautiful interface, Wonder PL delivers only the highest quality content to a discerning audience. Follow your favourite people and brands within our communities of Culture, Wellness, Home &amp; Family, Food, the Mind and Entertainment. Make your own collections to save and share with friends.</p>
                
                <div class="faq-spacer"></div>

                <h3 class="f-sans">Are there any costs associated with having my content on Wonder PL?</h3>
                <p class="f-serif">Our free package is the best out there. It includes more uploads and storage than our competitors, a customizable HD player to distribute your content across the web and detailed analytics. For additional storage and tools, including monetisation features, then our paid package is the best option. This package is $300 a year, and includes industry-leading monetization features, advanced analytics and access to a royalty free music library from our partner, Epidemic Sound.</p>

                <div class="faq-spacer"></div>

                <h3 class="f-sans">How can I get my content promoted on Wonder PL?</h3>
                <p class="f-serif">If you are on our paid package, you are eligible to apply for promotion on our platform. To find out more, please get in touch with us at featured@wonderpl.com.</p>

            </div><!--
            --><div class="inner half-width faq">
                <h3 class="f-sans">What are the benefits of having your content on Wonder PL?</h3>
                <p class="f-serif">Wonder PL has a mobile interface and experience that is simple, clean, fast and reliable. We don’t believe in banner ads or pre-roll so your content will be viewed in all its glory, without any annoying distractions. Our free and paid packages are better than our competitors, and our commercial tools are best in class. Our content partners are the very best quality, so you can benefit from cross exposure and get access to related communities.</p>
                
                <div class="faq-spacer"></div>

                <h3 class="f-sans">How can I monetize my content on Wonder PL?</h3>
                <p class="f-serif">If you are on our paid package, then you have access to the latest monetization tools out there. Our click to buy link pulls any URL of your choice into Wonder PL, allowing users to purchase good then and there, without leaving the app. We also offer video on demand, allowing you to charge users to watch your video. We have, however, chosen to keep our platform ad-free. Advertising revenues just aren’t high enough to justify a low quality consumer experience, and your content deserves better!</p>
            </div>
        </div>
    </div>

</div>