

<div ng-controller="PageCtrl">
  <div id="home-splash">
    <div class="inner">
      <img ng-src="((assets_url))/assets/dolly/img/home-splash.png" />
    </div>
  </div>

  <div id="home-sponsors">
    <div class="inner">
      <img ng-src="((assets_url))/assets/dolly/img/home-sponsors.png" />
    </div>
  </div>

  <div id="home-description">
    <div class="inner">
      <p class="standout f-serif">Welcome to Wonder. We think people are looking for simplicity, authenticity, inspiration and real community. So we created a home for the world’s best video content to share with a discerning audience. One that cares about quality and deserves a viewing experience free from clutter.</p>
    </div>
  </div>

  <div class="section" id="home-partners">
    <div class="inner">
      <h2 class="f-sans">Some Of Our Exclusive Partners</h2>

      <ul>
        <li>
          <img ng-src="((assets_url))/assets/dolly/img/home-partner-1.png" />
          <h3 class="f-serif">National film board of Canada</h3>
          <p class="f-serif">Polar Consultant, adventure guide, hobby philosopher. Optimist.</p>
        </li><!--
        --><li>
          <img ng-src="((assets_url))/assets/dolly/img/home-partner-2.png" />
          <h3 class="f-serif">Inge Solheim</h3>
          <p class="f-serif">Cooking for a healthy and energised life. Yummy.</p>
        </li><!--
        --><li>
          <img ng-src="((assets_url))/assets/dolly/img/home-partner-3.png" />
          <h3 class="f-serif">Tom Aikens</h3>
          <p class="f-serif">Describe the quirky artist and their particular quirks.</p>
        </li>
      </ul>

    </div>
  </div>

  <div id="home-ipad">
    <div class="inner">
      <img ng-src="((assets_url))/assets/dolly/img/home-ipad.jpg" />
    </div>
  </div>

  <div id="home-mood-minder">
    <div class="inner">
      <div class="iphone">
        <img ng-src="((assets_url))/assets/dolly/img/home-iphone.jpg" />  
      </div>
      <div class="centered">
        <h3>Our mood minder</h3>
        <p>How are you feeling today? what are you in the mood for? Search videos based on what you're feeling.  Just download the app, tell us your mood and we'll provide you with some compelling suggestions.</p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>