

<div ng-controller="PageCtrl">
  <div id="home-splash" class="splash">
    <div class="splash__content">
      <p class="splash__title">Wonder PL is the place to watch and share videos that matter to you</p>
      <p class="splash__tagline">Handpicked from the quality names you know<br />And those you are about to discover&hellip;</p>
    </div>
  </div>



  <div id="press-logos">
    <div class="inner">
      <a href="http://www.stuff.tv/3ds/fully-charged-pono-takes-money-angry-birds-takes-epic-turn-and-new-contender-takes-youtube/news" class="inline-block" target="_blank"><img ng-src="((assets_url))/assets/dolly/img/home-press-stuff.jpg" class="inline-block" /></a>
      <a href="http://www.coolhunting.com/tech/wonder-pl.php" class="inline-block" target="_blank"><img ng-src="((assets_url))/assets/dolly/img/home-press-cool-hunting.png" class="inline-block" /></a>
      <a href="http://video.cnbc.com/gallery/?video=3000256311" class="inline-block" target="_blank"><img ng-src="((assets_url))/assets/dolly/img/home-press-cnbc.jpg" class="inline-block" /></a>
      <a href="((assets_url))/assets/dolly/docs/red-herring-press-release.pdf" class="inline-block" target="_blank"><img ng-src="((assets_url))/assets/dolly/img/home-press-red-herring.png" class="inline-block red-herring" /></a>
      <a href="http://uk.reuters.com/video/2014/03/14/reuters-on-the-road-a-world-of-video-won?videoId=293403310&videoChannel=78" class="inline-block" target="_blank"><img ng-src="((assets_url))/assets/dolly/img/home-press-reuters.png" class="inline-block" /></a>
      <a href="http://thenextweb.com/apps/2014/03/13/wonder-wants-take-youtube-new-ad-free-video-platform-exclusive-lifestyle-content/" class="inline-block" target="_blank"><img ng-src="((assets_url))/assets/dolly/img/home-press-tnw.jpg" class="inline-block" /></a>
    </div>
  </div>

  <div id="home-description" class="home-quote">
    <div class="inner">
        <blockquote>
          <p class="f-serif home-quote__text">&ldquo;Being encapsulated in one app, away from all the noise, with internal exploration with the flick of a finger, Wonder PL is a wondrous place to consume top quality entertainment.&rdquo;</p>
          <cite class="home-quote__cite">&mdash;Cool Hunting</cite>
        </blockquote>
    </div>
  </div>

  <section class="screenshots">

    <p class="screenshots__text">Watch the experts and learn the tricks of the trade from recipes by world renowed chefs to the latest technology innovations.</p>

    <figure class="screenshots__figure">
      <img class="screenshots__image screenshots__image--left" ng-src="((assets_url))/assets/dolly/img/home/ipad-watch-learn.jpg" alt="watch and learn" />
      <figcaption class="screenshots__caption screenshots__caption--right screenshots__caption--vertical-middle">
        <p class="screenshots__caption-header">Watch &amp; Learn</p>
        <p class="screenshots__caption-subheader">Scroll through ingredients, commentary and opinions while watching videos.</p>
      </figcaption>
    </figure>

    <figure class="screenshots__figure">
      <img class="screenshots__image screenshots__image--right" ng-src="((assets_url))/assets/dolly/img/home/ipad-shop-motion.jpg" alt="shop motion" />
      <figcaption class="screenshots__caption screenshots__caption--left screenshots__caption--vertical-middle">
        <p class="screenshots__caption-header">Shop Motion</p>
        <p class="screenshots__caption-subheader">Ever watched something and wanted to buy the dress, book or shoes? With one touch, it&apos;s yours.</p>
      </figcaption>
    </figure>

    <figure class="screenshots__figure screenshots__figure--inline">
      <img class="screenshots__image" ng-src="((assets_url))/assets/dolly/img/home/iphone-discover.jpg" alt="discover" />
      <figcaption class="screenshots__caption">
        <p class="screenshots__caption-header">Discover</p>
      </figcaption>
    </figure>

    <figure class="screenshots__figure screenshots__figure--inline">
      <img class="screenshots__image" ng-src="((assets_url))/assets/dolly/img/home/iphone-creatives.jpg" alt="follow creatives" />
      <figcaption class="screenshots__caption">
        <p class="screenshots__caption-header">Follow Creatives&hellip;</p>
      </figcaption>
    </figure>

    <figure class="screenshots__figure screenshots__figure--inline">
      <img class="screenshots__image" ng-src="((assets_url))/assets/dolly/img/home/iphone-thought-leaders.jpg" alt="thought leaders" />
      <figcaption class="screenshots__caption">
        <p class="screenshots__caption-header">&hellip;And Thought Leaders</p>
      </figcaption>
    </figure>

    <p class="screenshots__text">Fill Your Life With Wonder</p>

  </section>

</div>