

<div ng-controller="PageCtrl">
  <div id="home-splash">
    <div class="inner">
    </div>
  </div>

  <div id="press-logos">
    <div class="inner">
      <a href="http://www.stuff.tv/3ds/fully-charged-pono-takes-money-angry-birds-takes-epic-turn-and-new-contender-takes-youtube/news" class="inline-block" target="_blank"><img ng-src="((assets_url))/assets/dolly/img/home-press-stuff.jpg" class="inline-block" /></a>
      <a href="http://www.coolhunting.com/tech/wonder-pl.php" class="inline-block" target="_blank"><img ng-src="((assets_url))/assets/dolly/img/home-press-cool-hunting.png" class="inline-block" /></a>
      <a href="http://video.cnbc.com/gallery/?video=3000256311" class="inline-block" target="_blank"><img ng-src="((assets_url))/assets/dolly/img/home-press-cnbc.jpg" class="inline-block" /></a>
      <a href="((assets_url))/assets/dolly/docs/red-herring-press-release.pdf" class="inline-block" target="_blank"><img ng-src="((assets_url))/assets/dolly/img/home-press-red-herring.png" class="inline-block red-herring" /></a>
      <a href="http://uk.reuters.com/video/2014/03/14/reuters-on-the-road-a-world-of-video-won?videoId=293403310&videoChannel=78" class="inline-block" target="_blank"><img ng-src="((assets_url))/assets/dolly/img/home-press-reuters.png" class="inline-block" /></a>
      <a href="http://thenextweb.com/apps/2014/03/13/wonder-wants-take-youtube-new-ad-free-video-platform-exclusive-lifestyle-content/" class="inline-block" target="_blank"><img ng-src="((assets_url))/assets/dolly/img/home-press-tnw.jpg" class="inline-block" /></a>
    </div>
  </div>

  <div id="home-description">
    <div class="inner">
      <h1 class="f-sans">A completely different media platform</h1>
        <p class="standout f-serif">Wonder PL is the place to watch and share the videos that matter.</p>
        <p class="standout f-serif">Tune out the noise that is cluttering your smartphone and life, and tune into the good stuff.  </p>
    </div>
  </div>

  <section class="screenshots">
    <section class="screenshots__section">
      <img class="screenshots__image" ng-src="((assets_url))/assets/dolly/img/home/follow-creatives.jpg" alt="follow creatives" />
      <p class="f-serif screenshots__text">
        Follow creatives&hellip;
      </p>
    </section>
    <section class="screenshots__section">
      <p class="f-serif screenshots__text">
        &hellip;and thought leaders
      </p>
      <img class="screenshots__image" ng-src="((assets_url))/assets/dolly/img/home/thought-leaders.jpg" alt="thought leaders" />
    </section>
    <section class="screenshots__section">
      <p class="f-serif screenshots__text screenshots__text--full">
        Watch the experts and learn the tricks of the trade from recipes by world renowned chefs to the latest technology innovations in a setting that is transformative and utterly delightful.
      </p>
    </section>
    <section class="screenshots__section">
      <img class="screenshots__image" ng-src="((assets_url))/assets/dolly/img/home/watch-learn.jpg" alt="watch and learn" />
      <p class="f-serif screenshots__text">
        Scroll through ingredients, commentary and opinions while watching videos.
      </p>
    </section>
    <section class="screenshots__section">
      <img class="screenshots__image" ng-src="((assets_url))/assets/dolly/img/home/shop-motion.jpg" alt="shop motion" />
      <p class="f-serif screenshots__text">
        Ever watched something and wanted to buy the dress, book or shoes? With one touch, it’s yours.
      </p>
    </section>
  </section>

</div>