
<div ng-controller="PageCtrl">
	<div class="section page-intro">
		<div class="inner">
			<h1 class="f-sans">The World is full of Wonder</h1>			
			<h2 class="f-serif">You just need to know where to find it. <span class="desktop-break">We are proud to bring to you our wide range of exclusive content from Wonder PL Productions.</span></h2>
		</div>
	</div>

	<div class="content-partners">
		<div class="inner">
		  <ul>
		  	<li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-tribeca.jpg" />
		      <h3 class="f-serif">Tribeca Film Institute</h3>
		      <p class="f-serif">Championing storytellers to be catalysts for change.</p>
		    </li><!--
			--><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-spacenk.jpg" />
		      <h3 class="f-serif">Space.NK</h3>
		      <p class="f-serif">The worldwide apothecary for the best beauty products.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-h-and-g.jpg" />
		      <h3 class="f-serif">House &amp; Garden</h3>
		      <p class="f-serif">The best in international design &amp; decoration.</p>
		    </li><!--
			--><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-daylesford.jpg" />
		      <h3 class="f-serif">Daylesford Organic</h3>
		      <p class="f-serif">Straight from our farm to your fork.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-intelligence-squared.jpg" />
		      <h3 class="f-serif">Intelligence Squared</h3>
		      <p class="f-serif">The world’s premier forum for debate &amp; intelligent discussion.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-stash.jpg" />
		      <h3 class="f-serif">Stash Media</h3>
		      <p class="f-serif">Animation, visual effects &amp; motion graphics.</p>
		    </li><!--
		  	--><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-prov.jpg" />
		      <h3 class="f-serif">Provenance Butcher</h3>
		      <p class="f-serif">Notting Hill's butcher serving only seasonal &amp; sustainable produce.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-lynn.jpg" />
		      <h3 class="f-serif">Lynn Blades</h3>
		      <p class="f-serif">Helping people seeking confidence, happiness &amp; balance in their lives.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-perfect-moment.jpg" />
		      <h3 class="f-serif">Perfect Moment</h3>
		      <p class="f-serif">Ski wear delivering fashion &amp; function.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-sfe.jpg" />
		      <h3 class="f-serif">Souvenirs From Earth</h3>
		      <p class="f-serif">Global TV Station for multi-dimensional art.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-james-duigan.jpg" />
		      <h3 class="f-serif">James Duigan</h3>
		      <p class="f-serif">Transforming bodies &amp; minds around the world.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-moca.jpg" />
		      <h3 class="f-serif">MOCA TV</h3>
		      <p class="f-serif">Digital arm of The Museum of Contemporary Art, LA.</p>
		    </li><!--
			--><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-boticca.jpg" />
		      <h3 class="f-serif">Boticca</h3>
		      <p class="f-serif">The world's luxury bazaar of fashion accessories.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-the-juicery.jpg" />
		      <h3 class="f-serif">The Juicery</h3>
		      <p class="f-serif">Doctors &amp; nutritionists bring you Expert Goodness.</p>
		    </li><!--
			--><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-vevo.jpg" />
		      <h3 class="f-serif">Vevo</h3>
		      <p class="f-serif">Largest collection of music videos from the worlds biggest labels.</p>
		    </li>
		  </ul>
		</div>
	</div>

</div>