
<div ng-controller="PageCtrl">
	<div class="section page-intro">
		<div class="inner">
			<h1 class="f-sans">The World is full of Wonder</h1>			
			<h2 class="f-serif">You just need to know where to find it. <span class="desktop-break">We are proud to bring to you our wide range of exclusive content from Wonder PL Productions.</span></h2>
		</div>
	</div>

	<div id="content-partners">
		<div class="inner">
		  <ul>
		    <li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-daylesford.png" />
		      <h3 class="f-serif">Daylesford Organic</h3>
		      <p class="f-serif">Straight from our farm to your fork.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-prov.png" />
		      <h3 class="f-serif">Provenance Butcher</h3>
		      <p class="f-serif">Notting Hill's butcher serving only seasonal and sustainable produce.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-h-and-g.png" />
		      <h3 class="f-serif">House &amp; Garden</h3>
		      <p class="f-serif">The best in international design and decoration.</p>
		    </li>
		  </ul>

		</div>
	</div>

	<div id="content-partners">
		<div class="inner">
		  <ul>
		    <li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-space.png" />
		      <h3 class="f-serif">Space.NK</h3>
		      <p class="f-serif">The worldwide apothecary stocking an edit of the best beauty products.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-jax.png" />
		      <h3 class="f-serif">Jax Coco</h3>
		      <p class="f-serif">Jax Coco is the chicest coconut water in the market.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-stash.png" />
		      <h3 class="f-serif">Stash Media</h3>
		      <p class="f-serif">Animation, visual effects &amp; motion graphics.</p>
		    </li>
		  </ul>

		</div>
	</div>

	<div id="content-partners">
		<div class="inner">
		  <ul>
		    <li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-boticca.png" />
		      <h3 class="f-serif">Boticca</h3>
		      <p class="f-serif">The world's luxury bazaar of fashion accessories.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-lynn.png" />
		      <h3 class="f-serif">Lynn Blades</h3>
		      <p class="f-serif">Helping people seeking confidence, happiness and balance in their lives.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/content-sfe.png" />
		      <h3 class="f-serif">Souvenirs From Earth</h3>
		      <p class="f-serif">Art has to be part of one's everyday life.</p>
		    </li>
		  </ul>

		</div>
	</div>

</div>