
<div ng-controller="PageCtrl">

  <section class="categories" id="anchor-culture">

    <h1 class="categories__title">Our Categories</h1>

    <ul class="categories__nav anchor-nav">
      <li><a class="scroll-anchor-link categories__nav-item" href="#culture">Culture</a></li>
      <li><a class="scroll-anchor-link categories__nav-item" href="#mind">Mind</a></li>
      <li><a class="scroll-anchor-link categories__nav-item" href="#food">Food</a></li>
      <li><a class="scroll-anchor-link categories__nav-item" href="#wellness">Wellness</a></li>
      <li><a class="scroll-anchor-link categories__nav-item" href="#home-and-family">Home &amp; Family</a></li>
      <li><a class="scroll-anchor-link categories__nav-item" href="#entertainment">Entertainment</a></li>
    </ul>

    <article class="categories__category" id="anchor-culture">
      <img class="categories__icon" ng-src="((assets_url))/assets/dolly/img/categories-icon-culture-v1.jpg" />
      <h3 class="categories__header">Culture</h3>
      <p class="categories__description">From fine artists to filmmakers, from authors to designers. <br/>Enjoy a feast of inspiration.</p>
      <p class="categories__subcategory">The Arts &middot; Literature &middot; Fashion &middot; Men&apos;s Fashion &middot; Museums <span class="categories__subcategory-amp">&amp;</span> Galleries</p>
    </article>

    <article class="categories__category" id="anchor-mind">
      <img class="categories__icon" ng-src="((assets_url))/assets/dolly/img/categories-icon-mind-v1.jpg" />
      <h3 class="categories__header">The Mind</h3>
      <p class="categories__description">From entrepreneurs to mentors, from instigators to innovators.</p>
      <p class="categories__description">Stay ahead of the curve.</p>
      <p class="categories__subcategory">Inspirational Technology &middot; Lifelong Learning &middot; Business &middot; Travel <span class="categories__subcategory-amp">&amp;</span> Adventure &middot; Nature <span class="categories__subcategory-amp">&amp;</span> Science</p>
    </article>

    <article class="categories__category" id="anchor-food">
      <img class="categories__icon" ng-src="((assets_url))/assets/dolly/img/categories-icon-food-v1.jpg" />
      <h3 class="categories__header">Food</h3>
      <p class="categories__description">From Five Star Chefs to local artisans.</p>
      <p class="categories__description">Learn tricks of the trade from true connoisseurs.</p>
      <p class="categories__subcategory">Baking &middot; Chefs <span class="categories__subcategory-amp">&amp;</span> Recipes &middot; Wine <span class="categories__subcategory-amp">&amp;</span> Drink</p>
    </article>

    <article class="categories__category" id="anchor-wellness">
      <img class="categories__icon" ng-src="((assets_url))/assets/dolly/img/categories-icon-wellness-v1.jpg" />
      <h3 class="categories__header">Wellness</h3>
      <p class="categories__description">From yoga and meditation to beauty and fitness.</p>
      <p class="categories__description">Let the wisdom of experts guide and nourish you.</p>
      <p class="categories__subcategory">Wellness &middot; Beauty &middot; Athlete&apos;s Corner</p>
    </article>

    <article class="categories__category" id="anchor-home-and-family">
      <img class="categories__icon" ng-src="((assets_url))/assets/dolly/img/categories-icon-home-and-family-v1.jpg" />
      <h3 class="categories__header">Home &amp; Family</h3>
      <p class="categories__description">From parenting and gardening, to interior design and DIY.</p>
      <p class="categories__description">Creative spark starts here.</p>
      <p class="categories__subcategory">Parenting, Homes, <span class="categories__subcategory-amp">&amp;</span> Gardens &middot; How&mdash;To &middot; For The Kids &middot; Causes</p>
    </article>

    <article class="categories__category" id="anchor-entertainment">
      <img class="categories__icon" ng-src="((assets_url))/assets/dolly/img/categories-icon-entertainment-v1.jpg" />
      <h3 class="categories__header">Entertainment</h3>
      <p class="categories__description">From tastemakers to musicians, from trendsetters to jetsetters.</p>
      <p class="categories__description">Discover the here and now.</p>
      <p class="categories__subcategory">Animation <span class="categories__subcategory-amp">&amp;</span> Vintage Videos &middot; Music &middot; Comedy <span class="categories__subcategory-amp">&amp;</span> Talk Shows &middot; Shorts &middot; Newstand &middot; Showreels</p>
    </article>

  </section>

</div>