
<div ng-controller="PageCtrl">

	<div class="section">
		<div class="inner page-intro">
			<h1 class="f-sans">Our Categories</h1>	
			<ul class="anchor-nav">
				<li><a class="scroll-anchor-link" href="#culture">Culture</a></li>
				<li><a class="scroll-anchor-link" href="#food">Food</a></li>
				<li><a class="scroll-anchor-link" href="#wellness">Wellness</a></li>
				<li><a class="scroll-anchor-link" href="#home-and-family">Home &amp; Family</a></li>
				<li><a class="scroll-anchor-link" href="#mind">Mind</a></li>
				<li><a class="scroll-anchor-link" href="#entertainment">Entertainment</a></li>
			</ul>
		</div>
	</div>

	<div class="section category">
		<div class="inner">
			<span id="anchor-culture"></span>
			<div class="icon">
				<img ng-src="((assets_url))/assets/dolly/img/categories-icon-culture.png" />
			</div>
			
			<h3 class="f-sans">Culture</h3>
			<p class="f-serif">From fine artists to filmmakers, from authors and designers. <br/>Enjoy a feast of inspiration.</p>
			<p class="f-serif italic">Culture Shock - The Arts - Architecture &amp; Design - News Stand - Literature</p>
		</div>
	</div>

	<div class="section category">
		<div class="inner">
			<span id="anchor-food"></span>
			<div class="icon">
				<img ng-src="((assets_url))/assets/dolly/img/categories-icon-food.png" />
			</div>
			<h3 class="f-sans">Food</h3>
			<p class="f-serif">From Five Star Chefs to local artisans. <br/>Learn tricks of the trade from true connoisseurs.</p>
			<p class="f-serif italic">Baking - Top Chefs - Local Artisans - Recipes - Wine &amp; Drink </p>
		</div>
	</div>

	<div class="section category">
		<div class="inner">
			<span id="anchor-wellness"></span>
			<div class="icon">
				<img ng-src="((assets_url))/assets/dolly/img/categories-icon-wellness.png" />
			</div>
			<h3 class="f-sans">Wellness</h3>
			<p class="f-serif">From yoga and meditation to beauty and fitness. <br/>Let the wisdom of experts guide and nourish you.</p>
			<p class="f-serif italic">Wellness - Happiness - Fitness - Health - Strength - Yoga &amp; Meditation - Beauty - Motivation - Life Skills</p>
		</div>
	</div>

	<div class="section category">
		<div class="inner">
			<span id="anchor-home-and-family"></span>
			<div class="icon">
				<img ng-src="((assets_url))/assets/dolly/img/categories-icon-home-and-family.png" />
			</div>
			<h3 class="f-sans">Home &amp; Family</h3>
			<p class="f-serif">From parenting and gardening, to interior design and DIY. <br/>Creative spark starts here.</p>
			<p class="f-serif italic">Homes & Interiors - Gardens - Family - Parenting - iNanny - Best Buys</p>
		</div>
	</div>

	<div class="section category">
		<div class="inner">
			<span id="anchor-mind"></span>
			<div class="icon">
				<img ng-src="((assets_url))/assets/dolly/img/categories-icon-mind.png" />
			</div>
			<h3 class="f-sans">Mind</h3>
			<p class="f-serif">From entrepreneurs to mentors, from instigators to innovators. <br/>Stay ahead of the curve.</p>	
			<p class="f-serif italic">Knowledge - Education - Technology - Business - Good Causes - Nature</p>
		</div>
	</div>

	<div class="section category">
		<div class="inner">
			<span id="anchor-entertainment"></span>
			<div class="icon">
				<img ng-src="((assets_url))/assets/dolly/img/categories-icon-entertainment.png" />
			</div>
			<h3 class="f-sans">Entertainment</h3>
			<p class="f-serif">From tastemakers to musicians, from trendsetters to jetsetters. <br/>Discover the here and now.</p>
			<p class="f-serif italic">Fashion - Music - Interviews - Behind the Scenes - Vintage - Luxury</p>
		</div>
	</div>

</div>