
<div ng-controller="PageCtrl">
	<div class="section page-intro">
		<div class="inner">
			<h1 class="f-sans">The Wonder of it all: our content</h1>			
			<h2 class="f-sans">We are proud to bring to you our wide range of exclusive content from Wonder PL Productions</h2>
		</div>
	</div>

	<div id="content-partners">
		<div class="inner">
		  <ul>
		    <li>
		      <img ng-src="((assets_url))/assets/dolly/img/home-partner-1.png" />
		      <h3 class="f-serif">Inge Solheim</h3>
		      <p class="f-serif">Polar Consultant, adventure guide, hobby philosopher. Optimist.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/home-partner-2.png" />
		      <h3 class="f-serif">Hemsley &amp; Hemsley</h3>
		      <p class="f-serif">Cooking for a healthy and energised life. Yummy.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/home-partner-3.png" />
		      <h3 class="f-serif">Artist Name</h3>
		      <p class="f-serif">Describe the quirky artist and their particular quirks.</p>
		    </li>
		  </ul>

		</div>
	</div>

	<div id="content-partners">
		<div class="inner">
		  <ul>
		    <li>
		      <img ng-src="((assets_url))/assets/dolly/img/home-partner-1.png" />
		      <h3 class="f-serif">Inge Solheim</h3>
		      <p class="f-serif">Polar Consultant, adventure guide, hobby philosopher. Optimist.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/home-partner-2.png" />
		      <h3 class="f-serif">Hemsley &amp; Hemsley</h3>
		      <p class="f-serif">Cooking for a healthy and energised life. Yummy.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/home-partner-3.png" />
		      <h3 class="f-serif">Artist Name</h3>
		      <p class="f-serif">Describe the quirky artist and their particular quirks.</p>
		    </li>
		  </ul>

		</div>
	</div>

	<div id="content-partners">
		<div class="inner">
		  <ul>
		    <li>
		      <img ng-src="((assets_url))/assets/dolly/img/home-partner-1.png" />
		      <h3 class="f-serif">Inge Solheim</h3>
		      <p class="f-serif">Polar Consultant, adventure guide, hobby philosopher. Optimist.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/home-partner-2.png" />
		      <h3 class="f-serif">Hemsley &amp; Hemsley</h3>
		      <p class="f-serif">Cooking for a healthy and energised life. Yummy.</p>
		    </li><!--
		    --><li>
		      <img ng-src="((assets_url))/assets/dolly/img/home-partner-3.png" />
		      <h3 class="f-serif">Artist Name</h3>
		      <p class="f-serif">Describe the quirky artist and their particular quirks.</p>
		    </li>
		  </ul>

		</div>
	</div>

</div>