

<div ng-controller="PageCtrl">
	<div class="section">
		<div class="inner page-intro">
			<h1 class="f-sans">Our Partners</h1>
			<h2 class="f-sans">Here at Wonder, we have partnered with some of the world's biggest and best companies to bring you the services and content you deserve.</h2>
		</div>
	</div>

	<div class="section partner">
		<div class="inner">
			<div class="icon">
				<a><img ng-src="((assets_url))/assets/dolly/img/footer-logos-universal.png" /></a>
			</div>
			<p class="standout f-serif italic">Universal Music represents the worlds most iconic artists. Role models and trailblazers, they go beyond music to set trends from food to fashion. We want to make sure you get it here first.</p>
		</div>
	</div>
	<div class="section partner">
		<div class="inner">
			<div class="icon">
				<a><img ng-src="((assets_url))/assets/dolly/img/footer-logos-ooyala.png" /></a>
			</div>
			<p class="standout f-serif italic">No one wants their viewing experience ruined by banner ads and ugly overlays. With Ooyala, the world's premium provider of streaming services, we will provide a clean viewing experience. Ooyala powers sites such as ESPN and American Express.</p>
		</div>
	</div>
	<div class="section partner">
		<div class="inner">
			<div class="icon">
				<a><img ng-src="((assets_url))/assets/dolly/img/footer-logos-epidemic.png" /></a>
			</div>
			<p class="standout f-serif italic">Epidemic Sound is the world's largest collection of music for use in video production. One of the founders, Peer Anstrom, holds the world record for most entries on the US Billboard/iTunes charts.</p>
			<p class="standout f-serif italic">You can use the complete Epidemic Sound catalog for free in your productions.</p>
		</div>
	</div>
	<div class="section partner">
		<div class="inner">
			<div class="icon">
				<a><img ng-src="((assets_url))/assets/dolly/img/footer-logos-culture-shock.png" /></a>
			</div>
			<p class="standout f-serif italic">Culture Shock is a New York City-based creative agency recognised for pioneering approaches to art and technology.  We are working with them to provide on the edge art content and create a home where artists and film-makers can thrive.</p>
		</div>
	</div>
	<!--<div class="section partner">
		<div class="inner">
			<div class="icon">
				<a><img ng-src="((assets_url))/assets/dolly/img/footer-logos-anomolous-visuals.png" /></a>
			</div>
			<p class="standout f-serif italic">Anomalous Visuals (AV) is a leading video agency founded by Sam Fisher and Antony Price.  They have 20+ years experience producing videos for the fashion and music industries and lecture at the London School of Arts and the V&A Museum.</p>
			<p class="standout f-serif italic">AV and WonderPL have established a pop-up creative studio and are producing original video productions.</p>
		</div>
	</div> Removed as per Amanda's request -->
	<div class="section partner">
		<div class="inner">
			<div class="icon">
				<a><img ng-src="((assets_url))/assets/dolly/img/footer-logos-youtube.png" /></a>
			</div>
			<p class="standout f-serif italic">We are leveraging YouTube to help identify and test relevant, quality content providers for video.  Our mission is to facilitate the growth of lesser known but high quality content providers and connect them to the appropriate communities on our platform.</p>
		</div>
	</div>

</div>