

<div ng-controller="PageCtrl" class="f-centered" id="upload-page">
	
	<div class="section upload">
		<div class="inner page-intro">
			<h1 class="f-sans">Upload your content</h1>	

			<!-- <h2 class="f-serif">Bringing everything you need together, in one Wonderful Place.</h2> -->
			<h2 class="f-serif grey">The world’s leading content providers told us they wanted their favourite tools in one place instead of three.<br/><br/>Wonder PL combines:</h2>
		</div>
	</div>

	<!--<div class="section upload">
		<div class="inner">
			<span id="anchor-quality"></span>
			<h2 class="f-sans">Quality</h2>
			<p class="standout f-serif">We have designed a mobile user interface and experience that is best in class. Simple, clean, fast and reliable. There will be no banner ads, no pre-roll, or annoying overlays that ruin a good viewing experience.</p>
		</div>
	</div>-->
<!-- 
	<div class="section upload">
		<div class="inner">
			<h2></h2>
			<p class="standout f-serif">The world’s leading content providers told us they wanted their favourite tools in one place instead of three.</p>
			<p class="standout f-serif">So we did it.</p>
			<p class="standout f-serif">Wonder PL combines:</p>
			<p class="standout f-serif">Search and relevant community<br/>
			Editorial and distribution tools<br/>
			Quick &amp; easy file transfer<br/>
			Industry leading monetization tools</p>
			<p class="standout f-serif">Wonder – all of the above &amp; so much more.</p>
		</div>
	</div> -->


	<div class="section upload">
		<div class="inner padding-bottom">
			<div class="inner upload-intro-left-top inline-block">
				<img src="/static/assets/dolly/img/upload-box.jpg" alt="" class="wonder-box" />
			</div><!--
			--><div class="inner upload-intro-right-top inline-block">
				<h3 class="f-serif">Search and relevant community<br/>
				Editorial and distribution tools<br/>
				Quick &amp; easy file transfer<br/>
				Industry leading monetization tools</h3>
			</div>
		</div>
	</div>

<!-- 
	<div class="section upload">
		<div class="inner call-to-action">
			<h2 class="standout f-serif">Do you have great content? We’d love to feature you globally. Be part of our story – <a href="mailto:featured@wonderpl.com">featured@wonderpl.com</a>.</h2>
		</div>
	</div> -->

	<div class="section upload">
		<div class="inner">
			<span id="anchor-simple-tools"></span>
			<h2 class="f-sans standout">Beautiful, Effective Tools</h2>
			<p class="standout f-serif">We have designed a mobile user interface and experience that is best in class. Simple, clean, fast and reliable. There are no banner ads, no pre-roll, or annoying overlays that ruin a good viewing experience. Every content provider has different objectives. Some want to build brand awareness, and others to monetize.</p>
		</div>
	</div>

	<div class="section upload">
		<div class="inner phones padded-bottom">
			<div class="inline">
				<img src="/static/assets/dolly/img/upload-phone-3.jpg" alt="" />
				<span class="f-serif">Customized screen space</span>
			</div><!--
			--><div class="inline">	
				<img src="/static/assets/dolly/img/upload-phone-7.jpg" alt="" />
				<span class="f-serif">Click to buy or read more</span>
			</div><!--
			--><div class="inline">
				<img src="/static/assets/dolly/img/upload-phone-6.jpg" alt="" />
				<span class="f-serif">Embedded e-commerce</span>
			</div>
		</div>
	</div>

	<div class="section upload">
		<div class="inner double-padding bottom">
			<p class="standout f-serif">We will provide all the tools you need to upload and distribute your content on our site and across the web through our player embed. You will be able to customise, receive data and have HD quality all for free.  You will have access to a royalty free music library from <a href="http://epidemicsound.com/" target="_blank">Epidemic Sound</a>.</p>
		</div>
	</div>

	<div class="section upload">
		<div class="inner padding bottom">
			<div class="inner upload-intro-left-bottom inline-block">
				<img src="/static/assets/dolly/img/upload-phone-5.jpg" alt="" class="centered" />
			</div><!--
			--><div class="inner upload-intro-right-bottom inline-block">
					<h2 class="standout f-serif">Do you have great content? We’d love to feature you globally. Be part of our story – <a href="mailto:featured@wonderpl.com">featured@wonderpl.com</a>.</h2>
			</div>	
		</div>
	</div>

	<div class="section">
		<div class="inner centered">
			<h2 class="standout f-sans padding bottom">Frequently asked questions</h2>
			<div class="inner half-width faq padding bottom">
				<h3 class="f-sans">How does Wonder PL work?</h3>
				<p class="f-serif">Wonder PL is the home for the world’s best video content. Through its beautiful interface, Wonder PL delivers only the highest quality content to a discerning audience. Follow your favourite people and brands within our communities of Culture, Wellness, Home &amp; Family, Food, the Mind and Entertainment. Make your own collections to save and share with friends.</p>
				
				<div class="faq-break"></div>

				<h3 class="f-sans">Are there any costs associated with having my content on Wonder PL?</h3>
				<p class="f-serif">Our free package is the best out there. It includes more uploads and storage than our competitors, a customizable HD player to distribute your content across the web and detailed analytics. For additional storage and tools, including monetisation features, then our paid package is the best option. This package is $300 a year, and includes industry-leading monetization features, advanced analytics and access to a royalty free music library from our partner, Epidemic Sound.</p>

				<div class="faq-break"></div>

				<h3 class="f-sans">How can I get my content promoted on Wonder PL?</h3>
				<p class="f-serif">If you are on our paid package, you are eligible to apply for promotion on our platform. To find out more, please get in touch with us at featured@wonderpl.com.</p>


			</div><!--
			--><div class="inner half-width faq">
				<h3 class="f-sans">What are the benefits of having your content on Wonder PL?</h3>
				<p class="f-serif">Wonder PL has a mobile interface and experience that is simple, clean, fast and reliable. We don’t believe in banner ads or pre-roll so your content will be viewed in all its glory, without any annoying distractions. Our free and paid packages are better than our competitors, and our commercial tools are best in class. Our content partners are the very best quality, so you can benefit from cross exposure and get access to related communities.</p>
				
				<div class="faq-break"></div>

				<h3 class="f-sans">How can I monetize my content on Wonder PL?</h3>
				<p class="f-serif">If you are on our paid package, then you have access to the latest monetization tools out there. Our click to buy link pulls any URL of your choice into Wonder PL, allowing users to purchase good then and there, without leaving the app. We also offer video on demand, allowing you to charge users to watch your video. We have, however, chosen to keep our platform ad-free. Advertising revenues just aren’t high enough to justify a low quality consumer experience, and your content deserves better!</p>

			</div>
		</div>
	</div>


</div>