
<div ng-controller="PageCtrl" class="f-centered" id="upload-page">

	<div class="section upload">
		<div class="inner page-intro">
			<h1 class="f-sans">Upload your content</h1>
		</div>
	</div>

  <div class="section upload">
    <div class="inner">

      <p class="upload__text standout f-serif">Our upload platform provides a holistic and different experience that combines the power of data and beautiful interfaces to help you reach the consumers that care the most about your content and allow you to monetise.</p>
      <p class="upload__text standout f-serif">With a direct link from our upload platform to our app, consumers can watch, read and even shop.</p>
      <p class="upload__text standout f-serif">We’re creating connections between videos, articles, shopping and blog posts, allowing people to cross the web and come back again, all without leaving the Wonder PL app.</p>

      <p class="upload__text standout f-serif">Some of our features</p>
      <ul class="upload__features-list standout f-serif">
        <li class="upload__features-list-item">Better user and viewing data, plain and simple.</li>
        <li class="upload__features-list-item">&lsquo;Click to More&rsquo; buttons deliver an immersive environment allowing your audience to explore offers, book a table, or learn more.</li>
        <li class="upload__features-list-item">&lsquo;Shop Motion&rsquo;; our innovative technology, allows viewers to tap a product on screen and add it to their shopping baskets.</li>
        <li class="upload__features-list-item">&lsquo;Watch &amp; Read&rsquo;; brings blogs, articles or transcript to the same screen as your video.</li>
        <li class="upload__features-list-item">Best in class, SEO means your videos rank higher in search results. These links will bring traffic to your own website (not a third-party host).</li>
        <li class="upload__features-list-item">Our player is powered by adaptive bit rate technology that delivers better quality viewing, optimized for viewer devices and bandwidth.</li>
        <li class="upload__features-list-item">Faster loading times than the industry average; now you don&apos;t have to wait long to watch truly great videos.</li>
      </ul>

      <p class="upload__text standout f-serif">Faster loading times than the industry average; now you don&apos;t have to wait long to watch truly great videos.</p>
      <p class="upload__text standout f-serif">Please get in touch if you would like to sign up for an &lsquo;early adopter&rsquo; pro account with Wonder PL. Our team will be happy to talk you through a range of options and provide you with any case studies from our impressive list of happy partners. Partners who joined during our soft launch, have seen their subscriber numbers, view counts and click through rates, grow faster than on competitive platforms. Email us at <a href="mailto:hello@wonderpl.com">hello@wonderpl.com</a></p>
    </div>
  </div>

</div>