

<div ng-controller="PageCtrl" class="f-centered" id="upload-page">
	
	<div class="section">
		<div class="inner page-intro">
			<h1 class="f-sans">Upload your content</h1>	
			<h2 class="f-serif">Bringing everything you need together, in one Wonderful Place.</h2>
			<img src="/static/assets/dolly/img/upload-box.png" alt="" class="wonder-box" />
			<!-- <h2 class="f-sans">We interviewed hundreds of content providers about their video needs and here is what they asked for:</h2>
			<ul class="anchor-nav">
				<li><a class="scroll-anchor-link" href="#quality">Quality</a></li>
				<li><a class="scroll-anchor-link" href="#community">Community</a></li>
				<li><a class="scroll-anchor-link" href="#simple-tools">Simple Tools</a></li>
				<li><a class="scroll-anchor-link" href="#commercial-vision">Commercial Vision</a></li>
			</ul> -->
		</div>
	</div>

	<!--<div class="section upload">
		<div class="inner">
			<span id="anchor-quality"></span>
			<h2 class="f-sans">Quality</h2>
			<p class="standout f-serif">We have designed a mobile user interface and experience that is best in class. Simple, clean, fast and reliable. There will be no banner ads, no pre-roll, or annoying overlays that ruin a good viewing experience.</p>
		</div>
	</div>-->

	<div class="section upload">
		<div class="inner">
			<h2></h2>
			<p class="standout f-serif">The world’s leading content providers told us they wanted their favourite tools in one place instead of three.</p>
			<p class="standout f-serif">So we did it.</p>
			<p class="standout f-serif">Wonder PL combines:</p>
			<p class="standout f-serif">Search and relevant community<br/>
			Editorial and distribution tools<br/>
			Quick &amp; easy file transfer<br/>
			Industry leading monetization tools</p>
			<p class="standout f-serif">Wonder – all of the above &amp; so much more.</p>
		</div>
	</div>

	<div class="section upload">
		<div class="inner phones">
			<img src="/static/assets/dolly/img/upload-phone-3.png" alt=""/><!--
			--><img src="/static/assets/dolly/img/upload-phone-4.png" alt=""/>
		</div>
	</div>

	<div class="section upload">
		<div class="inner">
			<span id="anchor-quality"></span>
			<!-- <h2 class="f-sans">Quality</h2> -->
			<p class="standout f-serif">We have designed a mobile user interface and experience that is best in class. Simple, clean, fast and reliable. There will be no banner ads, no pre-roll, or annoying overlays that ruin a good viewing experience. Every content provider has different objectives. Some want to build brand awareness, and others to monetize.</p>
			<p class="standout f-serif">We are always looking for great new content. To learn more about the opportunity to be featured on our platform please get in touch with us at <a href="mailto:content@wonderpl.com">content@wonderpl.com</a>.</p>
		</div>
	</div>

<!-- 	<div class="section upload">
		<div class="inner">
			<span id="anchor-community"></span>
			<h2 class="f-sans">Community</h2>
			<p class="standout f-serif">We want to bring people and content together across a fragmented ecosystem. We have advanced features that will be offered to everyone such as the ability to collect and share content, embed your web pages in app and distribute your content via our player across the web.</p>
		</div>
	</div> -->

	<div class="section upload">
		<div class="inner">
			<span id="anchor-simple-tools"></span>
			<h2 class="f-sans">Simple Tools</h2>
			<p class="standout f-serif">We will provide all the tools you need to upload and distribute your content on our site and across the web through our player embed.  You will be able to customise, receive data and have HD quality all for free.  You will have access to a royalty free music library from <a href="http://www.epidemicsound.com/" target="_blank">Epidemic Sound</a>.</p>
			<p class="standout f-serif">Pricing for our hosting and streaming service will be simple and transparent. You will only pay for what you use. Great content deserves to be watched and rewarded. We are building the industry's first complete set of tools for monetization including 'click to purchase', on demand and subscription.</p>
		</div>
	</div>

	<div class="section upload">
		<div class="inner phones">
			<img src="/static/assets/dolly/img/upload-phone-1.png" alt=""/><!--
			--><img src="/static/assets/dolly/img/upload-phone-2.png" alt=""/>
		</div>
	</div>

	<!--<div class="section upload">
		<div class="inner">
			<span id="anchor-commercial-vision"></span>
			<h2 class="f-sans">Commercial vision</h2>
			<p class="standout f-serif">Every content provider has different objectives. Some want to build brand awareness, and others to monetize.  Great content deserves to be watched and rewarded. We are building the industry's first complete set of tools for monetization including 'click to purchase', on demand and subscription. </p>
		</div>
	</div>-->

<!--	<div class="section upload">
		<div class="inner">
			<h2>FAQs</h2>
		</div>
		<div class="inner half-width">
			<h2 class="f-sans">Problem</h2>
			<p class="standout f-serif">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temport incididunt ut labore et dolore magna aliqua</p>
			<div class="break"></div>

			<h2 class="f-sans">Problem</h2>
			<p class="standout f-serif">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temport incididunt ut labore et dolore magna aliqua</p>
			<div class="break"></div>
<h2 class="f-sans">Problem</h2>
			<p class="standout f-serif">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temport incididunt ut labore et dolore magna aliqua</p>
			<div class="break"></div>

			<h2 class="f-sans">Problem</h2>
			<p class="standout f-serif">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temport incididunt ut labore et dolore magna aliqua</p>
			<div class="break"></div>
<h2 class="f-sans">Problem</h2>
			<p class="standout f-serif">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temport incididunt ut labore et dolore magna aliqua</p>
			<div class="break"></div>

		</div>
		<div class="inner half-width">
			<h2 class="f-sans">Problem</h2>
			<p class="standout f-serif">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temport incididunt ut labore et dolore magna aliqua</p>
			<div class="break"></div>

			<h2 class="f-sans">Problem</h2>
			<p class="standout f-serif">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temport incididunt ut labore et dolore magna aliqua</p>
			<div class="break"></div>
<h2 class="f-sans">Problem</h2>
			<p class="standout f-serif">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temport incididunt ut labore et dolore magna aliqua</p>
			<div class="break"></div>

			<h2 class="f-sans">Problem</h2>
			<p class="standout f-serif">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temport incididunt ut labore et dolore magna aliqua</p>
			<div class="break"></div>
<h2 class="f-sans">Problem</h2>
			<p class="standout f-serif">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temport incididunt ut labore et dolore magna aliqua</p>
			<div class="break"></div>
		</div>
	</div>-->



</div>