

<div ng-controller="WebLiteController" id="web-lite-wrapper">
	<div class="top f-centered">
		<div class="avatar">
			<img ng-src="(( user.picture ))" alt="">
		</div>
		<h3 class="f-sans"><span class="strong">(( user.name.first )) (( user.name.last )) </span>shared this with you</h3>
		
	</div>
	<webliteplayer id="wonderplayer" data-video="h0bWV4ZzoD6fbrEsXxER_4qi8vjO_l9a"></webliteplayer>

	<div class="bottom f-centered">
		<h3 class="f-sans">Snoop gives NME his rundown of the best cars for cruising around LA in.</h3>
		<h4 class="f-sans">This is the enticing copy that someone has to come up with to encourage the viewer to download the app.</h4>
		<a href="#" class="download">Download</a>
		<div class="interactive">
			<a href="#" class="wonder-icon-twitter"></a>
			<a href="#" class="wonder-icon-facebook"></a>
			<a href="#" class="wonder-icon-code"></a>
		</div>
	</div>
</div>