.clearfix() {
  zoom: 1;
  &:before { content: ''; display: block; }
  &:after { content: ''; display: table; clear: both; }
}

body {
  background: rgba(28,31,33,0.5);
}

#resetPassword {
  width: 530px;
  height: 425px;
  margin: 100px auto;
  background: #f1f1f1;
  position: relative;  

  button {
    width: 307px;
    margin: 0;
    padding: 10px 0;
    border: 0;
    background: #fff;
    font-family: "DIN Next W01 Bold";
    font-size: 17px;
    color: #000;
    display: inline-block;
    border-radius: 0;
    text-transform: uppercase;
  }

  .text {
    width: 307px;
    color: #6a727a;
    font-family: "DIN Next W01 Regular";
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
  }

  .back {
    margin-top: 40px;
    color: #21b8d5;
    font-size: 11px;
    text-align: center;
    display: block;
  }
}

#login {
  width: 530px;
  height: 425px;
  margin: 100px auto;
  background: #f1f1f1;
  position: relative;

  #forgotpassword {
    font-size: 11px;
    color: #282d33;
    font-family: "DIN Next W01 Regular";
    text-decoration: underline;
  }

  #facebooklogin {
    background: url(/static/assets/bookmarklet/images/fbconnect.png) no-repeat;
    width: 257px;
    height: 55px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-family: "DIN Next W01 Regular";
    line-height: 59px;
    padding-left: 50px;
  }

  button {
    width: 307px;
    margin: 0;
    padding: 10px 0;
    border: 0;
    background: #fff;
    font-family: "DIN Next W01 Bold";
    font-size: 17px;
    color: #000;
    display: inline-block;
    border-radius: 0;
    text-transform: uppercase;
  }

}

#addtoChannel {
  width: 555px;
  height: 425px;
  margin: 100px auto;
  background: #242729;
  -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.7);
  -moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.7);
  box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.7);
}

#createChannel {
  width: 555px;
  height: 425px;
  margin: 100px auto;
  background: #242729;
  -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.7);
  -moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.7);
  box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.7);

  #create-container {
    width: 307px;
    margin: 100px auto;
  }
}

#chennellist {

  list-style: none;
  margin: 0 15px;
  padding: 0;
  font-family: "DIN Next W01 Bold";
  text-transform: uppercase;
  font-size: 9px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;

  .channel {
    width: 117px;
    height: 87px;
    float: left;
    margin: 4px 4px;
    position: relative;

    img {
      width: 117px;
      height: 87px;
    }

    .reflection {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
    }

    .channelname {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 110;
      color: #fff;
      margin: 0 0 10px 10px;
    }

    &.selected {
      .selectedOverlay {
        background: url(/static/assets/bookmarklet/images/selected.png) 0 0 no-repeat;
        width: 117px;
        height: 87px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 105;
      }
    }
  }

  .newchannel {
    background: #f5f5f5;
    color: #21b7d4;

    .newchanneltext {
      margin: 34px auto;
      width: 80px;
      text-align: center;
      line-height: 12px;
      font-size: 10px;
    }
  }
}

#topmenu {
  padding: 20px;
  margin: 0;
  list-style: none;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  font-family: "DIN Next W01 Regular";
  text-transform: uppercase;
  .clearfix();

  .title {
    width: 400px;
    line-height: 42px;
  }

  li {
    float: left;

    &:last-child {
      float: right;
    }
  }

}

.blue-btn {
  color: #333333;
  font-size: 13px;
  font-family: "DIN Next W01 Bold";
  background: #20c2e0;
  background: -moz-linear-gradient(top, #11aab4 0%, #10a0a7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11aab4), color-stop(100%,#10a0a7));
  background: -webkit-linear-gradient(top, #11aab4 0%,#10a0a7 100%);
  background: -o-linear-gradient(top, #11aab4 0%,#10a0a7 100%);
  background: -ms-linear-gradient(top, #11aab4 0%,#10a0a7 100%);
  background: linear-gradient(to bottom, #11aab4 0%,#10a0a7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11aab4', endColorstr='#10a0a7',GradientType=0 );
  padding: 12px 20px;
  margin: 0;
  border: 0;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #37cae6;
}

#footer {
  color: #6a727a;
  font-size: 10px;
  font-family: "DIN Next W01 Regular";
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

  a, a:hover, a:visited {
    color: #21b8d5;
  }
}

#done {
  width: 343px;
  height: 135px;
  margin: 100px auto;
  background: #242729;
  color: #fff;
  font-family: "DIN Next W01 Regular";
  font-size: 13px;
  text-align: center; 
  position: relative; 

  .close {
    position: absolute;
    top: 0;
    right: 0;
  }

  .done {
    margin: 30px 0;
  }
}

input[type=text], input[type=password] {
  width: 267px;
  margin: 0;
  padding: 10px 20px;
  border: 0;
  -webkit-box-shadow: inset 2px 2px 2px 2px rgba(245, 245, 245, 0.5);
  box-shadow: inset 2px 2px 2px 2px rgba(245, 245, 245, 0.5);
  background: #f9f9f9;
  border-radius: 0;
  color: #000;
  font-size: 17px;
}

hr {
  width: 307px;
  background: #ddd;
  border: 0;
  border-bottom: 1px solid #f9f9f9;
  height: 1px;
  margin: 10px auto;
}

.control-group {
  margin-left:110px;
  margin-bottom: 8px;
}

#logo {
  margin: 3px auto 0 0;
}

.message {
  width: 307px;
  margin: 0 auto;
  padding: 10px 0;
  font-family: "DIN Next W01 Bold";
  font-size: 17px;
  color: #fff;
  display: block;
  border-radius: 0;
  text-transform: uppercase;
  color: #408140;
  text-align: center;
}

.error {
  color: #cd0a0a;
}

.hide {
  opacity: 0;
}