<html>
  <head>
    <script src="//www.google-analytics.com/analytics.js"></script>
  </head>
  <body>
    <iframe style="display:none" height="0" width="0" id="loader"></iframe>
    <script>
      var isiOS = (
            navigator.userAgent.match('iPad') ||
            navigator.userAgent.match('iPhone') ||
            navigator.userAgent.match('iPod'));
      ga.
        create('{{ config.GOOGLE_ANALYTICS_ACCOUNT }}').
        send('event', 'interstitial', 'click', isiOS ? 'ios' : '');
      var redirectLink = '{{ redirect_url|safe }}';
      if (isiOS) {
        document.getElementById('loader').src = '{{ protocol_url }}';
        redirectLink = '{{ config.ITUNES_APP_LINK|safe }}&ct=inter';
      }
      window.setTimeout(function () { location.replace(redirectLink); }, 1);
    </script>
  </body>
</html>
