<!DOCTYPE html>
<html lang="en" id="ng-app" ng-app="Bookmarklet" xmlns:ng="http://angularjs.org" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <meta charset="utf-8">
  <title>AngularJS</title>

  <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="ie.css" />
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lte IE 8]>
    <script>
      document.createElement('ng-include');
      document.createElement('ng-pluralize');
      document.createElement('ng-view');
      document.createElement('ng:include');
      document.createElement('ng:pluralize');
      document.createElement('ng:view');
    </script>
  <![endif]-->
  <!--[if lt IE 8]>
    <script src="js/json2.js"></script>
  <![endif]-->

  <script type="text/javascript">
    var api_urls = {{api_urls|tojson|safe}};
  </script>

  <script>
    window.isSecure = {% if config.get("SECURE_DOMAIN") %}true{% else %}false{% endif %};
  </script>

  {% assets output="gen/bookmarklet_lib.%(version)s.js",
            "assets/vendor/js/angular.js", "assets/vendor/js/jquery-1.9.1.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% assets filters="coffeescript", output="gen/bookmarklet_home.%(version)s.js", "bookmarklet/app/app.coffee", "bookmarklet/app/controllers.coffee", "bookmarklet/app/services.coffee", "bookmarklet/app/web-services/oauth.coffee", "bookmarklet/app/web-services/user.coffee" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% assets filters="bmtemplates", output="gen/bookmarklet_templates.%(version)s.js", 
    "bookmarklet/app/views/addtochannels.html", "bookmarklet/app/views/createchannel.html", "bookmarklet/app/views/login.html", "bookmarklet/app/views/resetpassword.html", "bookmarklet/app/views/done.html" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

    {% assets filters="less", output="gen/bookmarklet.%(version)s.css", "bookmarklet/app/less/app.less" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

  <!--[if lt IE 8]>
    <script src="js/json2.js"></script>
  <![endif]-->

</head>
<body>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      // init the FB JS SDK
      FB.init({
        appId      : '131721883664256',                        // App ID from the app dashboard
        channelUrl : '/static/assets/channel.html',         // Channel file for x-domain comms
        status     : true,                                 // Check Facebook Login status
        xfbml      : true                                  // Look for social plugins on the page
      });

      // Additional initialization code such as adding Event Listeners goes here
    };

    // Load the SDK asynchronously
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="ng-view"></div>
</body>
</html>