<!DOCTYPE html>
<html lang="en" id="ng-app" ng-app="Weblight" xmlns:ng="http://angularjs.org">
<head prefix="og: http://ogp.me/ns# {{ config.FACEBOOK_APP_NAMESPACE }}: http://ogp.me/ns/apps/{{ config.FACEBOOK_APP_NAMESPACE }}#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="cleartype" content="on">

    {% include 'web/meta_social.html' %}

    <!--[if lt IE 9]>
      <script src="{{config.ASSETS_URL}}/assets/vendor/js-no-compile/html5.js"></script>
      <style type="text/css">
        .gradient {
          filter: none;
        }
      </style>
    <![endif]-->

    <!--[if lte IE 8]>
      <script type="text/javascript">
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
      </script>
      <script src="{{config.ASSETS_URL}}/assets/vendor/js-no-compile/json2.js"></script>
    <![endif]-->

    <script type="text/javascript">
      var channel_data = {{ channel_data|tojson|safe }},
          assets_url = '{{config.ASSETS_URL}}',
          selected_video = {{selected_video|tojson|safe}},
          full_path = '/',
          apiUrls = {{api_urls|safe}}

    </script>

    {% assets filters="cssmin", output="gen/vendor-weblight.%(version)s.css", "assets/vendor/css/bootstrap.css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% assets  output="gen/weblightlib.%(version)s.js", "assets/vendor/js/jquery-1.10.1.min.js", "assets/vendor/js/angular.js", "assets/vendor/js/ng-infinite-scroll.js",
      "assets/vendor/js/lodash.js"
    %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}


  {% if selected_video %}

    {% assets filters="less, cssmin", output="gen/videoplayer.%(version)s.css", "assets/weblight/css/videoplayer.less" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% assets filters="coffeescript, rjsmin", output="gen/videoplayer.%(version)s.js", "weblight/webplayer/app.coffee", "weblight/webplayer/controllers/AppCtrl.coffee",
      "weblight/webplayer/controllers/VideoCtrl.coffee", "weblight/webplayer/controllers/ChannelCtrl.coffee", "weblight/webplayer/services/userService.coffee" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets filters="weblighttemplates, rjsmin", output="gen/video-templates.%(version)s.js",
      "weblight/webplayer/views/videoplayer.html" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

  {% else %}

      {% assets filters="coffeescript", output="gen/channel-js.%(version)s.js", "weblight/channel/app.coffee", "weblight/channel/controllers/AppCtrl.coffee", "weblight/channel/controllers/ChannelCtrl.coffee",
      "weblight/channel/controllers/VideoCtrl.coffee", "weblight/channel/services/userService.coffee", "weblight/channel/services/contentService.coffee"
      %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      {% endassets %}

      {% if request.args.mobile == "true" %}

        {% assets filters="less, cssmin", output="gen/channelMobile-css.%(version)s.css", "assets/weblight/css/channelMobile.less" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
        {% endassets %}

        {% assets filters="weblighttemplates, rjsmin", output="gen/channel-templates-mobile.%(version)s.js",
        "weblight/channel/mobileView/channel.html", "weblight/channel/mobileView/videoplayer.html", "weblight/channel/mobileView/headermobile.html", "weblight/channel/mobileView/videocell.html"
        %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

      {% else %}

        {% assets filters="less, cssmin", output="gen/channel-css.%(version)s.css", "assets/weblight/css/channel.less" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
        {% endassets %}

        {% assets filters="weblighttemplates, rjsmin", output="gen/channel-templates.%(version)s.js",
        "weblight/channel/views/channel.html", "weblight/channel/views/videoplayer.html"
        %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

      {% endif %}

  {% endif %}

    <script>
      var tag = document.createElement('script');
      tag.src = "//www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    </script>

  </head>
  <body ng-controller="AppCtrl" ng-class="currentPage" id="app">
  {% if selected_video == None %}
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
          appId      : '{{config.FACEBOOK_APP_ID}}',                        // App ID from the app dashboard
          channelUrl : '/static/assets/channel.html', // Channel file for x-domain comms
          status     : true,                                 // Check Facebook Login status
          xfbml      : true                                  // Look for social plugins on the page
        });

        // Additional initialization code such as adding Event Listeners goes here
      };

      // Load the SDK asynchronously
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  {% endif %}


  <div class="ng-view"></div>
    {% include 'web/ga_ajax.html' %}
  </body>
</html>
