<!DOCTYPE html>
<html lang="en" id="ng-app" ng-app="Weblight" xmlns:ng="http://angularjs.org">
<head prefix="og: http://ogp.me/ns# {{ config.FACEBOOK_APP_NAMESPACE }}: http://ogp.me/ns/apps/{{ config.FACEBOOK_APP_NAMESPACE }}#">
    <meta charset="utf-8">
    {%- with %}
    {% set title_prefix = '"%s" on ' % selected_video.title if selected_video else '' %}
    {% set title = '%s"%s" channel on Rockpack' % (title_prefix, channel_data.title) -%}
    <title>{{ title }}</title>

    {% if selected_video %}
      {% set description = 'Video curated by %s in channel %s using Rockpack iOS app' % (channel_data.owner.display_name, channel_data.title) %}
    {% else %}
      {% set description = 'Watch %s videos curated by %s using Rockpack iOS app' % (channel_data.owner.display_name, channel_data.title) %}
    {% endif %}
    <meta name="description" content="{{description}}">

    <meta property="fb:app_id" content="{{ config.FACEBOOK_APP_ID }}" />
    <meta property="og:site_name" content="Rockpack" />
    <meta property="og:url" content="{{ channel_data.canonical_url }}" />
    {% if selected_video %}
      <meta property="og:type" content="video.other" />
      <meta property="og:title" content="{{ selected_video.title }}" />
      <meta property="og:image" content="{{ selected_video.video.thumbnail_url }}" />
      <meta property="og:description" content="{{ title }}" />
      {% if selected_video.video.source == 'youtube' %}
        <meta property="og:video" content="http://www.youtube.com/v/{{ selected_video.video.source_id }}?version=3&amp;autohide=1" />
        <meta property="og:video:type" content="application/x-shockwave-flash" />
        <meta property="og:video:width" content="1280" />
        <meta property="og:video:height" content="720" />
      {% endif %}
    {% else %}
      <meta property="og:type" content="{{ config.FACEBOOK_APP_NAMESPACE }}:channel" />
      <meta property="og:title" content="{{ channel_data.title }}" />
      <meta property="og:image" content="{{ channel_data.cover_background_url }}" />
      <meta property="og:description" content="{% if channel_data.description %}{{ channel_data.description }}{% else %}{{ title }}.{% endif %}" />
      <meta property="{{ config.FACEBOOK_APP_NAMESPACE }}:owner_name" content="{{ channel_data.owner.display_name }}" />
    {% endif %}
    {% endwith %}
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="canonical" href="{{ channel_data.canonical_url }}" />

    <!--[if lt IE 9]>
      <link rel="stylesheet" type="text/css" href="ie.css" />
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="vendor/js-no-compile/html5.js"></script>
      <style type="text/css">
        .gradient {
          filter: none;
        }
      </style>
    <![endif]-->

    <!--[if lte IE 8]>
      <script type="text/javascript">
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
      </script>
      <script src="vendor/js-no-compile/json2.js"></script>
    <![endif]-->

    <script type="text/javascript">
      var channel_data = {{ channel_data|tojson|safe }},
          assets_url = '{{config.ASSETS_URL}}',
          selected_video = {{selected_video|tojson|safe}},
          full_path = '{{full_site}}';
    </script>

    {% assets filters="rjsmin", output="gen/lib.%(version)s.js",
              "assets/vendor/js/jquery-1.10.1.min.js", "assets/vendor/js/lodash.js", "assets/vendor/js/angular.js", "assets/vendor/js/angular-resource.js", "assets/vendor/js/ng-infinite-scroll.js",
              "assets/vendor/js/ui-bootstrap-tpls-0.2.0.js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets filters="coffeescript", output="gen/channel.%(version)s.js", "weblight/app.coffee", "weblight/controllers/AppCtrl.coffee", "weblight/controllers/ChannelCtrl.coffee", "weblight/controllers/PageCtrl.coffee", "weblight/controllers/PageCtrl.coffee",
        "weblight/controllers/ChannelPlaybookCtrl.coffee", "weblight/services/browserServices.coffee", "weblight/controllers/VideoCtrl.coffee", "weblight/services/channelServices.coffee"
    %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets filters="weblighttemplates, rjsmin", output="gen/templates.%(version)s.js",
      "weblight/views/channel.html", "weblight/views/footer.html", "weblight/views/header.html", "weblight/views/Videocell.html", "weblight/views/videoplayer.html", "weblight/views/headermobile.html"
       %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
      var tag = document.createElement('script');
      tag.src = "//www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    </script>


    {% assets filters="cssmin", output="gen/vendor.%(version)s.css", "assets/vendor/css/bootstrap.css", "assets/vendor/css/bootstrap-responsive.css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% assets filters="less", output="gen/channel.%(version)s.css", "assets/weblight/css/app.less" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

  </head>
  <body ng-controller="AppCtrl" ng-class="currentPage" id="app">
    <div ng-switch on="isMobile">
      <div ng-switch-when="true"><div ng-include src="'headermobile.html'"></div></div>
      <div ng-switch-when="false"><div ng-include src="'header.html'"></div></div>
    </div>
    <div class="ng-view"></div>
    <div ng-include src="'footer.html'" ></div>

    {% include 'web/ga_ajax.html' %}
  </body>
</html>
