<!DOCTYPE html>
<html> 
  <head prefix="og: http://ogp.me/ns# {{ config.FACEBOOK_APP_NAMESPACE }}: http://ogp.me/ns/apps/{{ config.FACEBOOK_APP_NAMESPACE }}#">
    <title>{{ title }}</title>
    <meta property="fb:app_id" content="{{ config.FACEBOOK_APP_ID }}" /> 
    <meta property="og:title" content="{{ title }}" /> 
    <meta property="og:image" content="{{ cover_thumbnail_large_url }}" /> 
    <meta property="og:description" content="{{ description }}" /> 
  </head>
  <body>
    <div class="background" style="background: url({{ cover_background_url }})">
      <h1>{{ title }}</h1>
      <script>
        var owner = {{ owner|tojson|safe }};
        var videos = {{ videos|tojson|safe}};
      </script>
      {% if selected_instance %}
      <div class="player">
        <!-- play {{ selected_instance.video.source_id }} -->
      </div>
      {% endif %}
      <div class="videos">
        {% for instance in videos['items'] %}
        <div id="{{ instance.id }}" class="video" data-sourceid="{{ instance.video.source_id }}">
          <img src="{{ instance.video.thumbnail_url }}"/>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
