<footer>
  <div class="wrapper" ng-style="wrapperWidth()">
    <ul>
      <li class="hidden-phone"><a href="{{full_site}}">About</a></li>
      <li class="hidden-phone"><a href="{{full_site}}#/content-providers">Content Providers</a></li>
      <li class="hidden-phone"><a href="{{full_site}}#/people">People</a></li>
      <li class="hidden-phone"><a href="{{full_site}}#/press">Partners & Press</a></li>
      <li class="hidden-phone"><a href="{{full_site}}#/jobs">Jobs</a></li>
      <li class="hidden-phone"><a href="http://help.rockpack.com/">Help</a></li>
    </ul>
    <div class="rights">All rights reserved Rockpack® ltd 2013 - By using Rockpack, you agree to our  <a href="/tos">Terms & Conditions</a> and <a href="/privacy">Privacy Policy</a>.</div>
    <div class="rights">Apple, the Apple logo, iPhone and iPad are trademarks of Apple Inc., registered in the U.S and other countries.<br>App Store is a service mark of Apple Inc.</div>
  </div>
</footer>
