<!DOCTYPE html>
<html>
  <head>
    <title>rockpack</title>
  </head>
  <body>
    {% if user %}
    <div class="success">
      Password changed
    </div>
    {% elif form %}
    <div class="reset-password-form">
      <form action="" method="post">
        {% for field in form %}
        {{ field() }}
        {% if field.errors %}
          {{ field.errors }}
        {% endif %}
        {% endfor %}
        <input type="submit" value="Set password"/>
      </form>
    </div>
    {% else %}
    <div class="error">
      Invalid token
    </div>
    {% endif %}
  </body>
</html>
