<!DOCTYPE html>
<html lang="en" id="ng-app" ng-app="Weblight" xmlns:ng="http://angularjs.org">
  <head>
    <meta charset="utf-8">
    <title>rockpack</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    {% assets filters="cssmin", output="gen/vendor.%(version)s.css", "assets/vendor/css/bootstrap.css", "assets/vendor/css/bootstrap-responsive.css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% assets filters="less", output="gen/resetpass.%(version)s.css", "assets/weblight/css/resetpass.less" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

  </head>
  <body>

    <nav id="topnav">
      <div class="wrapper" ng-style="wrapperWidth()">
          <ul>
            <li><a href="/#/"><img src="/static/assets/weblight/images/logo.png" class="logo"></a></li>
            <li class="gettheapp hidden-phone"><a>Get the app</a></li>
            <li class="right hidden-phone"><a>About</a></li>
            <li class="right hidden-phone"><a>Help</a></li>
          </ul>
      </div>
    </nav>

    <div id="resetpassword" class="content-page">  
      <div class="row-fluid">   
        <header>
          {% if user %}
            <h1 class="title offset4 span4">PASSWORD CHANGED SUCCESSFULY</h1>
          {% else %}
            <h1 class="title offset4 span4">CHOOSE A NEW PASSWORD</h1>
          {% endif %}
        </header>
      </div>
      <div class="row-fluid"> 
        <div class="offset4 span4 main-content"> 
          {% if user %}
          {% elif form %}
          <div class="reset-password-form">
            {% if form.errors.password2 %}
              <div class="errors">
                {% for error in form.errors.password2 %}
                  {{error}}
                {% endfor %}
              </div>
            {% endif %}
            <form action="" method="post">
              {% for field in form %}
              <div>{{ field(placeholder=field.label.text) }}</div>
              {% endfor %}
              <input type="submit" value="RESET PASSWORD" class="btn btn-blue">
            </form>
          </div>
          {% else %}
          <div class="error">
            Invalid token
          </div>
          {% endif %}
        </div>
      </div>
    </div>    

  <footer>
    <div class="wrapper" ng-style="wrapperWidth()">
      <ul>
        <li class="hidden-phone"><a href="#/about">About</a></li>
        <li class="hidden-phone"><a href="#/jobs">Jobs</a></li>
        <li class="hidden-phone"><a href="http://blog.rockpack.com/">Blog</a></li>
        <li class="terms">By using Rockpack, you agree to our <a href="">terms & conditions and privacy policy</a>.</li>
        <li class="allrights right">All rights reserverd Rockpack ltd 2013</li>
      </ul>
    </div>
  </footer>

  </body>
</html>
