@import "mixins.less";
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=e8c15b58-fc59-463c-be33-77dba4bf5031");
@font-face{
  font-family:"dn-bold";
  src:url("/static/assets/fonts/b32ab78b-6c51-4bd3-bc37-4edcec0331f8.eot?#iefix");
  src:url("/static/assets/fonts/b32ab78b-6c51-4bd3-bc37-4edcec0331f8.eot?#iefix") format("eot"),url("/static/assets/fonts/9949035f-6226-4080-a14a-bf7d94ffb1e1.woff") format("woff"),url("/static/assets/fonts/6241bd09-15c2-485e-9796-9db8d0aa6974.ttf") format("truetype"),url("/static/assets/fonts/af94da3e-4232-416a-b6bc-f39f85dd5db6.svg#af94da3e-4232-416a-b6bc-f39f85dd5db6") format("svg");
}
@font-face{
  font-family:"dn-regular";
  src:url("/static/assets/fonts/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix");
  src:url("/static/assets/fonts/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix") format("eot"),url("/static/assets/fonts/c5a7f89e-15b6-49a9-8259-5ea665e72191.woff") format("woff"),url("/static/assets/fonts/868c94b5-ca49-46b7-b62b-297f8d861125.ttf") format("truetype"),url("/static/assets/fonts/e3145f65-29b5-4f7f-8c6e-2dc135021b6a.svg#e3145f65-29b5-4f7f-8c6e-2dc135021b6a") format("svg");
}


html,body {
  height:100%;
}

.ng-view {
  height: 100%;
}

.rockpack-button {
  display: inline-block;
  background: #0ba6ab;
  padding: 20px 40px 18px 40px;
  color: #fff;
  text-shadow: 1px 0 1px #000;
  font-family: "dn-bold";
  font-size: 18px;
  line-height: 18px;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#scrubber {
  width: 100%;
  height: 20px;
  background: rgba(241,241,241,0.3);
  position: absolute;
  top: 394px;
  z-index: 12001;
  opacity: 1;

  #currentPosition {
    height: 20px;
    width: 0;
    background: #0ba6ab;
    -webkit-transition: all 45ms;
    -moz-transition: all 45ms;
    -o-transition: all 45ms;
    transition: all 45ms;
  }

  &.hideOverlay {
    opacity: 0;
  }

}

#pause {
  position: absolute;
  top: 170px;
  left: 247px;
  z-index: 12000;
  width: 93px;
  height: 102px;
  background: url(/static/assets/weblight/images/pause.png) no-repeat 50% 50%;
  opacity: 1;
  -webkit-transition: opacity  0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity  0.3s;
  transition: opacity 0.3s;

  &.play {
    background: url(/static/assets/weblight/images/play.png) no-repeat 50% 50%;
    opacity: 1;
  }

  &.hideOverlay {
    opacity: 0;
  }
}

h1,h2,h3,h4,h5 {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  font-size: 12px;
  color: #282d33;
  font-family: Arial;
  background: #f7f7f7;
}

#weblightshare {
  font-family: "dn-regular";
  color: #aaa;
  font-size: 16px;
  float: right;
  margin: 20px 0 0 0;
}

#videoplayer {
  z-index: -100;
  position: absolute;
  top: 0;
}

#header {
  text-align: center;
  padding-top: 20px;

  #topdownload {
    position: absolute;
    right: 0;
    top: 0;
    font-family: "dn-regular", helvetica;
    font-size: 13px;

    img {
      margin-left: 10px;
    }

    a, a:hover, a:visited, a:active {
      color: #fff;
      text-decoration: none;
    }
  }
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 980px;
  .clearfix();
}

#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
}


.videocell {

  width: 230px;
  height: 127px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  .play {
    width: 100%;
    height: 100%;
    background: url(/static/assets/weblight/images/channelplay.png) 50% 50% no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .videotitle {
    color: #fff;
    font-size: 14px;
    font-family: "dn-regular", helvetica;
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-shadow: 1px 0 3px rgba(0,0,0,0.24);
  }
}

// Video Player

#playercontainer {
  width:620px;
  height:646px;
  padding: 0;
  position: absolute;
  top: 0;
  margin-top: 100px;
  left: 50%;
  margin-left: -310px;
  z-index: 1010;

  #closeVideo {
    width: 30px;
    height: 30px;
    background: url(/static/assets/weblight/images/closevideo.png);
    position: absolute;
    top: 90px;
    right: 20px;
  }

  iframe {
    display: block;
  }

  #playerfooter {

    background: #282d33;
    padding: 30px;
    color: #feffff;
    font-family: "dn-regular";
    font-size: 20px;
  }

  #mobilefooter {
    display: none;
  }


  #playerheader {

    font-size: 16px;
    font-family: "dn-regular";
    color: #feffff;
    .clearfix();
    margin-bottom: 20px;

    img {
      float: left;
      width: 45px;
      height: 45px;
    }

    #desc {
      float: left;
      padding: 4px 0 0 10px;

      .name {
        font-family: "dn-bold";
        font-size: 16px;
      }

      .user {
        font-family: "dn-regular";
        font-size: 12px;
      }

    }

    #videotitle {
      font-family: "dn-bold";
    }

    #logos {
      float: right;

      .bluelogo {
        margin-right: 10px;
      }
    }
  }


 }

#ChannelCtrl {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#bgimage {
  background: rgba(255,255,255,0.8);
  height: 100%;
}

#videoslist {

  padding: 6px;

  &>div {
    display: inline-block;
    margin: 6px
  }
}

#channelheader {
  padding: 100px 0;
  color: #fff;
  font-family: "dn-regular", Helvetica;
  text-shadow: 2px 0 2px rgba(0,0,0,0.11);

  &>div {
    margin-left: 12px;
  }

  h1 {
    font-size: 60px;
    line-height: 66px;
    max-width: 425px;
    margin: 0;
  }

  #subscriberCount {
    font-size: 18px;
    margin: 40px 0;

  }

  #userdetails {
    list-style: none;
    margin: 0;

    li {
      display: inline-block;
      vertical-align: top;
      font-size: 20px;
      margin-right: 20px;
    }

    .user-profile {
      width: 90px;
      height: 90px;
    }
  }

}

#popup {
  background: rgba(255,255,255, 0.9);
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  font-family: "dn-regular", helvetica;
  z-index: 1000000;
  line-height: 20px;
  height: 100px;

  #closepopup {
    background: url(/static/assets/weblight/images/blackclose.png);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .wrapper {
    margin-top: 5px;

    #sharedAvater {
      margin-right: 30px;

      img {
        width: 90px;
        height: 90px;
      }
    }

    .getbutton {
      float: right;
      margin-top: 15px;
    }

    &>div {
      display: inline-block;
      vertical-align: middle;
    }

  }
}

.bold {
  font-family: "dn-bold", helvetica;
}