@import "mixins.less";  
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=e8c15b58-fc59-463c-be33-77dba4bf5031");

@font-face{
  font-family:"dn-bold";
  src:url("/static/assets/fonts/b32ab78b-6c51-4bd3-bc37-4edcec0331f8.eot?#iefix");
  src:url("/static/assets/fonts/b32ab78b-6c51-4bd3-bc37-4edcec0331f8.eot?#iefix") format("eot"),url("/static/assets/fonts/9949035f-6226-4080-a14a-bf7d94ffb1e1.woff") format("woff"),url("/static/assets/fonts/6241bd09-15c2-485e-9796-9db8d0aa6974.ttf") format("truetype"),url("/static/assets/fonts/af94da3e-4232-416a-b6bc-f39f85dd5db6.svg#af94da3e-4232-416a-b6bc-f39f85dd5db6") format("svg");
}

@font-face{
  font-family:"dn-regular";
  src:url("/static/assets/fonts/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix");
  src:url("/static/assets/fonts/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix") format("eot"),url("/static/assets/fonts/c5a7f89e-15b6-49a9-8259-5ea665e72191.woff") format("woff"),url("/static/assets/fonts/868c94b5-ca49-46b7-b62b-297f8d861125.ttf") format("truetype"),url("/static/assets/fonts/e3145f65-29b5-4f7f-8c6e-2dc135021b6a.svg#e3145f65-29b5-4f7f-8c6e-2dc135021b6a") format("svg");
}

body {
  background: #f1f1f1;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

footer {
  font-family: "dn-regular";
  color: #aaa;
  background: #f8f8f8;
  padding: 30px 0;
  display: block;
  padding: 20px;
  position: relative;

  ul {
    list-style: none;
    .clearfix();
    margin: 0;
    display: inline-block;

    li {
      line-height: 17px;
      margin-right: 15px;
      font-size: 17px;
      text-transform: uppercase;
    }
  }

  .rights {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  a, a:visited, a:active {
    color: #1cb9be;
    text-decoration: none;
  }

  a:hover {
    color: #1cb9be;
    text-decoration: underline;
  }

}

#header {

  background: #282d33;
  color: #fff;
  border-bottom: #5e6166 solid 1px;

  .titlebar {
    padding: 40px 0;
  }

  #logo {
    margin-top: 30px;
    background: #fff;
    padding: 10px 20px 10px 65px;
    display: inline-block;

    .btn {
      margin-left: 40px;
    }
  }

  h1.title {
    font-size: 35px;
    font-family: "dn-bold";
  }

  h2.title {
    font-size: 32px;
    font-family: "dn-regular";
    margin-top: 13px;
  }
}

.btn-blue {
  font-family: "dn-bold";
  text-transform: uppercase;
  text-shadow: 0;
  color: #ffffff;
  background: url(/static/assets/weblight/images/blue-btn-bg.png) repeat-x;
  font-size: 15px;
  padding: 14px 10px;
  border-radius: 0;
}

input[type=password] {
  width: 267px;
  margin: 0;
  padding: 14px 20px;
  border: 0;
  -webkit-box-shadow: inset 2px 2px 2px 2px rgba(245, 245, 245, 0.5);
  box-shadow: inset 2px 2px 2px 2px rgba(245, 245, 245, 0.5);
  background: #f9f9f9;
  border-radius: 0;
  color: #000;
  font-size: 17px;
  margin: 5px 0;
}

input[type=submit] {
  width: 306px;
  margin-top: 15px;
  font-family: "dn-bold";
  margin: 0;
  padding: 10px 20px;
  border: 0;
  background: #f9f9f9;
  border-radius: 0;
  color: #000;
  font-size: 17px;
  margin: 5px 0;
  border-top: 1px solid #fff;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);

}

.main-content {
  margin-top: 50px;
}

.error {
  display: none;
  position: absolute;
  top: 5px;
  background: #df3450;
  font-size: 12px;
  height: 48px;
  right: -20px;
  width: 280px;
  line-height: 48px;
  color: #dfe0e1;
  padding-left: 15px;

  &:before {
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-right:24px solid #df3450;
    position: absolute;
    left:-24px;
    content: "";
  }
}

.ok {
  display: none;
  width: 49px;
  height: 49px;
  background: url(/static/assets/weblight/images/ok.png);
  position: absolute;
  top: 5px;
  right: 100px;
}

.fieldcontainer {
  position: relative;
  display: block;
  width: 500px;
}

.logo {
  background: #fff;
  height: 50px;
  line-height: 50px;

  img {
    width: 125px;
  }
}

@media (max-width: 767px) {
  .reset-password-form {
    width: 300px;
    margin: 0 auto;
  }

  .fieldcontainer {
    width: auto;
  }

  .error {
    position: relative;
    width: 292px;
    right: 0;
    top: 0;

    &:before {
      display: none;
    }
  }

  .ok {
    right: -8px;
  }

  .logo, .titlebar {
    text-align: center;
  }
}
