<div ng-controller="ResetPasswordCtrl" id="resetPassword">
  <ul id="topmenu">
    <li><img src="/static/assets/bookmarklet/images/close.png" ng-click="close()"></li>
    <li class="title"><img src="/static/assets/bookmarklet/images/logo.png" id="logo"></li>
  </ul>
  <div>
    We'll send you an email with a link to reset your password
  </div>
  <hr>
  <form name="loginForm" class="form-horizontal" id="resetform">
    <div class="control-group">
      <input type="text" name="userName" ng-model="username" required placeholder="Username or email">
    </div>
    <div class="control-group">
      <button ng-click="submit()" class="btn">Send Recovery Email</button>
    </div>
  </form>
  <div>
    <a href="#/" id="back">Back to signin</a>
  </div>
  <div id="footer">
    By using rockpack, You Agree to our <a href="#">Terms & Services</a> and <a href="#">Privacy Policy</a>
  </div>
</div>