<div id="addtoChannel" class="wrapper">
  <ul id="topmenu">
    <li><img src="/static/assets/bookmarklet/images/close.png" ng-click="close()"></li>
    <li class="title">Select a Channel</li>
    <li><button class="btn-blue" ng-click="addtoChannel()">Add</button></li>
  </ul>
  <div>
    <div id="chennellist">
      <div class="channel" ng-repeat="channel in channels" ng-click="selectChannel(channel.resource_url)" ng-class="{selected : isSelected(channel.resource_url)}">
        <div class="channelname">{{channel.title}}</div>
        <div class="selectedOverlay"></div>
        <img ng-src="{{channel.cover.thumbnail_url}}" src="/static/assets/bookmarklet/images/nocover.png">
      </div>
    </div>
  </div>
</div>