<div id="addtoChannel" class="wrapper">
  <ul id="addtoChannel-header">
    <li><img src="/static/assets/fullwebapp/images/closeAddToChannel.png" ng-click="close()"></li>
    <li class="title">ADD TO A CHANNEL</li>
    <li class="confirm"><button class="yellow-botton" ng-click="addtoChannel()">CONFIRM</button></li>
  </ul>
  <div>
    <div id="chennellist">
      <div class="channel" ng-repeat="channel in channels" ng-click="selectChannel(channel.resource_url)" ng-class="{selected : channel.resource_url == selectedChannel}">
        <div class="channelname">{{channel.title}}</div>
        <div class="selectedOverlay"></div>
        <img ng-src="{{channel.cover.thumbnail_url}}" src="/static/assets/bookmarklet/images/nocover.png">
      </div>
    </div>
  </div>
</div>