<div class="wrapper">
  <h2>Channel View</h2>
  <ul class="menu">
    <li ng-repeat="category in categories">
      <div ng-click="header(category.id)">{{category.name}}</div>
      <ul ng-show="category.id == menu.main">
        <li ng-repeat="subcategory in category.sub_categories">
          <div ng-click="subheader(subcategory.id)">{{subcategory.name}}</div>
        </li>
      </ul>
    </li>
  </ul>
  <div infinite-scroll="load_channels()" infinite-scroll-distance="1" id="channels">
    <div  ng-repeat="channel in channels" class="channel">
      <a href="/#channel/{{channel.owner.id}}/{{channel.id}}">
        <img ng-src="{{channel.cover.thumbnail_url}}">
        <div class="channelTitle">{{channel.title | truncate: 25}}</div>
        <div class="channelOwnerTitle">{{channel.owner.display_name}}</div>
      </a>
    </div>
  </div>
</div>
