<div class="wrapper">
  <ul class="menu">
    <li><div ng-click="header('')" ng-class="{active: menu.main == ''}">All</div></li>
    <li ng-repeat="category in categories" ng-class="{active: category.id == menu.main}">
      <div ng-click="header(category.id)">{{category.name}}</div>
      <ul ng-show="category.id == menu.main">
        <li ng-repeat="subcategory in category.sub_categories" ng-class="{active: subcategory.id == menu.sub}">
          <div ng-click="subheader(subcategory.id)">{{subcategory.name}}</div>
        </li>
      </ul>
    </li>
  </ul>
  <div infinite-scroll="load_channels()" infinite-scroll-distance="1" id="channels">
    <div  ng-repeat="channel in channels" class="channel">
      <a href="#/channel/{{channel.owner.id}}/{{channel.id}}">
        <img ng-src="{{channel.cover.thumbnail_url}}">
        <div class="channelTitle">{{channel.title | truncate: 25}}</div>
      </a>
      <a href="#/profile/{{channel.owner.id}}">
        <div class="channelOwnerTitle">{{channel.owner.display_name}}</div>
      </a>
    </div>
  </div>
</div>
