<div ng-controller="ChannelCtrl" id="ChannelCtrl" class="wrapper">
  <img ng-src="{{background}}" id="bgimage">
  <div class="channelheader" ng-style="windowWidth">
    <div>
      <h1>{{channel.title}}</h1>
      <div id="subscriberCount">{{channel.subscriber_count}} Subscribers</div>
      <ul id="userdetails">
        <li><img class="user-profile" ng-src="{{channel.owner.avatar_thumbnail_url}}"></li>
        <li id="curatedby"><span id="username">{{channel.owner.display_name}}</span></li>
      </ul>
      <div subscribe-button></div>
      <button ng-click="share(channel.id)">Generate Share URL</button>
    </div>
    <div class="gettheapp">
      <p>CHANNEL CREATED<br>
        WITH ROCKPACK</p>
      <button class="btn btn-blue">Get The App</button>
    </div>
  </div>
  <div id="channeloverlay">
    <div id="test"></div>
    <div ng-style="windowWidth" id="channelcontainer">
      <h1 id="videoheader" class="hidden-phone">Videos</h1>
      <div id="videoslist" infinite-scroll='load_videos()' infinite-scroll-distance='1'>
        <div ng-repeat="video in channel.videos.items" class="video">
          <video-cell></video-cell>
        </div>
      </div>
    </div>
  </div>
</div>
