<div ng-controller="HeaderCtrl" id="header" ng-style="{width: contentWidth}">
  <div id="topmenu" class="wrapper">
    <div class="leftmenu">
      <div><a href="#!/channels">CHANNELS</a></div>
      <!--<div>-->
        <!--<form id="searchform" ng-submit="fetchresults()">-->
          <!--<input type="text" placeholder="Search" id="searchfield" ng-model="searchPhrase" typeaheadMinLength="2" typeahead="result for result in searchresults($viewValue)" required typeahead-on-select="fetchresults()">-->
        <!--</form>-->
      <!--</div>-->
    </div>

    <div class="logo"><a href="#!/channels"><img ng-src="/static/assets/fullwebapp/images/logo.png"></a></div>

    <div ng-switch on="isLoggedIn" class="rightmenu">
      <div ng-switch-when=true>
        <div class="userAvatar">
          <img ng-src="{{user.details.avatar_thumbnail_url}}" ng-click="userMenu = !userMenu" src="/static/assets/fullwebapp/images/AvatarProfile.png">
          <div id="userMenuContainer" ng-show="userMenu" ng-click="userMenu = !userMenu">
            <div id="userMenuHeader">
              <div id="toparrow"></div>
              <img ng-src="{{user.details.avatar_thumbnail_url}}" src="/static/assets/fullwebapp/images/AvatarProfile.png">
              <div class="userName">
                {{user.details.display_name}}
              </div>
            </div>
            <div id="UserMenu">
              <div><a href="#!/{{user.details.id}}/profile?state=channels">My Channels</a></div>
              <div><a href="#!/{{user.details.id}}/profile?state=subscriptions">My Subscriptions</a></div>
              <div><a href="#!/settings">My Settings</a></div>
              <div class="logout" ng-click="logout()"><a>Logout</a></div>
            </div>
            <ul id="lowerMenu">
              <li><a href>About</a> •</li>
              <li><a href>Blog</a> •</li>
              <li><a href>Help</a> •</li>
              <li><a href>Terms</a> •</li>
              <li><a href>Privacy</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div ng-switch-when=false>
        <div id="toplogin"><a href="#!/login/">Login</a> or</div>
        <div id="topsignup"><a href="#!/register/">SIGN UP</a></div>
      </div>
    </div>
  </div>
</div>
