<form name="loginForm" ng-controller="LoginCtrl" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="userName" >User Name:</label>
    <div class="controls">
      <input type="text" name="userName" ng-model="username" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="Password" >Password</label>
    <div class="controls">
      <input type="password" name="Password" ng-model="password" required>
    </div>
  </div>
  <div>
    <a href="/#reset-password">Forgot your password?</a>
  </div>
  <div class="control-group">
    <button ng-click="submit()" class="btn">Submit</button>
  </div>
</form>
