<div class="wrapper">
  <form name="loginForm" ng-controller="LoginCtrl" class="loginoutbox" ng-submit="submit()">
    <div id="facebookLogin">
      <img src="/static/assets/fullwebapp/images/ButtonFacebookDefault.png" ng-click="facebook()">
    </div>
    <div id="formcontainer">
        <input type="text" name="userName" ng-model="username" required placeholder="Username">
        <div>
          <input type="password" name="Password" ng-model="password" required placeholder="Password">
          <a id="forgotPassword" href="#/reset-password">Forgot your password?</a>
        </div>
        <button class="rockpack-button">Login</button>
        <div id="registerLink">
          Not a member? <a href="#!/register">Sign Up</a>
        </div>
    </div>
  </form>
</div>
