<div class="wrapper">
  <h2>Profile View</h2>
  <ul id="userChannels">
    <li><h3>User Channels</h3></li>
    <li ng-repeat="userchannel in User.details.channels.items" id="mychannels">
      <a href="/#channel/{{User.credentials.user_id}}/{{userchannel.id}}"><img ng-src="{{userchannel.cover.thumbnail_url}}" class="channelThumbail"></a>
    </li>
  </ul>
  <ul id="userSubscriptions">
    <li><h3>User Subscriptions</h3></li>
    <li ng-repeat="subscribedchannel in User.details.subscriptions.subscribedChannels.items" id="mysubscriptions">
      <a href="/#channel/{{subscribedchannel.owner.id}}/{{subscribedchannel.id}}"><img ng-src="{{subscribedchannel.cover.thumbnail_url}}"></a>
    </li>
  </ul>
</div>

