<div ng-controller="RegisterCtrl" class="wrapper">
  <form id="registrationForm" name="registrationForm" class="loginoutbox" ng-submit="register(registrationForm)" >
    <div id="facebookLogin">
      <img src="/static/assets/fullwebapp/images/ButtonSignUpFacebook.png" ng-click="facebook()">
    </div>
    <div id="formcontainer">
      <p>or Sign Up with your Email</p>
      <input type="text" id="username" placeholder="User Name" ng-model="user.username" required>
      <input type="email" id="email" placeholder="Email" ng-model="user.email" required>
      <input type="password" id="password" placeholder="Password" ng-model="user.password" required>
      <div class="dob">
        <input type="text" id="day" placeholder="DD" ng-model="user.day" required ng-pattern="/^\d{2}$/">
        <input type="text" id="month" placeholder="MM" ng-model="user.month" required ng-pattern="/^\d{2}$/">
        <input type="text" id="year" placeholder="YYYY" ng-model="user.year" required ng-pattern="/^\d{4}$/">
      </div>
      <ul>
        <li>
          <span></span><input type="radio" id="male" name="myRadio" ng-model="user.gender" value="m"/><span></span>
          <label for="male">Male</label>
        </li>
        <li>
          <span></span><input type="radio" id="female" name="myRadio" ng-model="user.gender" value="f"/><span></span>
          <label for="female">Female</label>
        </li>
      </ul>
      <p class="additionaltext">By creating an account, I accept Rockpack’s<br>
        <a href="/tos">Terms of Service</a> and <a href="/privacy">Privacy Policy</a></p>
      <button class="rockpack-button">Signup</button>
      <p class="additionaltext">
        Already got an account? <a href="#!/login">Login</a>
      </p>
    </div>
  </form>
</div>