<div ng-controller="ResetPasswordCtrl" id="resetPassword">
  <div class="text">
    We'll send you an email with a link to reset your password
  </div>
  <hr>
  <form name="loginForm" class="form-horizontal" id="resetform">
    <div class="control-group">
      <input type="text" name="userName" ng-model="username" required placeholder="Username or email">
    </div>
    <div class="control-group">
      <button ng-click="resetPassword()" class="btn">Send Recovery Email</button>
    </div>
  </form>
  <div class="message" ng-class="{hide:response.message=='',error:response.success==false}">
    {{response.message}}
  </div>
  <a href="#/login" class="back">Back to Log in</a>
</div>