<div ng-controller="SearchCtrl">
  <div class="wrapper">
    <tabset>
      <tab heading="Videos">
        <div infinite-scroll="load_videos()" infinite-scroll-distance="1">
          <video-cell ng-repeat="video in videos.videos.items"></video-cell>
        </div>
      </tab>
      <tab heading="Channels">
        <div infinite-scroll="load_channels()" infinite-scroll-distance="1">
          <div ng-repeat="channel in channels.channels.items">
            <a href="#/channel/{{channel.owner.id}}/{{channel.id}}"><img ng-src="{{channel.cover.thumbnail_url}}"></a>
          </div>
        </div>
      </tab>
      <tab heading="Users">
        <div infinite-scroll="load_users()" infinite-scroll-distance="1">
          <div ng-repeat="user in users.users.items">
            <a href="#/{{user.id}}/profile"><img ng-src="{{user.avatar_thumbnail_url}}"></a>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
