<div ng-controller="SearchCtrl">
  <div class="wrapper">
    <input type="text" id="searchfield" ng-model="searchPhrase" typeaheadMinLength="2" typeahead="result for result in searchresults($viewValue)" required ">
    <input type="submit" ng-click="fetchresults()">
    </form>
  </div>
  <form id=searchform" >


  <div class="wrapper">
    <tabset>
      <tab heading="Videos">
        <div ng-repeat="video in videos.videos.items">
          <video-cell></video-cell>
        </div>
      </tab>
      <tab heading="Channels">
        <div ng-repeat="channel in channels.channels.items">
          <a href="/#channel/{{channel.owner.id}}/{{channel.id}}"><img ng-src="{{channel.cover.thumbnail_url}}"></a>
        </div>
      </tab>
      <tab heading="Users">
        <div ng-repeat="user in users.users.items">
          <a href="/#user/{{user.username}}/{{user.id}}"><img ng-src="{{user.avatar_thumbnail_url}}"></a>
        </div>
      </tab>
    </tabset>
  </div>
</div>
