<div class="videocell" ng-mouseleave="video.displayOverlay = false; video.showShare = false">
  <img ng-src="{{video.video.thumbnail_url}}" >
  <div class="playoverlay" ng-click="setCurrentVideo(video)"></div>
  <div class="videoShaerOverlay" ng-class="{active: video.displayOverlay}">
    <div class="addFavorite" ng-show="isloggedIn" ng-click="addToFavourites(video.id)"></div>
    <div class="addToChannel" ng-show="isloggedIn" ng-click="addToChannel(video.id)"></div>
    <div class="share" ng-click="video.showShare = true">
      <div class="shareContainer" ng-class="{shareActive: video.showShare}">
        <div class="facebookShare"  ng-click="shareFacebook(video)"></div>
        <div class="twitterShare"  ng-click="shareTwitter(currentUrl)"></div>
        <a href="mailto:" class="emailShare"  ng-click="shareTwitter(currentUrl)"></a>
      </div>
    </div>
  </div>
  <div class="videoShare" ng-mouseover="video.displayOverlay = true" ng-class="{active: video.displayOverlay}"></div>
</div>
