<div class="videocell" ng-mouseleave="video.displayOverlay = false">
  <img ng-src="{{video.video.thumbnail_url}}" ng-click="setCurrentVideo(video)">
  <div class="videoShaerOverlay" ng-class="{active: video.displayOverlay}">
    <div class="addFavorite" ng-show="isloggedIn" ng-click="addToFavourites(video.id)"></div>
    <div class="addToChannel" ng-show="isloggedIn" ng-click="addToChannel(video.id)"></div>
    <div class="share"></div>
  </div>
  <div class="videoShare" ng-click="video.displayOverlay = true" ng-class="{active: video.displayOverlay}"></div>
</div>
